<ul class="footer-nav">
		<li class="item-1 active">
			<a href="index.html">
				<span class="pic"></span>
				<p class="txt">首页</p>
			</a>
		</li>
		<li class="item-2">
			<a href="jiankangceping.html">
				<span class="pic"></span>
				<p class="txt">健康测试</p>
			</a>
		</li>
		<li class="item-3">
			<a href="suXingXuLian.html">
				<span class="pic"></span>
				<p class="txt">塑形训练</p>
			</a>
		</li>
		<li class="item-4">
			<a href="list.html">
				<span class="pic"></span>
				<p class="txt">名医问诊</p>
			</a>
		</li>
	</ul>