<div class="header clearfix">
	<div class="container">
		<a href="#" class="header-logo"></a>
		<ul class="nav">
		    <li class="active"><a href="Index.html">博饼首页</a></li>
		    <li><a href="PaiMing.html">博饼排名</a></li>
		    <li><a href="LiPinLieBiao.html">礼品兑换</a></li>
		    <li>
		    	<a href="#">其他相关<i></i></a>
				<div class="nav-sub">
					<a href="#"><span>下拉选项1</span></a>
					<a href="#"><span>下拉选项2</span></a>
					<a href="#"><span>下拉选项3</span></a>
					<a href="#"><span>下拉选项4</span></a>
				</div>
		    </li>
		    <li><a href="LianJiPiKei.html">联机PK</a></li>
		</ul>
		<div class="avatar-authority">
			<div class="avatar-box clearfix">
					<span class="pic"><img src="./upload/avatart_1.jpg" /></span>
					<span class="name">小涛涛</span>
					<i class="arrow"></i>
			</div>
			<div class="list">
				<a href="WoDeBoBing.html"><span>我的博饼</span></a>
				<a href="DuiHuanJiLu.html"><span>兑换记录</span></a>
				<a href="ZhongJiangDengJi.html"><span>中奖登记</span></a>
				<a href="#"><span>退出</span></a>
			</div>
		</div>
	</div>
</div>