@import "./scss/_funvar.scss";






body {
    background: #f1fcff;
}
.footer{
    border-top:5px solid #cce8ee;
    background:url("../images/footer.jpg") no-repeat top center;
    height:136px;
    text-align:center;
    .copyright{
        margin-top:35px;
        color:#333333;
        display:inline-block;
        background:url("../images/footer_icon_1.png") no-repeat left center;
        padding-left:90px;
        height:68px;
        line-height:68px;
        span{
            margin-right:20px;
        }
    }
}
.container {
    width: 1030px;
    padding: 0 35px 35px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
}


.banner {
    height: 799px;
    background: url("../images/banner.jpg") no-repeat top center;
}

.caption-1 {
    width: 418px;
    height: 76px;
    margin: 40px auto 0;
    background: url("../images/caption_1.png") no-repeat top center;
}

.caption-2 {
    width: 955px;
    height: 76px;
    margin: 30px auto 0;
    background: url("../images/caption_2.png") no-repeat top center;
}

.caption-3 {
    width: 885px;
    height: 76px;
    margin: 50px auto 0;
    background: url("../images/caption_3.png") no-repeat top center;
}

.mod-1 {
    border: 3px solid #d9d9d9;
    height: 435px;
    overflow: hidden;
    position: relative;
    padding-left: 220px;
    margin-top: 35px;
}

.tabs-h-1 {
    position: absolute;
    left: 0;
    width: 220px;
    height: 100%;
    &:after {
        content: "";
        height: 100%;
        width: 2px;
        background: #d9d9d9;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
    }
    li {
        height: 33.3%;
        border-bottom: 2px solid #d9d9d9;
        a {
            display: block;
            height: 100%;
            position: relative;
            z-index: 2;
            transition: all 0.35s;
            span {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                margin-top: -13px;
                color: #333333;
                font-size: 18px;
                height: 26px;
                line-height: 26px;
                transition: all 0.35s;
            }
        }
        &.active,
        &:hover {
            a {
                background: #168cc8;
                span {
                    color: #fff;
                }
            }
        }
    }
}

.tabs-b-1 {
    color: #333333;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    left: 220px;
    right: 0;
    bottom: 0;
    top: 0;
    
    visibility: hidden;
    background:#fff;
    .mCustomScrollbar {
        height: 100%;
        overflow: hidden;
        padding: 0 30px;
    }
    p {
        text-indent: 2em;
        margin-top: 15px;
    }
    &.active {
        visibility: visible;
        z-index: 10;
    }
}

.image-gallery-wrap-1-2,.image-gallery-wrap-1-3{
    width: 804px;

    .gallery {
        li {
            text-align: center;
            img {
                max-width: 100%;
                max-height:435px;
            }
        }
    }
    .lSAction {
        a {
            &.lSPrev {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_l.png") no-repeat top center;
            }

            &.lSNext {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_r.png") no-repeat top center;
            }
        }
    }

    .lSPager-wrap{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px  0px;
        position: relative;
        margin-top: -90px;
        overflow:hidden;
    }
    .lSPager-inner{
        width:100%;
        overflow:hidden;
        
    }
    .lSPager.lSGallery {
        margin-top:0 !important;
        li {
            a {
                display: block;
                height:60px;
                line-height:60px;
                background:#fff;
                border: 3px solid #fff;
                font-size:0;
                overflow:hidden;
                img{
                    display:inline-block;
                    vertical-align:middle; 
                }
            }
            &:hover {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
            &.active {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
        }
    }
}


/**
 * 
 */

.mod-2 {
    border: 3px solid #f3ba1f;
    margin-top:30px;
}

.tabs-h-2 {
    
    background: #f3ba1f;
    li {
        float: left;
        width: 33.33%;

        a {

            display: block;
            height: 65px;
            line-height: 65px;
            text-align: center;
            color: #7a5b08;
            font-size: 18px;
            font-weight: bold;
        }
        &.active {
            a {
                background: #fffbf5;
                color: #ee9126;
                text-decoration: none;
            }
        }
        &:hover {
            a {
                color: #ee9126;
            }
        }
    }
}

.tabs-b-2 {
    display: none;
    &.active {
        display: block;
    }
}

.tabs-b-2-tip {
    color: #333333;
    line-height: 30px;
    font-size: 14px;
    padding: 25px;
    p {
        text-indent: 2em;
    }
}



/**
 * 
 */
.image-gallery-wrap-3-1,
.image-gallery-wrap-3-2,
.image-gallery-wrap-3-3,
.image-gallery-wrap-4-1,
.image-gallery-wrap-4-2,
.image-gallery-wrap-4-3{
    width: 765px;
    height: 400px;
    .gallery {
        li {
            text-align: center;
            img {
                max-width: 100%;
                height: 400px;
                max-height: 100%;
            }
        }
    }
    .lSAction {
        a {
            &.lSPrev {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_l.png") no-repeat top center;
            }

            &.lSNext {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_r.png") no-repeat top center;
            }
        }
    }

    .lSPager-wrap{
        background-color: rgba(0, 0, 0, 0.5);
        // padding: 5px  5px;
        position: relative;
        margin-top: -80px;
        overflow:hidden;
    }
    .lSPager-inner{
        width:100%;
        overflow:hidden;
        
    }
    .lSPager.lSGallery {
        margin-top:0 !important;
        li {
            a {
                display: block;
                height:60px;
                line-height:60px;
                background:#fff;
                border: 3px solid #fff;
                font-size:0;
                overflow:hidden;
                img{
                    display:inline-block;
                    vertical-align:middle; 
                }
            }
            &:hover {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
            &.active {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
        }
    }
}

/**
 * mod-3
 */
.mod-3 {
    border: 2px solid #d9d9d9;
    margin: 0 25px 25px;
    position: relative;
    height: 400px;
    padding-left: 205px;
    overflow: hidden;
}

.tabs-b-3 {
    
    position:absolute;
    left:205px;
    right:0;
    bottom:0;
    top:0;
    visibility:hidden;
    &.active {
        visibility:visible;
    }
}

.tabs-h-3 {
    position: absolute;
    left: 0;
    width: 205px;
    height: 100%;
    &:after {
        content: "";
        height: 100%;
        width: 2px;
        background: #d9d9d9;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
    }
    li {
        height: 33.3%;
        border-bottom: 2px solid #d9d9d9;
        a {
            display: block;
            height: 100%;
            position: relative;
            z-index: 2;
            transition: all 0.35s;
            span {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                margin-top: -13px;
                color: #333333;
                font-size: 18px;
                height: 26px;
                line-height: 26px;
                transition: all 0.35s;
            }
        }
        &.active,
        &:hover {
            a {
                span {
                    color: #ee9126;
                }
            }
        }
    }
}



/**
 * mod-4
 */
.mod-4 {
    border: 2px solid #d9d9d9;
    margin: 0 25px 25px;
    position: relative;
    height: 400px;
    padding-left: 205px;
    overflow: hidden;
}
.tabs-b-4 {
    position:absolute;
    left:205px;
    right:0;
    bottom:0;
    top:0;
    visibility:hidden;
    &.active {
        visibility:visible;
    }
}
.tabs-h-4 {
    position: absolute;
    left: 0;
    width: 205px;
    height: 100%;
    &:after {
        content: "";
        height: 100%;
        width: 2px;
        background: #d9d9d9;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
    }
    li {
        height: 33.3%;
        border-bottom: 2px solid #d9d9d9;
        a {
            display: block;
            height: 100%;
            position: relative;
            z-index: 2;
            transition: all 0.35s;
            span {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                margin-top: -13px;
                color: #333333;
                font-size: 18px;
                height: 26px;
                line-height: 26px;
                transition: all 0.35s;
            }
        }
        &.active,
        &:hover {
            a {
                span {
                    color: #ee9126;
                }
            }
        }
    }
}

/**
 * 
 */
.image-gallery-wrap-2-3{
    width:965px;
    margin:25px auto;
    .gallery {
        margin-bottom:10px;
        li {
            text-align: center;
            img {
                max-width: 100%;
                height: 400px;
                max-height: 100%;
            }
        }
    }

    .lSAction {
        a {
            &.lSPrev {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_l.png") no-repeat top center;
            }

            &.lSNext {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_r.png") no-repeat top center;
            }
        }
    }

    .lSPager.lSGallery {
       
        li {
            a {
                display: block;
                height:60px;
                line-height:60px;
                background:#fff;
                border: 3px solid #281e11;
                font-size:0;
                overflow:hidden;
                img{
                    display:inline-block;
                    vertical-align:middle; 
                }
            }
            &:hover {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
            &.active {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
        }
    }
}

/**
 * *******
 */

.mod-5{
    border: 3px solid #78bf50;
    margin-top:30px;
    padding-bottom:30px; 
}

.tabs-h-5 {   
    background: #78bf50;
    li {
        float: left;
        width: 50%;

        a {

            display: block;
            height: 65px;
            line-height: 65px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }
        &.active {
            a {
                background: #fffbf5;
                color: #78bf50;
                text-decoration: none;
            }
        }
        
    }
}

.tabs-b-5 {
    display: none;
    &.active {
        display: block;
    }
}

.tab-b-5-tip{
    color:#333333;
    line-height:30px;
    font-size:14px;
    padding:25px;
    p{
        text-indent:2em;
    }
}

.image-gallery-wrap-5-1,.image-gallery-wrap-5-2{
    width: 965px;
    margin:0 auto;
    .gallery {
        li {
            text-align: center;
            img {
                max-width: 100%;
                height: 485px;
                max-height: 100%;
            }
        }
    }
    .lSAction {
        a {
            &.lSPrev {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_l.png") no-repeat top center;
            }

            &.lSNext {
                width: 47px;
                height: 126px;
                top: 50%;
                margin-top: -93px;
                background: url("../images/gallery_arrow_r.png") no-repeat top center;
            }
        }
    }
    .lSPager-wrap{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        position: relative;
        margin-top: -80px;
        overflow:hidden;
    }
    .lSPager-inner{
        width:100%;
        overflow:hidden;
        
    }
    .lSPager.lSGallery {
        margin-top:0 !important;
        li {
            a {
                display: block;
                height:60px;
                line-height:60px;
                background:#fff;
                border: 3px solid #fff;
                font-size:0;
                overflow:hidden;
                img{
                    display:inline-block;
                    vertical-align:middle; 
                }
            }
            &:hover {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
            &.active {
                border-radius: 0 !important;
                a {
                    border-color: #f1aa67;
                }
            }
        }
    }
}