<div class="swiper-slide slide-page-1">
   <div class="pic-1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
   <div class="pic-2 ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.75s" swiper-animate-delay="0.1s"></div>
   <div class="pic-3 ani"  swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.2s"></div>
   <div class="pic-4 ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.35s"></div>
   <div class="pic-5 ani" swiper-animate-effect="slideInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s"></div>
   <div class="pic-6 animated infinite bounce" style="animation-duration: 5s"></div>
</div>