<div class="swiper-slide slide-page-3">
    <div class="pic-1 ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s"></div>
    <div class="txt-1 com-txt-type-1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.1s">生日那天，给妈妈买什么礼物她最开心？</div>
    <div class="ani item-from-group-wrap"  swiper-animate-effect="slideInRight" swiper-animate-duration="1s" swiper-animate-delay="0.2s">
        <div class="item-from-group">
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="liwu[]">各种化妆品、漂亮衣服，让她做自由少女</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="liwu[]">必须是务实的，比如电饭煲什么的</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="liwu[]">嘴上说浪费钱，其实不管送什么她都很开心</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="liwu[]">很少给妈妈送礼物</label>
            </div>
        </div>
    </div>
    <div class="item-cell-next ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
        <span class="next-btn"></span>
    </div>
</div>