<div class="swiper-slide slide-page-5">
                    <div class="pic-1 ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s"></div>
                    <div class="txt-1 com-txt-type-1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.1s">妈妈对你撒过最大的谎是什么？
                    </div>
                    <div class="pic-2 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s"></div>
                    <div class="item-from-group ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1s" swiper-animate-delay="0.2s">
                        <div class="item-form-cell">
                            <label class="labfor">
                                <input type="radio" class="com-ipt-radio" name="sahuang[]">妈妈是超人 生病不说，一个人扛着</label>
                        </div>
                        <div class="item-form-cell">
                            <label class="labfor">
                                <input type="radio" class="com-ipt-radio" name="sahuang[]">说我是垃圾堆桶来的，还带我去看那个桶</label>
                        </div>
                        <div class="item-form-cell">
                            <label class="labfor">
                                <input type="radio" class="com-ipt-radio" name="sahuang[]">和爸爸吵架不告诉我</label>
                        </div>
                        <div class="item-form-cell">
                            <label class="labfor">
                                <input type="radio" class="com-ipt-radio" name="sahuang[]">我是我妈的小棉袄，妈妈什么都会告诉我</label>
                        </div>
                    </div>
                    <div class="item-cell-next ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                        <span class="next-btn"></span>
                    </div>
                </div>