<div class="swiper-slide slide-page-4">
    <div class="page-item-nv" >
        <div class="pic-1 ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s"></div>
        <div class="txt-1 com-txt-type-1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.1s">青春期第一次来大姨妈，妈妈是怎么做的？</div>
        <div class="item-from-group ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1s" swiper-animate-delay="0.2s">
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="dym[]">不知所措，叫我爸来看一下</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="dym[]">叫我别害怕，认真帮我科普生理知识</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="dym[]">打120</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="dym[]">已经忘记了那时候妈妈的反应</label>
            </div>
        </div>
        
    </div>
    <div class="page-item-nan" >
        <div class="pic-1 ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s"></div>
        <div class="txt-1 com-txt-type-1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.1s">你妈生气的时候，你通常都在干嘛？</div>
        <div class="item-from-group ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1s" swiper-animate-delay="0.2s">
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="[]">叫爸爸来哄她</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="[]">给她发200块红包</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="[]">偷偷瞄她一眼赶紧溜</label>
            </div>
            <div class="item-form-cell">
                <label class="labfor">
                    <input type="radio" class="com-ipt-radio" name="[]">我不知所措，宛如智障</label>
            </div>
        </div>

    </div>

    <div class="item-cell-next ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
        <span class="next-btn"></span>
    </div>



</div>