<div class="swiper-slide slide-page-2">
    <div class="pic-1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
    <div class="form-item-1 ani" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0.25s">
        <p class="animated">
            <input type="text" class="ipt-text" id="J_ipt-true-name" placeholder="请输入您的姓名" />
        </p>
    </div>
    <div class="form-item-2 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
        <label class="labfor">
            <input type="radio" class="com-ipt-radio" name="sex" checked>我是女生</label>
    </div>
    <div class="form-item-3 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
        <label class="labfor">
            <input type="radio" class="com-ipt-radio" name="sex">我是男生</label>
    </div>
    <div class="pic-2 ani" id="J_star-cs-btn" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1s" swiper-animate-delay=".75s"></div>
</div>