<div class="swiper-slide slide-page-7">
    <div class="pic-1 ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s"></div>
    <div class="txt-1 com-txt-type-1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0.1s">你有多久没回家 见妈妈了？
    </div>
    <div class="item-from-group ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1s" swiper-animate-delay="0.2s">
        <div class="item-form-cell">
            <label class="labfor">
                <input type="radio" class="com-ipt-radio" name="huijia[]">一天或者一天以内</label>
        </div>
        <div class="item-form-cell">
            <label class="labfor">
                <input type="radio" class="com-ipt-radio" name="huijia[]">一个月</label>
        </div>
        <div class="item-form-cell">
            <label class="labfor">
                <input type="radio" class="com-ipt-radio" name="huijia[]">半年</label>
        </div>
        <div class="item-form-cell">
            <label class="labfor">
                <input type="radio" class="com-ipt-radio" name="huijia[]">一年以上</label>
        </div>
    </div>


    <div class="item-tjcs-btn">
        <input type="submit" value="" class="ipt-submit" id="J_ipt-submit">
    </div>
</div>
