@import "./scss/_funvar.scss";
@import "./scss/_mDialogRem.scss";

.container {
    margin: 0 auto;
    max-width: px2rem(750px);
}

.footer {
    color: #ffffff;
    background: #1d2027;
    height: px2rem(50px);
    line-height: px2rem(50px);
    text-align: center;
}

.border-t-30 {
    border-top: px2rem(30px) solid #f4f4f4;
}

.border-b-30 {
    border-bottom: px2rem(30px) solid #f4f4f4;
}

.bgfff {
    background: #fff;
}

@import "./scss/_index.scss";

@import "./scss/_pinPaiLieBiao.scss";

@import "./scss/_souSuoJieGuo.scss";


@import "./scss/_cheXingXiangQing.scss";

@import "./scss/_pinPaiXiangQing.scss";


.brandd-banner {
   text-align: center;
    position:relative;
    padding:px2rem(30px) 0;  
    img {
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}

.brandd-count {
    background: url("../images/carddetail/bg_1.jpg") no-repeat top center;
    background-size: 100% 100%;
    height: px2rem(88px);
    line-height:px2rem(88px);
    display: flex;
    li {
        flex: 1;
        font-size: px2rem(30px);
        color: #ffffff;
        text-align: center;
        span {
            font-size: px2rem(54px);
            font-weight: bold;
        }
    }
}

.brandd-tg-info {
    color: #333333;
    padding: px2rem(30px) px2rem(30px) px2rem(20px);
    font-size: px2rem(28px);
    border-top: px2rem(10px) solid #f4f4f4;
    .list {
        li {
            position: relative;
            padding-left: px2rem(191px);
            margin-bottom: px2rem(15px);
            .lab {
                position: absolute;
                left: 0;
                top: 0;
                color: #333333;
                i {
                    width: px2rem(30px);
                    height: px2rem(30px);
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -2px;
                    margin-right: px2rem(20px);
                    background: url("../images/carddetail/tag_1.png") no-repeat top center;
                    background-size: 100% 100%;
                }
            }
            .txt-detail {
                color: #666666;
                .qa-icon {
                    width: px2rem(26px);
                    height: px2rem(26px);
                    display: inline-block;
                    vertical-align: middle;
                    background: url("../images/carddetail/tag_2.png") no-repeat top center;
                    background-size: 100% 100%;
                    margin-left: px2rem(10px);
                    margin-top: px2rem(-4px);
                }
            }
        }
    }
}


.brandd-tgbm {
    padding: 0 px2rem(30px) px2rem(10px);
    .caption {
        color: #333333;
        font-size: px2rem(32px);
        height: px2rem(78px);
        line-height: px2rem(78px);
    }
}

.brandd-tgbm-form {
    .item-cell {
        margin-bottom: px2rem(20px);
    }
    .sel {
        border: 1px solid #dbdbdb;
        background: none;
        width: 100%;
        display:block; 
        padding: px2rem(27px) px2rem(10px);
        appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        font-size: px2rem(28px);
        /* Safari 和 Chrome */
        background: #ffffff url("../images/home/arrow_sel.png") no-repeat 100% center;
    }
    .ipt-text {
        padding: px2rem(30px) px2rem(20px);
        border: 1px solid #eeeeee;
        appearance: none;
        border-radius: 0;
        font-size: px2rem(28px);
        width: 100%;
    }
    .ipt-submit {
        height: px2rem(88px);
        line-height: px2rem(88px);
        background: #ff9812;
        color: #fff;
        display: block;
        border: 0;
        background: #ff9812;
        appearance: none;
        width: 100%;
        font-size: px2rem(28px);
        &:active {
            background: darken(#ff9812, 5%);
        }
    }
}


.brandd-hdjs {
    padding: 0 px2rem(30px) px2rem(30px);
    .caption {
        color: #333333;
        font-size: px2rem(32px);
        height: px2rem(78px);
        line-height: px2rem(78px);
    }
    .soma-bd {
        color: #4c4c4c;
        font-size: px2rem(26px);
        line-height: 1.5;
        * {
            max-width: 100%;
        }
    }
}


.brandd-fixed-bottom-seat {
    height: px2rem(88px);
    line-height: px2rem(88px);
}

.brandd-fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: px2rem(88px);
    line-height: px2rem(88px);
    background: #ff9812;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: px2rem(28px);
}