<div class="dialog-lqwy" id="J_dialog-lqwy">
    <div class="com-form-1">
        <div class="item-cell">
            <input type="text" class="ipt-text" placeholder="姓名" />
        </div>
        <div class="item-cell">
            <input type="text" class="ipt-text" placeholder="联系方式" />
        </div>
        <div class="item-cell">
            <input type="submit" class="ipt-submit" value="免费领取" />
        </div>
    </div>
    <div class="com-form-tip">
        <p class="tit">小鱼网装修万元礼包：</p>
        <div class="intro">
            <p><span class="star">*</span>巴拉巴拉我是关于礼包的纯文字说明</p>
            <p><span class="star">*</span>巴拉巴拉小魔仙</p>
        </div>
    </div>
</div>
<div class="dialog-lqyhj-1" id="J_dialog-lqyhj-1">
    <div class="com-form-1">
        <div class="item-cell">
            <input type="text" class="ipt-text" placeholder="姓名" />
        </div>
        <div class="item-cell">
            <input type="text" class="ipt-text" placeholder="联系方式" />
        </div>
       
        <div class="item-cell">
            <input type="submit" class="ipt-submit" value="免费领取" />
        </div>
    </div>
</div>

<div class="dialog-lqyhj-2" id="J_dialog-lqyhj-2">
    <div class="com-form-1">
        <div class="item-cell">
            <input type="text" class="ipt-text" placeholder="姓名" />
        </div>
        <div class="item-cell">
            <input type="text" class="ipt-text" placeholder="联系方式" />
        </div>
        <div class="item-cell">
            <input type="text" class="ipt-text" placeholder="想要的优惠品牌/商家名称" />
        </div>
        <div class="item-cell">
            <input type="submit" class="ipt-submit" value="免费领取" />
        </div>
    </div>
</div>

<div class="dialog-lq-result" id="J_dialog-lqresult">
    <div class="lq-intro">已提交您的**建材优惠券申请，小编将会48小时内回复您是否申请成功，请您留意电话。</div>
    <div class="lq-close">关闭</div>
</div>