@import "./scss/_normalize.scss";
@import "./scss/_base.scss";
@import "./iconfont.css";
@import "./scss/_funvar.scss";
@import "./scss/_page-Common.scss";

@import "./scss/_page-Index.scss";

@import "./scss/_page-PaiMing.scss";


@import "./scss/_page-LiPinLieBiao.scss";


@import "./scss/_page-Mine.scss";

@import "./scss/_page-Mine-WoDeBoBing.scss";


@import "./scss/_page-ZhongJiangDengJi.scss";


@import "./scss/_page-DaPaiFuLiChouJiang.scss";

@import "./scss/_page-ZhongJiangJiLu.scss";


@import "./scss/_page-HuoDongGuiZe.scss";



@import "./scss/_page-ShangWuHeZuo.scss";


@import "./scss/_page-YaoShaiZi.scss";

@import "./scss/_page-JiangPinXiangQing.scss";



@import "./scss/_page-DengLu.scss";


.pk-home-body{
	background:url("../images/pk_home_bg.png") no-repeat top center;
	background-size: 100% 100%;
}
.pk-home-rule{
	position:absolute;
	left:0;
	bottom:px2rem(180px);
	width: 100%;
	text-align:center;
	a{
		@include font-dpr(16px);
		color:#194581;
	}
}
.pk-home-footer{
	display: flex;
	position:fixed;
	left:0;
	bottom:0;
	width: 100%;
	li{
		flex:1;
		a{
			height:px2rem(118px);
			line-height: px2rem(118px);
			display:block;
			@include font-dpr(18px);
			text-align:center;
		}
		&.item-1{
			a{
				background:#ffd511;
				color:#631c09;
			}
		}
		&.item-2{
			a{
				background:#d20007;
				color:#fff;
			}
		}
	}
}
