.container {
    width: 1100px;
    margin: 0 auto;
}

.banner {
    height: 670px;
    background: url("../images/banner_1.jpg") no-repeat top center;
}

.tit-type {
    padding-top: 50px;
    text-align: center;
    .tit {
        font-size: 40px;
    }
    .intro {
        color: #616d71;
        font-size: 16px;
        margin-top:10px;
    }
    .line {
        height: 4px;
        width: 60px;
        background: #ffb70f;
        margin: 20px auto 0;
    }
    &.type-1 {
        .tit {
            color: #323232;
        }
        .intro {
            color: #616d71;
        }
    }
    &.type-2 {
        .tit {
            color: #fff;
        }
        .intro {
            color: #fff;
        }
    }
}

.list-type-1 {
    margin-top: 70px;
    padding: 0 0 90px 65px;
    li {
        float: left;
        .pic {
            width: 165px;
            height: 181px;
            display: block;
            overflow: hidden;
            margin: 0 auto;
        }
        .txt {
            color: #323232;
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
        }
        .line {
            height: 2px;
            width: 40px;
            background: #323232;
            margin: 20px auto 0;
        }
        &.line-1 {
            height: 181px;
            width: 221px;
            background: url("../images/icon_line_1.png") no-repeat center center;
        }
        &.item-1 {
            .pic {
                background: url("../images/icon_1.png") no-repeat center center;
            }
        }
        &.item-2 {
            .pic {
                background: url("../images/icon_2.png") no-repeat center center;
            }
        }
        &.item-3 {
            .pic {
                background: url("../images/icon_3.png") no-repeat center center;
            }
        }
    }
}

.list-type-2 {
    background: url("../images/bg_1.jpg") no-repeat top center #000;
    padding-bottom:60px;
}

.ldyx-box {
    background: #fff;
    padding-bottom: 30px;
    margin-top: 55px;
}

.list-type-3{
    padding-bottom:90px;
}

.ldyx-info {
    margin: 0 30px;
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee;
    .pic {
        width: 224px;
        height: 224px;
        overflow: hidden;
        text-align: center;
        line-height: 224px;
        float: left;
        margin-right: 20px;
    }
    .name {
        color: #16c87f;
        color: #000000;
        font-size: 20px;
    }
    .count {
        color: #16c87f;
        margin-top:5px; 
    }
    .price-origin {
        text-decoration: line-through;
        color: #b2b2b2;
        margin-top: 35px;
    }
    .price-present {
        color: #d44d44;
        font-size: 16px;
        line-height:25px;
        span {
            font-size: 26px;
            b {
                font-size: 16px;
                font-weight: normal;
            }
        }
    }

    .guide-hand {
            margin-top: 20px;
        .guide-1 {
            float: left;
            margin-right:15px;
            position: relative;
            a {
                width: 175px;
                height: 45px;
                line-height:45px;
                text-align: center;
                color: #ffffff;
                overflow: hidden;
                background: #cc3333;
                display:block;
                &:hover {
                    text-decoration: none;
                    background-color: darken(#cc3333, 5%);
                }
            }
            .qrcode{
                position: absolute;
                width: 161px;
                height:162px;
                overflow:hidden;
                margin: 0 auto;
                padding: 7px;
                background:url("../images/qrcode_1.png") no-repeat top center; 
                box-shadow: 0px 10px 10px #d9d9d9;
                display: none;  
            }
            &:hover{
                 .qrcode{
                    display: block;
                 }
            }
        }
        .txt-1{
        	float:left;
        	line-height:45px;
        	color:#666666;
        	margin-right:10px; 
        }
        .guide-2{
        	line-height:45px;
        	color:#db4c40;
        }
    }
}

.ldyx-step{
    margin: 0 30px;
    padding: 20px 0 25px;
    border-bottom: 1px solid #eeeeee;
    .caption{
        color:#333333;
        font-size: 24px;
        font-weight: bold; 
    }
    ul{
        margin-top: 20px;
        li{
            height:47px;
            line-height: 47px;
            border-radius:60px;
            float: left;
            background:#ffebbb; 
            padding: 0 20px 0 8px; 
            margin-right: 20px; 
            span{
                font-size: 16px;
                color:#623a00;
                background:#fdd071;
                font-weight: bold;
                display: inline-block;
                width: 71px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                margin-top: 6.5px;
                border-radius: 30px;  
            }
        }
    }
}

.ldyx-sycj{
     margin: 0 30px;
    padding: 20px 0 25px;
  
    .caption{
        color:#333333;
        font-size: 24px;
        font-weight: bold; 
    }
    ul{
        li{
            padding: 25px 0;
            float:left;
            width: 500px;
            padding-right: 20px;
            .pic{
                width: 110px;
                height: 110px;
                overflow:hidden;
                float: left;
                margin-right: 20px;
                img{
                    width: 100%;
                    height: 100%;
                } 
            }
            .tit{
                color:#262626;
                font-size: 20px;
                height:56px;
                overflow: hidden;
                line-height: 28px; 

            }
            .addres{
                color:#666666;
                font-size:14px;
                margin-top:5px;  
            }
            .tel{
                color:#262626;
                font-size:14px; 
                margin-top:5px;  
            }
        }
    }
}

.ldyx-phone{
    margin-top: 30px;
    background: url("../images/icon_phone_1.png") no-repeat left center;
    padding-left: 30px;
    line-height: 21px;
    color:#ffffff; 
    font-size: 18px;
}

.xyqmh-list{
    padding: 0 15px;
	li{
		padding:30px;
		border:1px solid #e2e2e2;
		float:left;
        margin:30px 15px 0;
        display: inline;
		.pic{
			width:442px;
			height:193px;
			overflow:hidden;
			border-radius:10px;
		}
		.intro-detail{
			border-bottom:1px solid #eeeeee;
			padding:0 0 15px 0;
		}
		.tit{
			
			margin-top:13px;
            a{
                color:#000000;
                font-size:18px;
            }
		}
		.price-original{
			color:#b2b2b2;
			font-size:14px;
			text-decoration:line-through;
			margin-top:7px;
		}
		.price-present{
			color: #d44d44;
	        font-size: 16px;
	        line-height:25px;
	        span {
	            font-size: 26px;
	            b {
	                font-size: 16px;
	                font-weight: normal;
	            }
	        }
		}
		.tags{
			position:absolute;
			right:0;
			top:3px;
			font-size:14px;
			color:#fff;
			
			.fqmf{
				display:block;
				float:left;
				height:24px;
				line-height:24px;
				
				border-radius:25px;
				margin-right:15px;
				padding:0 7px;
				background:#16c87f;
				b{
					background:url("../images/icon_arrow_1.png") no-repeat right center;
					padding-right:22px;
					font-weight:normal;
				}
			}
			.yhgm{
				float:left;
				display:inline-block;
				height:24px;
				line-height:24px;
				border-radius:25px;
				padding:0 7px;
				background:#be534b;
				b{
					background:url("../images/icon_arrow_1.png") no-repeat right center;
					padding-right:22px;
					font-weight:normal;
				}
			}
		}
	}
	.md-list{
		padding:15px 0 0;
		.caption{
			color:#be534b;
			font-size:18px;
		}
		.item{
			position:relative;
            padding-left:33px; 
			.num{
				width:21px;
				height:21px;
				text-align:center;
				line-height:21px;
				border-radius:100%;
				overflow:hidden;
				background:#be534b;
				position:absolute;
				left:0;
				top:0;
				color:#fff;
			}
			.tit{
				color:#262626;
				font-size:16px;
                line-height: 21px;
			}
            .address{
                color:#666666;
                margin-top:6px; 
            }
		}
	}
}

.xyqmh-phone{
    margin: 30px 30px 0;
    padding-left: 30px;
    line-height:21px;
    color:#323232;
    font-size:18px;   

    background:url("../images/icon_phone_2.png")  no-repeat left center; 
}