 <a href="#" class="coms-zxkf-btn" id="J_coms-zxkf-btn">客服</a>
 <div class="coms-zxkf-dialog" id="J_coms-zxkf-dialog">
	<div class="qrcode-pic"><img src="./images/qrcode_2.jpg"></div>
	<div class="qrcode-txt">
		<p class="txt-1">博饼客服<strong>小妹<br/>私人の</strong>微信</p>
		<p class="txt-2">长按识别二维码等你来撩</p>
	</div>
	<div class="soma-close" data-roler="close"></div>
 </div>
 <script type="text/javascript">
 	(function(){
 		$(function(){
 			var kfDia=$("#J_coms-zxkf-dialog").dialogs();
	 		$("#J_coms-zxkf-btn").on("click",function(event){
	 			event.preventDefault();
	 			kfDia.show();
	 		})
	 	})
 	})()
 </script>