.lplb-tab-hd-wrap{
	background:#ed4a3d;
	padding:px2rem(20px) px2rem(30px);
}
.lpdh-lplb-box{
	display:none;
	&.active{
		display:block;
	}

}
.lplb-tab-hd{
	display:flex;
	border:1px solid #b5161a;
	border-radius:px2rem(50px);
	overflow:hidden;
	li{
		 flex:1;
		 a{
		 	display:block;
		 	height:px2rem(75px);
		 	line-height: px2rem(75px);
		 	text-align:center;
		 	color:#b5161a;
		 	@include font-dpr(16px);
		 }
		 &.active{
		 	a{
		 		background:#b5161a;
		 		color:#fff;
		 	}
		 }
	}
}

.lplb-score-bar{
	@include font-dpr(14px);
	line-height:px2rem(60px);
	.total{
		color:#ffde97;
		margin-right:px2rem(20px);
	}
	.remain{
		color:#ffffff;
	}
	.btn-rjjl{
		padding:0 px2rem(30px);
		height:px2rem(60px);
		
		border-radius:px2rem(20px);
		border:px2rem(2px) solid #fff;
		float:right;
		color:#fff;
	}
}
.lplb-pro-list{
	display:none;
	&.active{
		display:block;
	}
	li{
		background:#ffffff;
		border-radius:px2rem(5px);
		overflow:hidden;
		width:px2rem(345px);
		float:left;
		margin-top:px2rem(20px);
		
		padding-top: px2rem(10px);
		>a{
			display:block;
		}
		&:nth-child(2n+1){
			margin-right:px2rem(20px);
		}
		.pic{
			width: px2rem(230px);
			height:px2rem(230px);
			overflow:hidden;
			position:relative;
			margin:0 auto;
			img{
				    position: absolute;
				    left: 50%;
				    top: 50%;
				    -webkit-transform: translate(-50%, -50%);
				    -ms-transform: translate(-50%, -50%);
				    -moz-transform: translate(-50%, -50%);
				    max-width: 100%;
				    max-height: 100%;
			}
		}
		.name{
			color:#444444;
			@include font-dpr(14px);
			padding:0 px2rem(10px);
			margin-top:px2rem(10px);
		}
		.quantity{
			display:flex;
			@include font-dpr(14px);
			padding:px2rem(10px) px2rem(10px);
			.score{
				flex:1;
				text-align:left;
				color:#28b28b;
				@extend %text-overflow;
			}
			.remain{
				flex:1;
				text-align:right;
				color:#fc583d;
				@extend %text-overflow;
			}

		}
		.handle{
			height:px2rem(75px);
			line-height:px2rem(75px);
			overflow:hidden;
			@include font-dpr(14px);
			text-align:center;
			display:block;
			&.nobeign{
				background:#ffde97;
				color:#c0631e;
			}
			&.beigning{
				background:#b5161a;
				color:#fff;
			}
			&.hadover{
				background:#dddddd;
				color:#ffffff;
			}
		}
	}
	
}
.lplb-rule-entry{
	width:px2rem(88px);
	height:px2rem(88px);
	overflow:hidden;
	position:fixed;
	right:px2rem(10px);
	bottom:px2rem(230px);
	background-color: rgba(0,0,0,0.7);
	border-radius:50%;
	line-height:px2rem(88px);
	color:#fff;
	@include font-dpr(16px);
	text-align:center;

}

.lpdh-dpfl-box{
	display:none;
	&.active{
		display:block;
	}
	.step-progress{
		background:#fff;
		position:relative;
		padding:px2rem(40px) px2rem(40px) px2rem(30px);
		@include font-dpr(12px);
		border-bottom: 1px solid #efefef;
		.line-bg{
			position:absolute;
			left:px2rem(20px);
			top:px2rem(30px);
			right:px2rem(20px);
			background:#f3f3f3;
			height:px2rem(46px);
			border-radius:px2rem(30px);
		}
		ul{
			display:flex;
			position:relative;

			&:before{
				content:"";
				height:px2rem(14px);
				position:absolute;
				left:0;
				top:px2rem(7px);
				width:100%;
				background:#f24e53;
				border-radius:px2rem(20px);
				
			}
			li{
				flex:1;
				position:relative;
				>span{
				    width:px2rem(28px);
				    height:px2rem(28px);
				    overflow:hidden;
				    border:px2rem(6px) solid #f24d53;
				    border-radius:50%;
				    display:block;
				    background:#fff;
				    margin:0 auto;
				}
				>p{
					text-align:center;
					margin-top:px2rem(20px);
					color:#666666;
				}
			}
		}

	}
}

.lpdh-dpfl-list{
	padding:px2rem(30px) px2rem(20px) 0;
	border-top:1px solid #efefef;
	background:#fff;
	li{
		border-radius:px2rem(20px);
		overflow:hidden;
		background:#ffffff;
		border:1px solid #efefef;
		padding-bottom:px2rem(30px);
		border-bottom:1px dashed #efefef;
		margin-bottom:px2rem(40px);

		.item{

		}
		.money{
			@include font-dpr(16px);
			padding:px2rem(15px) px2rem(20px) 0;
			color:#f24e53;
			b{
				@include font-dpr(22px);
			}
		}
		.desc{
			@include font-dpr(14px);
			padding:px2rem(10px) px2rem(20px) 0;
			line-height:1.4;
			color:#adadad;
			strong{
				color:#f24e53;
				font-weight:normal;
				margin-left: px2rem(5px);
			}
		}
	}
	.soma-hd{
		height:px2rem(78px);
		line-height:px2rem(78px);
		padding:0 px2rem(20px);
		@include font-dpr(16px);
		background:#ffe574;
		color:#8a5100;
		.tit{
			float:left;
		}
		.amount{
			float:right;
			font-weight:normal;
		}
	}
	.grab-box{
            margin:px2rem(15px) px2rem(20px) 0;
            padding-right:px2rem(200px);
            position:relative;
            padding-top:px2rem(8px);
            .bar{
                position:relative;
                height:px2rem(15px);
                overflow:hidden;

                span{
                    position:absolute;
                    width:100%;
                    left:0;
                    top:0;
                    height:100%;
                    background:#f5f5f5;
                    border-radius:20px;
                }
                i{
                    height:100%;
                    background:#f68f6b;
                    display:block;
                    border-radius:20px;
                    position:relative;
                }
            }
            .num{
                position:absolute;
                right:0;
                top:0;
                @include font-dpr(14px);
                color:#666666;
               
                b{
                    color:#5dc3a1;
                    font-weight:normal;
                }
            }
        }
}

