<div class="kz-kj-listbox">
    <div class="kz-kj-con">
        <div class="soma-hd">
            <span class="line-lf"></span>
            <span class="tit">博饼记录</span>
            <span class="line-rt"></span>
        </div>
        <div class="soma-bd" id="J_iscroll-wrap">
            <div class="iscroll-inner">
                <ul id="J_recordlist">
                    <li>
                        <span class="txt">莫天仇博到了到了到了到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了到了到了到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                    <li>
                        <span class="txt">莫天仇博到了状元，积分<b>+50</b></span>
                        <b class="time">2017-06-01 12:03:34</b>
                    </li>
                </ul>
                <a href="#" class="more" id="J_iscroll-more">点击查看更多</a>
            </div>
        </div>
    </div>
    <b class="line-top"></b>
</div>
