<div class="cashcode-wrap">
	<div class="cashcode-inner">
		 <p class="caption">您的兑奖码为：768273</p>
		 <p class="form-tip">请及时填写以下资料，否则无法兑奖哦：</p>
		 <div class="forms">
		   <form method="post" id="J_cash-form">
			<div class="item"><input type="text" class="ipt-text" placeholder="姓名" data-required="true" data-descriptions="username" /></div>
			<div class="item"><input type="text" class="ipt-text" placeholder="联系方式" data-pattern="^0?1[3|4|5|7|8][0-9]\d{8}$" data-required="true" data-descriptions="phone" /></div>
			<input type="submit" value="提 交" class="ipt-submit">
			</form>
		 </div>
	</div>
	<span class="arrow arrow-tl"></span>
	<span class="arrow arrow-tr"></span>
	<span class="arrow arrow-bl"></span>
	<span class="arrow arrow-br"></span>
</div>