<div class="ct-dialog-box" id="J_dialog-contact">
    <div class="ct-dia-hd"></div>
    <div class="ct-dia-bd">
        <div class="dia-form">
            <form method="post" action="" id="J_forms">
                <div class="item">
                    <input type="text" placeholder="姓名" name="username" class="ipt-text" data-required="true" data-descriptions="username" />
                </div>
                <div class="item">
                    <input type="text" placeholder="联系方式" name="telphone" class="ipt-text" data-pattern="^0?1[3|4|5|7|8][0-9]\d{8}$" data-required="true" data-descriptions="phone" />
                </div>
                <input type="submit" class="ipt-submit" value="提交">
            </form>
            <p class="yq-tip">成功提交您的信息后，我们将有专人在最近一个 工作日联系您，请您保持手机畅通
            </p>
        </div>
    </div>
    <span class="close" data-roler='close'></span>
    <span class="decorate"></span>
    <span class="line"></span>
</div>
