<div class="ct-dialog-box" id="J_dialog-kz-suceess">
    <div class="ct-dia-hd"></div>
    <div class="ct-dia-bd">
        <div class="kz-success-dia">
            <p class="tit">开桌成功！</p>
            <div class="desc">
                <p>赶快邀请你的好友来帮你博饼吧！</p>
<p>24小时内博到目标积分就能抢奖品哟！</p>
            </div>
            <a href="#" class="btn-cofirm"  data-roler='close'>知道了</a>
        </div>
    </div>
    <span class="close" data-roler='close'></span>
    <span class="decorate"></span>
    <span class="line"></span> 
</div>
