<div class="ct-dialog-box">
    <div class="ct-dia-hd"></div>
    <div class="ct-dia-bd">
        <div class="dia-form">
            <form action="#" method="post" class="d">
                <div class="item">
                    <input type="text" placeholder="姓名" class="ipt-text" />
                </div>
                <div class="item">
                    <input type="text" placeholder="联系方式" class="ipt-text" />
                </div>
                <input type="submit" class="ipt-submit" value="提交">
            </form>
            <p class="yq-tip">成功提交您的信息后，我们将有专人在最近一个 工作日联系您，请您保持手机畅通
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
