<div class="kz-success-box">
            <div class="kz-success-inner">
                <div class="intro">
                    <span>莫天仇正在参加“香港传奇1000元代金券，线上博饼0元
抢（活动名称）”</span>的活动，博到指定积分，TA就能免费获 得奖品哟！
                </div>
                <ul class="handle">
                    <li class="score">当前积分：100 / 2000</li>
                    <li class="time">剩余时间：<span>23:59:50</span></li>
                </ul>
            </div>
            <span class="arrow arrow-tl"></span>
            <span class="arrow arrow-tr"></span>
            <span class="arrow arrow-bl"></span>
            <span class="arrow arrow-br"></span>
        </div>
        
       