@import "./scss/_funvar.scss";
@import "./scss/_index.scss";


.sr-crumb-tip {
    line-height: 25px;
    b {
        color: #ee3a3a;
        font-weight: normal;
    }
}

.sr-list-box {
    padding-bottom: 30px;
    .list {
        padding: 8px 0px 10px;
        li {
            float: left;
            margin: 0px 13px 30px;
            display: inline;
            width: 374px;
            a {
                display: block;
                position: relative;
                height: 200px;
                .pic {
                    width: 100%;
                    height: 100%;
                    display: block;
                    overflow: hidden;
                }
                .mask-1 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s;
                    z-index: 11;
                    i {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        filter: Alpha(opacity=60);
                        opacity: 0.6;
                    }
                    b {

                        z-index: 10;
                        width: 100px;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin-left: -50px;
                        margin-top: -20px;
                        line-height: 40px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        background: #ff9812;
                        border-radius: 5px;
                        label {
                            font-family: "宋体";
                        }
                    }
                }
                &:hover {
                    .mask-1 {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .txt-1 {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 10px;
                    .mask {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;

                        background: #000;
                        filter: Alpha(opacity=60);
                        opacity: 0.6;
                    }
                    b {
                        height: 33px;
                        line-height: 33px;
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        font-weight: normal;
                        display: block;
                        @extend %text-overflow;
                    }
                }
            }
            .tip-info {
                border: 1px solid #e6e6e6;
                border-top: none;
                padding: 3px 10px;
                text-align: center;
            }
            .tip-1 {
                color: #ee3a3a;
                font-size: 16px;
                margin-top: 3px;
                font-weight: bold;
                @extend %text-overflow;
            }
            .tip-2 {
                color: #666666;
                font-size: 14px;
                margin-top: 0px;
                @extend %text-overflow;
            }
        }
    }
}


.cd-mod-1 {
    border: 1px solid #e6e6e6;
    padding: 30px 20px 20px 30px;
}

.cd-gallery {
    width: 570px;
    height: 450px;
    overflow: hidden;
    float: left;
    position: relative;
    .bx-wrapper {
        border: none;
        margin: 0;
    }
    .pager {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        .bx-pager-item {
            display: inline-block;
            a {
                display: block;
                width: 28px;
                height: 8px;
                background: #ff9812;
                opacity: 0.3;
                margin: 0 3px;
                text-indent: -9999px;
                &.active {
                    background: #ff9812;
                    opacity: 1;
                }
            }
        }
    }
}

.cd-mod-1-r {
    width: 550px;
    float: right;
    .title {
        color: #4c4c4c;
        font-size: 30px;
        font-weight: bold;
    }
    .tip-yh {

        position: relative;
        font-size: 16px;
        color: #ffa632;
        margin-top: 5px;
        .txt {
            border: 1px solid #ffa632;
            padding-left: 78px;
            height: 35px;
            line-height: 35px;
            float: left;
            padding-right: 10px;
        }
        .tit {
            position: absolute;
            left: 0;
            top: 0;
            width: 58px;
            height: 36px;
            line-height: 36px;
            color: #ffffff;
            font-size: 16px;
            padding-left: 10px;
            background: url("../images/chexing/arrow_1.png") no-repeat left top;
        }
    }

    .time-djs {
        margin-top: 30px;
        background: url("../images/chexing/arrow_2.png") no-repeat right top #fff8ed;
        padding: 30px 20px 20px;
        line-height: 40px;
        .count {
            color: #4c4c4c;
            font-size: 28px;
            font-weight: bold;
            float: left;
            margin-right: 15px;
            b {

                color: #ff7d13;
            }
        }
        .times {
            color: #4c4c4c;
            float: right;
            font-size: 16px;
            .lab {
                float: left;
            }
            .time-d-box {
                float: left;
            }
        }
    }
    .tip-cx {
        position: relative;
        color: #666666;
        padding-left: 75px;
        border-bottom: 1px dashed #e6e6e6;
        padding-bottom: 10px;
        padding-top: 10px;
        .lab {
            position: absolute;
            left: 0;
            line-height: 28px;
            font-weight: bold;
            top: 10p;
        }
        .txt {
            line-height: 28px;
        }
    }

    .bm-form {

        .form-cell {
            margin-top: 24px;
            .lab {
                float: left;
                width: 80px;
                height: 42px;
                min-width: 80px;
                color: #4c4c4c;
                font-size: 16px;
                line-height: 42px;
            }
            .para-val {
                float: left;
            }
            .ipt-text {
                height: 20px;
                border: 1px solid #d5d5d5;
                padding: 10px;
                width: 340px;
            }
            .ipt-submit {
                width: 200px;
                height: 41px;
                line-height: 41px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                border: none;
                background: #ff9812;
                border-radius: 5px;
                &:hover {
                    background: darken(#ff9812, 5%);
                }
            }
            .tip-xy {
                color: #4c4c4c;
                margin-top: 3px;
                input {
                    vertical-align: middle;
                }
                a {
                    color: #ec8500;
                    text-decoration: underline;
                }
            }
        }
    }
}

/**
 * 
 */

.brandd-mod-1-l {
    width: 700px;
    float: left;
    .title {
        color: #4c4c4c;
        font-size: 30px;
        font-weight: bold;
    }
    .tip-yh {

        position: relative;
        font-size: 16px;
        color: #ffa632;
        margin-top: 5px;
        .txt {
            border: 1px solid #ffa632;
            padding-left: 78px;
            height: 35px;
            line-height: 35px;
            float: left;
            padding-right: 10px;
        }
        .tit {
            position: absolute;
            left: 0;
            top: 0;
            width: 58px;
            height: 36px;
            line-height: 36px;
            color: #ffffff;
            font-size: 16px;
            padding-left: 10px;
            background: url("../images/chexing/arrow_1.png") no-repeat left top;
        }
    }
    .time-djs {
        margin-top: 30px;
        background: url("../images/chexing/arrow_2.png") no-repeat right top #fff8ef;
        padding: 30px 20px 20px;
        line-height: 40px;
        .count {
            color: #4c4c4c;
            font-size: 28px;
            font-weight: bold;
            float: left;
            margin-right: 15px;
            b {

                color: #ff7d13;
            }
        }
        .times {
            color: #4c4c4c;
            float: right;
            font-size: 16px;
            .lab {
                float: left;
            }
            .time-d-box {
                float: left;
                .item-val{
                    color:#ff7d13;
                }
            }
        }
    }

    .form-box {
        
        margin: 30px 0 0 0px;
        .tip-warning {
            color: #ee3a3a;
            margin-top: 3px;
        }
        .item-cell {
            position: relative;
            padding-left: 75px;
            margin-bottom: 20px;
             &.item-line{
                padding-bottom:15px;
                border-bottom:1px dashed #e6e6e6;
            }
            .lab {
                position: absolute;
                left: 0;
                top: 0;
                height: 42px;
                line-height: 42px;
                width: 75px;
                color: #4c4c4c;
            }
            .sel {
                border: 1px solid #cccccc;
                height: 42px;
                width: 350px;
                padding: 5px;


                &.first {
                    margin-right: 15px;
                }
            }
            .ipt-text {
                height: 20px;
                width: 328px;
                padding: 10px;
                border: 1px solid #cccccc;
            }
            .ipt-submit {
                width: 201px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                background: #ff9812;
                border-radius: 5px;
                border: none;
                &:hover {
                    background: darken(#ff9812, 5%);
                }
            }
        }
        .tip-xy {
            color: #4c4c4c;
            margin-top: 3px;
            input {
                vertical-align: middle;
            }
            a {
                color: #ec8500;
                text-decoration: underline;
            }
        }
    }
}
.brandd-mod-1-r{
    float:left;
    margin-left:70px;
    color:#4c4c4c;
    padding-top:120px;
    .tip-1{
        color:#ee3a3a;
        margin-left:10px;
    }
    .tip-2{
        color:#ee3a3a;
        float:left;
        margin-left:10px;
        position:relative;
        &:hover{
            .d-body{
                display:block;
            }
        }
        .d-body{
            display:none;
            top:30px;
            left:50%;
            margin-left:-140px;
            .arrow-top{
                position:absolute;
                left:50%;
                margin-left:-6.5px;
                top:-9px;
                width:13px;
                height:9px;
                background:url("../images/pinpai/arrow_top_1.png") no-repeat top center;
            }
            padding:5px 10px;
            position:absolute;
           
            width:240px;
            border:1px solid #cccccc;
            background:#fff;
        }
    }
    .b-pic{
        width:300px;
        height:200px;
        line-height:200px;
        text-align:center;
        img{
            display:inline-block;
            vertical-align:middle;
            max-width:100%; 
        }
    }
}

/**
 * 车型详细页和品牌详细页共同样式
 */

.carbrand-left {
    float: left;
    width: 879px;
}

.carbrand-right {
    float: right;
    width: 302px;
}

.activity-intro {
    border: 1px solid #e6e6e6;
    .caption {
        height: 38px;
        line-height: 38px;
        padding: 0 13px;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
        color: #333333;
        background: #f9f9f9;
    }
    .soma-tit {
        height: 62px;
        margin-top: 30px;
        background: url("../images/activity/activity_intro_1.png") no-repeat top center;
    }
    .list {
        margin-top: 30px;
        padding: 0 10px;
        li {
            position: relative;
            padding-left: 65px;

            float: left;
            width: 325px;
            margin: 0 18px;
            .pic {
                width: 57px;
                height: 57px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -28.5px;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .tit {
                font-size: 18px;
                font-weight: bold;
                color: #333333;
            }
            .txt {
                color: #666666;
                margin-top: 3px;
            }
            .info {
                padding: 15px 0;
                border-bottom: 1px dashed #ececec;
            }
            &.item-1 {
                .pic {
                    background-image: url("../images/activity/activity_intro_2.png");
                }
            }
            &.item-2 {
                .pic {
                    background-image: url("../images/activity/activity_intro_3.png");
                }
            }
            &.item-3 {
                .pic {
                    background-image: url("../images/activity/activity_intro_4.png");
                }
            }
            &.item-4 {
                .pic {
                    background-image: url("../images/activity/activity_intro_5.png");
                }
            }
            &.item-5 {
                .pic {
                    background-image: url("../images/activity/activity_intro_6.png");
                }
            }
            &.item-6 {
                .pic {
                    background-image: url("../images/activity/activity_intro_7.png");
                }
            }
        }
    }
    .soma-ft-tip {
        padding: 45px 30px 20px;
        color: #999999;
    }
}

.huddle-join {
    border: 1px solid #e6e6e6;
    margin-top: 20px;
    .caption {
        height: 38px;
        line-height: 38px;
        padding: 0 13px;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
        color: #333333;
        background: #f9f9f9;
    } //360
    .form-box {
        width: 668px;
        margin: 30px 0 0 30px;
        .tip-warning {
            color: #ee3a3a;
            margin-top: 3px;
        }
        .item-cell {
            position: relative;
            padding-left: 75px;
            margin-bottom: 20px;
            &.item-line{
                padding-bottom:15px;
                border-bottom:1px dashed #e6e6e6;
            }
            .lab {
                position: absolute;
                left: 0;
                top: 0;
                height: 42px;
                line-height: 42px;
                width: 75px;
                color: #4c4c4c;
            }
            .sel {
                border: 1px solid #cccccc;
                height: 42px;
                width: 350px;
                padding: 5px;


                &.first {
                    margin-right: 15px;
                }
            }
            .ipt-text {
                height: 20px;
                width: 328px;
                padding: 10px;
                border: 1px solid #cccccc;
            }
            .ipt-submit {
                width: 201px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                background: #ff9812;
                border-radius: 5px;
                border: none;
                &:hover {
                    background: darken(#ff9812, 5%);
                }
            }
        }
        .tip-xy {
            color: #4c4c4c;
            margin-top: 3px;
            input {
                vertical-align: middle;
            }
            a {
                color: #ec8500;
                text-decoration: underline;
            }
        }
    }
}


.other-hot-brand {
    border: 1px solid #e6e6e6;

    .caption {
        height: 38px;
        line-height: 38px;
        padding: 0 13px;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
        color: #333333;
        background: #f9f9f9;
    }
    .list {
        padding: 10px 11px 20px;
        li {
            float: left;
            padding: 0 10px;
            margin-top: 10px;
            a {
                display: block;
                width: 119px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                background: #fff4e5;
                color: #875107;
                &:hover {
                    background: darken(#fff4e5, 5%);
                }
            }
        }
    }
}

.signed-user {
    border: 1px solid #e6e6e6;
    margin-top: 20px;
    .caption {
        height: 38px;
        line-height: 38px;
        padding: 0 13px;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
        color: #333333;
        background: #f9f9f9;
    }
    .list {
        padding:0 19px;
        li {
            color: #333333;
            height:35px;
            line-height:35px;
            overflow:hidden;
            border-bottom:1px dashed #d9d9d9;
            &:last-child{
                border-bottom:none;
            }
            .name {
                float: left;
            }
            .phone {
                float: right;
            }
        }
    }
}


.hot-cartype {
    border: 1px solid #e6e6e6;
    margin-top:20px;
    .caption {
        height: 38px;
        line-height: 38px;
        padding: 0 13px;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
        color: #333333;
        background: #f9f9f9;
    }
    .list {
        width: 260px;
        margin: 0 auto;
        padding-bottom: 20px;
        li {
            float: left;
            margin: 20px 0 0;
            width: 100%;
            a {
                display: block;
                position: relative;
                height: 139px;
                .pic {
                    width: 100%;
                    height: 100%;
                    display: block;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .mask-1 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s;
                    z-index: 11;
                    i {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        filter: Alpha(opacity=60);
                        opacity: 0.6;
                    }
                    b {

                        z-index: 10;
                        width: 100px;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin-left: -50px;
                        margin-top: -20px;
                        line-height: 40px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        background: #ff9812;
                        border-radius: 5px;
                        label {
                            font-family: "宋体";
                        }
                    }
                }
                &:hover {
                    .mask-1 {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .txt-1 {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 10px;
                    .mask {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;

                        background: #000;
                        filter: Alpha(opacity=60);
                        opacity: 0.6;
                    }
                    b {
                        height: 33px;
                        line-height: 33px;
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        font-weight: normal;
                        display: block;
                        @extend %text-overflow;
                    }
                }
            }
            .tip-1 {
                color: #ee3a3a;
                font-size: 13px;
                margin-top: 3px;
                font-weight: bold;
                @extend %text-overflow;
            }
            .tip-2 {
                color: #666666;
                font-size: 12px;
                margin-top: 0px;
                @extend %text-overflow;
            }
        }
    }
}



.inside-aside-fixed{
    position:fixed;
    left:50%;
    top:400px;
    z-index:99;
    background:#fff;
   
    width:60px;
    margin-left:620px;
    .item-1{
        position:relative;
        display:block;
        &:hover{
            .soma-bd{
                display:block;
            }
        }
        .soma-tit{
            padding:15px 10px;
            display:block;
            line-height:15px;
            text-align:center;
            height:30px;
            color:#fff;
            font-weight:bold;
            background:#ff9812;
            &:hover{
                background:darken(#ff9812,5%);
            }
        }  
        .soma-bd{
            position:absolute;
            left:69px;
            top:0;
            border:1px solid #ffa42e;
            background:#fff;
            width:92px;
            padding:2px;
            display:none;
            .arrow{
                width:9px;
                height:14px;
                position:absolute;
                left:-9px;
                top:23px;
                background:url("../images/arrow_l.png")  no-repeat left top;
            }
            .pic{
                img{
                    width:100%;
                }
            }
            .txt{
                color:#ff9812;
                font-size:12px;
                line-height:15px;
                text-align:center;
            }
        }     
    }
    .item-2{
        display:none;
        margin-top:1px;
        width:60px;
        display:block;
        height:60px;
        background:url("../images/gotop.jpg") no-repeat top center;
    }
}