@import "./scss/_funvar.scss";
@import "./scss/_index.scss";


.sr-crumb-tip {
    line-height: 25px;
    b {
        color: #ee3a3a;
        font-weight: normal;
    }
}

.sr-list-box {
    padding-bottom:30px;
    .list {
        padding: 8px 0px 10px;
        li {
            float: left;
            margin: 0px 13px 30px;
            display: inline;
            width: 374px;
            a {
                display: block;
                position: relative;
                height: 200px;
                .pic {
                    width: 100%;
                    height: 100%;
                    display: block;
                    overflow: hidden;
                }
                .mask-1 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s;
                    z-index: 11;
                    i {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        filter: Alpha(opacity=60);
                        opacity: 0.6;
                    }
                    b {

                        z-index: 10;
                        width: 100px;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin-left: -50px;
                        margin-top: -20px;
                        line-height: 40px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        background: #ff9812;
                        border-radius: 5px;
                        label {
                            font-family: "宋体";
                        }
                    }
                }
                &:hover {
                    .mask-1 {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .txt-1 {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 10px;
                    .mask {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;

                        background: #000;
                        filter: Alpha(opacity=60);
                        opacity: 0.6;
                    }
                    b {
                        height: 33px;
                        line-height: 33px;
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        font-weight: normal;
                        display: block;
                        @extend %text-overflow;
                    }
                }
            }
            .tip-info{
                border:1px solid #e6e6e6;
                border-top:none;
                padding:3px 10px;
                text-align:center; 
            }
            .tip-1 {
                color: #ee3a3a;
                font-size: 16px;
                margin-top: 3px;
                font-weight: bold;
                @extend %text-overflow;
            }
            .tip-2 {
                color: #666666;
                font-size: 14px;
                margin-top: 0px;
                @extend %text-overflow;
            }
        }
    }
}


.cd-mod-1{
    border:1px solid #e6e6e6;
    padding:30px;
}
.cd-gallery{
    width:570px;
    height:450px;
    overflow:hidden;
    float:left;
    position:relative;
    .bx-wrapper {
        border: none;
        margin: 0;
    }
    .pager {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        .bx-pager-item {
            display: inline-block;
            a {
                display: block;
                width: 28px;
                height: 8px;
                background: #443620;
                opacity: 0.3;
                margin: 0 3px;
                text-indent: -9999px;
                &.active {
                    background: #fff;
                    opacity: 0.3;
                }
            }
        }
    }
}