<div class="coms-buy-Dialog" id="J_coms-buy-Dialog" >
		<div class="soma-hd">
				<span class="tit">兑换确认</span>
		</div>
		<div class="soma-bd">
			<form action="DuiJiangJieGuo.html" method="post">
			<div class="item">
				<span class="para-tit">数量</span>
				<div class="para-val">
					 <span class="plus"></span>
					 <input type="numer" class="coms-field-text ipt-count" value="1">
					 <span class="reduce"></span>
				</div>
			</div>
			<div class="item">
				<span class="para-tit">所需积分</span>
				<div class="para-val"><span class="score">35分</span></div>
			</div>
			<ul class="guide-btns">
				<li><a href="#" class="coms-cbtn cbtn-default cbtn-full" id="J_coms-buy-cancel">取消</a></li>
				<li><button class="coms-cbtn cbtn-danger cbtn-full" id="J_coms-buy-confirm">确认</button></li>
			</ul>
			</form>
		</div>
		<span class="close" id="J_coms-buy-close"></span>
</div>
<div class="coms-buy-shadow" id="J_coms-buy-shadow"></div>




<script src="js/jpxq.js"></script>

