<div class="footer">
		<ul class="list">
			<li class="item-1 active">
				<a href="Index.html">
					<span class="pic-normal"></span>
					<p class="txt">博饼</p>
					<p class="pic-hover"></p>
				</a>
			</li>
			<li class="item-2">
				<a href="PaiMing.html">
					<span class="pic-normal"></span>
					<p class="txt">排名</p>
					<p class="pic-hover"></p>
				</a>
			</li>
			<li class="item-3">
				<a href="#" class="pic-normal"></a>
			</li>
			<li class="item-4">
				<a href="LiPinLieBiao.html">
					<span class="pic-normal"></span>
					<p class="txt">礼品</p>
					<p class="pic-hover"></p>
				</a>
			</li>
			<li class="item-5">
				<a href="Mine.html">
					<span class="pic-normal"></span>
					<p class="txt">我的</p>
					<p class="pic-hover"></p>
				</a>
			</li>
		</ul>
    </div>