@import "./scss/_base.scss";
@import "./scss/_funvar.scss";


.container{
	width:px2rem(750px);
	margin: 0 auto; 
}

.banner{
	img{
		max-width: 100%;
	}
}
.h-mod-1{
	.tit{
		text-align:center;
		font-weight:px2rem(32px);
		color:#1a1a1a;   
	}
	.txt{
		text-align: center;
		color:#666666;
		font-size:px2rem(24px);
		line-height:px2rem(48px);   
	}
}

