@import "./scss/_base.scss";
@import "./scss/_funvar.scss";
@import "./scss/mDialogRem.scss";


.container {
    width: px2rem(750px);

    margin: 0 auto;
}

.banner {
    text-align: center;
    img {
        max-width: 100%;
    }
}

.h-mod-1 {
    .tit {
        text-align: center;
        font-size: px2rem(32px);
        color: #1a1a1a;
        margin-top: px2rem(15px);
    }
    .txt {
        margin-top: px2rem(15px);
        text-align: center;
        color: #666666;
        font-size: px2rem(24px);
        line-height: px2rem(48px);
    }
}

.h-mod-2 {
    margin: 20px 25px auto;
    padding-bottom: 30px;

    table {
        border: 1px solid #e4e4e4;
        width: 100%;
    }
    td {
        padding: px2rem(25px) px2rem(20px);
        border: 1px solid #e4e4e4;
    }
    .intro {
        margin-top: px2rem(15px);
        text-align: center;
        font-size: px2rem(24px);
        text-align: center;
        line-height: px2rem(48px);
        color: #666666;
    }

    .h-intro-1 {
        text-align: center;
        span {
            padding-right: px2rem(20px);
        }
    }
    .h-intro-2 {
        li {
            float: left;
            width: 50%;
            text-align: left;
        }
    }
}

.tit-type-1 {
    color: #1a1a1a;
    font-size: px2rem(24px);
    text-align: center;
    font-weight: bold;
}

.h-tip-1 {
    position: relative;
    font-size: px2rem(24px);
    padding-left: px2rem(70px);
    margin-top: px2rem(22px);
    line-height: px2rem(48px);
    .lab {
        position: absolute;
        left: 0;
        top: 0;
        color: #1a1a1a;
    }
    .txt {
        color: #666666;
    }
}

.h-mod-3 {
    background: #f6f6f6;
    padding-top: px2rem(40px);
    padding-bottom: px2rem(60px);
    color: #1a1a1a;
    .tit {
        text-align: center;
        font-size: px2rem(32px);
    }
}

.swiper-slide-1 {
    margin: px2rem(30px) px2rem(25px) 0;
    .swiper-slide {
        .pic {
            text-align: center;
            font-size: 0;
            img {
                width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }
        }
        .txt {
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            right: 0;
            font-size: px2rem(28px);
            padding: 0 px2rem(170px) 0 px2rem(15px);
            height: px2rem(88px);
            line-height: px2rem(88px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: rgba(0, 0, 0, 0.8);
        }
    }
    .swiper-pagination {
        text-align: right;
        bottom: px2rem(40px) !important;
        height: px2rem(20px);
        line-height: px2rem(20px);
        padding-right: px2rem(12px);
    }
    .swiper-pagination-bullet {
        background: #ffffff;
        opacity: .3;
        vertical-align: middle;
        width: px2rem(16px);
        height: px2rem(16px);
        &.swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
}

.h-mod-3-video {
    width: px2rem(700px);
    margin: px2rem(40px) auto 0;
    overflow: hidden;
    text-align: center;
    img,
    iframe {
        max-width: 100%;
    }
}


.h-mod-4 {
    padding-top: px2rem(40px);
    .tit {
        text-align: center;
        font-size: px2rem(32px);
        color: #1a1a1a;
    }
    .list {
        padding: 0 px2rem(5px);
        margin-top: px2rem(20px);
        li {
            border: 1px solid #e4e4e4;
            float: left;
            margin: px2rem(15px) px2rem(18px);
            display: inline;
            width: px2rem(210px);
            height: px2rem(76px);
            line-height: px2rem(76px);
            overflow: hidden;
            text-align: center;
            font-size: 0;
            img {
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }
        }
    }
}



.foot-fixed-bottom-seat {
    height: px2rem(100px);
}

.foot-fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background: #fff;
    height: px2rem(85px);
    line-height: px2rem(85px);
    border-top: 1px solid #e4e4e4;
    box-shadow: 0 0 10px #e5e5e5;
    z-index: 10;
    li {
        flex: 1;
        border-right: 1px solid #e4e4e4;
        a {
            color: #1a1a1a;
            font-size: px2rem(24px);
            text-align: center;
            display: block;
        }
        &.active {
            a {
                color: #0b9edb;
            }
        }
    }
}


//*******************
.banner-list {
    text-align: center;
    img {
        max-width: 100%;
    }
}

.seach-sort-box {
    padding: px2rem(15px) px2rem(20px);
    .sort-item {
        float: left;
        border: 1px solid #e4e4e4;
        height: px2rem(50px);
        line-height: px2rem(50px);
        font-size: px2rem(22px);
        color: #1a1a1a;
        width: px2rem(173px);
        text-align: center;
        margin-right: px2rem(28px);
        i {
            width: px2rem(11px);
            height: px2rem(22px);
            display: inline-block;
            overflow: hidden;
            margin-left: px2rem(7px);
            background: url("../images/sort_nr.png") no-repeat top center;
            background-size: 100% 100%;
            vertical-align: middle;
            margin-top: -2.5px;
        }
        &.desc {
            i {
                background: url("../images/sort_dw.png") no-repeat top center;
                background-size: 100% 100%;
            }
        }
        &.asc {
            i {
                background: url("../images/sort_up.png") no-repeat top center;
                background-size: 100% 100%;
            }
        }
    }
}

.seach-box {
    float: right;

    .ipt-text {
        appearance: none;
        border: none;
        border-radius: 0;
        border: 1px solid #e4e4e4;
        border-right: 0;
        float: left;
        height: px2rem(50px);
        width: px2rem(200px);
        padding: px2rem(10px) px2rem(8px);
        font-size: px2rem(22px);
    }
    .ipt-submit {
        appearance: button;
        border-radius: 0;
        float: left;
        height: px2rem(50px);
        background: #4bbff0;
        border: none;
        color: #ffffff;
        width: px2rem(94px);
        font-size: px2rem(22px);
    }
}

.tp-list-1 {
    padding-top: px2rem(35px);
    clear: both;
    li {
        width: px2rem(338px);
        margin: 0 px2rem(15px) px2rem(25px);
        background: #fff;
        padding: px2rem(5px);
        float: left;
        position: relative;
        border: 1px solid #e9e9e9;
        .pic {
            width: px2rem(326px);
            height: px2rem(232px);
            line-height: px2rem(232px);
            overflow: hidden;
            font-size: 0;
            text-align: center;
            a {
                display: block;
            }
            img {
                @extend %imgCenter;
            }
        }
        .num {
            position: absolute;
            left: px2rem(22px);
            top: px2rem(22px);
            width: px2rem(91px);
            height: px2rem(48px);
            line-height: px2rem(48px);
            text-align: center;
            font-size: px2rem(22px);
            overflow: hidden;
            background: rgba(232, 69, 69, 0.9);
            color: #fff;
        }
        .name-ps {
            padding: px2rem(18px) px2rem(10px) 0;
            .name {
                float: left;
                color: #1ca4de;
                font-size: px2rem(24px);
            }
            .piaoshu {
                float: right;
                color: #666666;
                font-size: px2rem(24px);
                strong {
                    color: #e84545;
                    font-weight: normal;
                }
            }
        }
        .age-rank {
            padding: px2rem(10px) px2rem(10px) 0;
            font-size: px2rem(24px);
            .age {
                float: left;
                color: #666666;
            }
            .rank {
                color: #666666;
                float: right;
                strong {
                    color: #e84545;
                    font-weight: normal;
                }
            }
        }
        .tp-btn {
            font-size: px2rem(24px);
            color: #fff;
            height: px2rem(59px);
            margin: px2rem(15px) px2rem(10px);
            line-height: px2rem(59px);
            text-align: center;
            background: #4bbff0;
            display: block;
            &:hover {
                background: darken(#4bbff0, 5%);
            }
            &.disabled {
                cursor: default;
                background: #999;
                color: #ccc;
            }
        }
    }
}

.detailpage-box {
    img {
        max-width: 100%;
    }
}

.detail-intro {
    border: 1px solid #e4e4e4;
    margin: px2rem(40px) px2rem(55px) 0;
    .item-cell-1 {
        position: relative;
        margin: px2rem(25px) px2rem(50px);
        padding-left: px2rem(182px);
    }
    .avatar {
        position: absolute;
        left: 0;
        top: 0;
        width: px2rem(152px);
        height: px2rem(152px);
        line-height: px2rem(152px);
        overflow: hidden;
        border-radius: 100%;

        img {
            @extend %imgCenter;
        }
    }
    .infor-1 {}
    .infor-2 {

        strong {
            color: #e84545;
        }
        span {
            padding-right: 30px;
        }
    }
    .infor-3 {
        margin-top: px2rem(15px);
        a {
            height: px2rem(52px);
            color: #fff;
            line-height: px2rem(52px);
            text-align: center;
            background: #4bbff0;
            display: block;
            font-size: px2rem(24px);
            &.disabled {
                cursor: default;
                background: #999;
                color: #ccc;
            }
        }
    }
    .infor-1,
    .infor-2 {
        line-height: px2rem(30px);
    }
    .name {
        font-size: px2rem(28px);
        color: #1ca4de;
    }
    .age {
        color: #666666;
        font-size: px2rem(24px);
    }
    .num {
        color: #666666;
        background: #ea5757;
        font-size: px2rem(20px);
        padding: 0 px2rem(8px);
        text-align: center;
        color: #fff;
        display: inline-block;
        height: px2rem(42px);
        line-height: px2rem(42px);
    }

    .ps {
        color: #666666;
        font-size: px2rem(24px);
    }
    .rank {
        color: #666666;
        font-size: px2rem(24px);
    }


    .item-cell-2 {
        border-top: 1px solid #e4e4e4;
        font-size: px2rem(24px);
        padding: px2rem(25px) px2rem(35px);
        .tit-1 {
            color: #1a1a1a;
        }
        .intro {
            margin-top: px2rem(15px);
            color: #666666;
            line-height: 1.5;
        }
    }
}


.detail-tit-1 {
    color: #1a1a1a;
    text-align: center;
    font-size: px2rem(24px);
    font-weight: bold;
    margin-top: px2rem(40px);
}

.slide-detail-1 {
    margin: px2rem(30px) px2rem(55px) px2rem(50px);
    border: 1px solid #e4e4e4;
    padding: 0 px2rem(85px);
    position: relative;
    .count {
        color: #999999;
        position: absolute;
        right: px2rem(10px);
        top: px2rem(10px);
        font-size: px2rem(24px);
    }
    .swiper-slide {
        height: px2rem(510px);
        line-height: px2rem(510px);
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .prev-btn {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: px2rem(50px);
        height: px2rem(100px);
        overflow: hidden;
        background: url("../images/arrow_l.png") no-repeat top center;
        background-size: 100% 100%;
    }

    .next-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: px2rem(50px);
        height: px2rem(100px);
        overflow: hidden;
        background: url("../images/arrow_r.png") no-repeat top center;
        background-size: 100% 100%;
    }
}

.detail-yxgz {
    font-size: px2rem(20px);
    text-align: center;
    color: #fff;
    position: fixed;
    right: px2rem(20px);
    bottom: 10%;
    background: #4bbff0;
    width: px2rem(88px);
    height: px2rem(88px);
    .pic {
        width: px2rem(26px);
        height: px2rem(29px);
        overflow: hidden;
        display: block;
        margin: px2rem(15px) auto 0;

        background: url("../images/tpgz_icon.png") no-repeat top center;
        background-size: 100% 100%;
    }
    .txt {
        margin-top: px2rem(5px);
    }
}

.detail-yxgz-dialog {

    display: none;
    position: absolute;
    visibility: hidden;
    background: #fff;
    border-radius: px2rem(10px);
}




.dropload-scroll-box .dropload-up,
.dropload-down {
    font-size: px2rem(24px);
}

.dropload-scroll-box .dropload-down {
    height: px2rem(100px);
    line-height: px2rem(100px);
}

.dropload-scroll-box .dropload-refresh,
.dropload-scroll-box .dropload-update,
.dropload-scroll-box .dropload-load,
.dropload-scroll-box .dropload-noData {
    height: px2rem(100px);
    line-height: px2rem(100px);
    color: #999;
}

.dropload-load .loading {

    height: px2rem(30px) !important;
    width: px2rem(30px) !important;
    border-radius: 100%;
    margin: px2rem(12px);
    border: px2rem(2px) solid #666;
}


//*************************
.bm-tit-1 {
    color: #1a1a1a;
    font-size: px2rem(32px);
    text-align: center;
    margin-top: px2rem(25px);
}

.bm-form-box {
    margin: px2rem(30px) px2rem(60px) 0;
    font-size: px2rem(32px);
    .ipt-text {
        -webkit-appearance: none;
        outline: none;
        width: 100%;
        border: 1px solid #e4e4e4;
        padding: px2rem(18px) px2rem(20px);
        border-radius: 0;
        font-size: px2rem(32px);
    }
    .ipt-textarea {
        font-size: px2rem(32px);
        -webkit-appearance: none;
        outline: none;
        border-radius: 0;
        width: 100%;
        height: px2rem(150px);
        border: 1px solid #e4e4e4;
        padding: px2rem(18px) px2rem(20px);
    }
    .sel {
        font-size: px2rem(32px);
        color: #999;
        border: 1px solid #e4e4e4;
        -webkit-appearance: none !important;
        -webkit-border-radius: 0;
        border-radius: 0;

        padding: px2rem(22px) px2rem(20px);

        width: 100%;

        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #ffffff url("../images/select_arrow.png") no-repeat 100% center;
    }
    .item-cell {
        margin-bottom: px2rem(30px);
    }
    .item-submit {
        padding-top: px2rem(30px);
        margin-bottom: px2rem(70px);
        .ipt-submit {
            -webkit-appearance: none;
            outline: none;
            border-radius: 0;
            background: #4bbff0;
            border: 1px solid #4bbff0;
            width: px2rem(630px);
            height: px2rem(88px);
            line-height: px2rem(88px);
            text-align: center;
            color: #fff;
            font-size: px2rem(28px);
        }
    }
}

.upload-box-1 {
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    width: px2rem(260px);
    height: px2rem(260px);
    margin: 0 auto;
    position: relative;

    .pic-wrap {
         position: absolute;
        left: 0;
        top: 0;
        
        width: px2rem(260px);
        height: px2rem(260px);
        border-radius:100%; 
        overflow: hidden; 
        border:1px solid #e5e5e5;
        img{
            max-width:100%;
            max-height: 100%;
            @include vhcenter; 
        }
    }

    .file {
       
        background-size: 100% 100%;
        width: px2rem(260px);
        height: px2rem(260px);
        display: block;
        position:relative;
        z-index: 10; 
        .ipt-file {
            position: absolute;
            font-size: px2rem(200px);
            right: 0;
            top: 0;
            opacity: 0;
        }
    }
    .load{
        width: px2rem(70px);
        height: px2rem(70px);
        position:absolute;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        left:50%;
        top:50%;
        display:none; 
        background:url("../images/loading-2.gif") no-repeat top center;
        background-size:100% 100%;
    }
}

// .bm-file-1 {
//     position: relative;
//     display: block;

//     background: url("../images/bm_file_1.png") no-repeat top center;
//     background-size: 100% 100%;

//     overflow: hidden;

//     text-decoration: none;
//     text-indent: 0;
//     width: px2rem(260px);
//     height: px2rem(260px);
//     margin: 0 auto;
// }

// .bm-file-1 input {
//     position: absolute;
//     font-size: 100px;
//     right: 0;
//     top: 0;
//     opacity: 0;
// }


.bm-file-2 {
    position: relative;
    display: block;

    background: url("../images/bm_file_2.png") no-repeat top center;
    background-size: 100% 100%;

    overflow: hidden;

    text-decoration: none;
    text-indent: 0;
    width: px2rem(630px);
    height: px2rem(260px);
    margin: 0 auto;
}

.bm-file-2 input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.cszp-list {
    li {
        font-size: 0;
        border: 1px dashed #e4e4e4;
        position: relative;
        margin-bottom: px2rem(20px);
        .pic{
            width:px2rem(628px);
            height:px2rem(258px);  
            img {
                width: 100%;
                max-height: 100%;
            }
        }
        
        .del {
            position: absolute;
            right: px2rem(25px);
            top: px2rem(25px);
            width: px2rem(60px);
            height: px2rem(60px);
            line-height: px2rem(60px);
            text-align: center;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.5);
            i {
                width: px2rem(24px);
                display: inline-block;
                vertical-align: middle;
                height: px2rem(32px);
                background: url("../images/del_1.png") no-repeat top center;
                background-size: 100% 100%;
            }
        }
        .load{
            width: px2rem(70px);
            height: px2rem(70px);
            position:absolute;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            left:50%;
            top:50%;
            display:none; 
            background:url("../images/loading-2.gif") no-repeat top center;
            background-size:100% 100%;
        }
    }
}

.adv-box-1 {
    width: px2rem(700px);
    height: px2rem(120px);
    margin: px2rem(10px) auto px2rem(25px);
}