%text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

a {
    text-decoration: none;
}

@function px2rem($px, $base-font-size:75px) {
    @if (unitless($px)) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
        @return px2rem($px + 0px); // That may fail.
    }
    @else if (unit($px)==rem) {
        @return $px;
    }
    @return ($px / $base-font-size) * 1rem;
}

@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

body {
    background: #fff8ef;
}


.footer {
    padding: px2rem(40px) 0;
    text-align: center;
    color: #666;
    @include font-dpr(15px);
    a {
        color: #0080ff;
        margin-left: px2rem(20px);
    }
}

.container {
    max-width:px2rem(750px);
    margin: 0 auto;
    padding: 0 px2rem(30px);
}

.head-banner {
    text-align: center;
    img {
        width: 100%;
        vertical-align: top;
    }
}

.tc-tit {
    height: px2rem(70px);
    background: url("../images/tit_type_1_bg.png") no-repeat top center;
    background-size: auto 100%;
    line-height: px2rem(70px);
    color: #fff;
    @include font-dpr(22px);
    margin-top: px2rem(30px);
    text-align: center;
}

.prizes-list {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: px2rem(25px);
    @include font-dpr(16px);
    li:nth-child(1) {
        flex: 4;
        -webkit-flex:4;
        text-align: left;
        color: #a54c11;
    }
    li:nth-child(2) {
        flex: 1;
        -webkit-flex:4;
        text-align: right;
        color: #269f15;
    }
}

.btn-kz {
    height: px2rem(90px);
    line-height: px2rem(90px);
    background: url("../images/kaizhuang_btn.png") no-repeat top center;
    background-size: 100% 100%;
    display: block;
    color: #5d0d04;
    @include font-dpr(19px);
    text-decoration: none;
    margin-top: px2rem(35px);
    text-align: center;
}

.activity-desc-wrap {
    background: #fff0dc;
    padding: px2rem(7px);
    position: relative;
    margin-top: px2rem(30px);
    .arrow {
        position: absolute;
        width: px2rem(22px);
        height: px2rem(24px);
        overflow: hidden;
        background-image: url("../images/activity_arrow.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        &.arrow-tl {
            left: px2rem(7px);
            top: px2rem(7px);
            background-position: 0 0;
        }
        &.arrow-tr {
            right: px2rem(7px);
            top: px2rem(7px);
            background-position: 0 px2rem(-24px);
        }
        &.arrow-bl {
            left: px2rem(7px);
            bottom: px2rem(7px);
            background-position: 0 px2rem(-49px);
        }
        &.arrow-br {
            right: px2rem(7px);
            bottom: px2rem(6px);
            background-position: 0 px2rem(-73px);
        }
    }
}

.activity-desc-inner {
    border: px2rem(3px) solid #f35f42;
    padding: px2rem(20px) px2rem(20px) px2rem(30px);
    @include font-dpr(16px);
    .pic {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 37.4%;
        span {
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            background: url("../images/activity_1.jpg") no-repeat;
            background-size: 100% 100%;
        }
    }
    ul {
        padding-top: px2rem(15px);
        li {
            position: relative;
            padding-left: px2rem(52px);
            margin-top: px2rem(20px);
            line-height: px2rem(45px);
            color: #a54c11;
            >span {
                width: px2rem(29px);
                height: px2rem(32px);
                line-height: px2rem(32px);
                position: absolute;
                left: 0;
                top: px2rem(5px);
                overflow: hidden;
                background: url("../images/activity_num.png") no-repeat;
                background-size: 100% auto;
                text-align: center;
                color: #fff;
                @include font-dpr(15px);
            }
        }
    }
}

.ranking-box {
    background: #ff3137;
    margin-top: px2rem(30px);
    padding-bottom: px2rem(40px);
    .soma-hd {
        display: -webkit-flex;
        display: flex;
        text-align: center;
        height: px2rem(100px);
        line-height: px2rem(100px);
        padding: 0 px2rem(25px);
        background: #d91d1d;
        >span {
            @include font-dpr(19px);
            color: #720000;
            &:nth-child(1) {
                -webkit-flex: 1;
                flex: 1;
            }
            &:nth-child(2) {
                -webkit-flex: 3;
                flex: 3;
            }
            &:nth-child(3) {
                -webkit-flex: 1;
                flex: 1;
            }
        }
    }
    .soma-bd {
        padding: 0 px2rem(25px);
        li {
            display: -webkit-flex;
            display: flex;
            line-height: px2rem(62px);
            padding: px2rem(15px) 0;
            border-bottom: 1px dashed #cd1a1a;
            &:last-child {
                border-bottom: none;
            }
            >span {
                text-align: center;
                @include font-dpr(19px);
                color: #ffffff;
                &:nth-child(1) {
                    -webkit-flex: 1;
                    flex: 1;
                }
                &:nth-child(2) {
                    -webkit-flex: 3;
                    flex: 3;
                }
                &:nth-child(3) {
                    -webkit-flex: 1;
                    flex: 1;
                }
                &.name {
                    @extend %text-overflow;
                    padding: 0 px2rem(5px);
                }
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                >span {
                    .rank {
                        width: px2rem(29px);
                        height: px2rem(50px);
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 10px;
                        left: auto;
                    }
                }
            }
            &:nth-child(1) {
                >span {
                    .rank {
                        background: url("../images/rank_1.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            &:nth-child(2) {
                >span {
                    .rank {
                        background: url("../images/rank_2.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            &:nth-child(3) {
                >span {
                    .rank {
                        background: url("../images/rank_3.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            .avatar {
                .rank {
                    width: px2rem(31px);
                    height: px2rem(31px);
                    line-height: px2rem(31px);
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: middle;
                    background: #ffde00;
                    font-weight: normal;
                    text-align: center;
                    color: #bc3100;
                    border-radius: 5px;
                    position: relative;
                    left: px2rem(-5px);
                    @include font-dpr(16px);
                }
                .pic {
                    width: px2rem(62px);
                    height: px2rem(62px);
                    display: inline-block;
                    vertical-align: middle;
                    overflow: hidden;
                    border-radius: 50%;
                    border: px2rem(3px) solid #ff9497;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .pagination-dir {
        display: -webkit-flex;
        display: flex;
        margin-top: px2rem(20px);
        >li {
            -webkit-flex: 1;
            flex: 1;
            padding: 0 px2rem(20px);
            a {
                background: url("../images/pagedir_btn.png") no-repeat top center;
                background-size: 100% 100%;
                display: block;
                height: px2rem(80px);
                line-height: px2rem(80px);
                text-align: center;
                color: #5d0d04;
                @include font-dpr(16px);
                text-decoration: none;
            }
        }
    }
}


/**
 * 导航
 */

.nav-fixed {
    position: fixed;
    right: px2rem(30px);
    bottom: px2rem(140px);
    z-index:50px;
    z-index:10;
    padding-bottom:px2rem(88px);
    a {
        display: block;
        width: px2rem(78px);
        height: px2rem(78px);
        line-height: px2rem(78px);
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        text-align: center;
        @include font-dpr(15px);
        color: #fff;
        margin: px2rem(10px) 0;
        &.gotop {
            background: url("../images/back_top.png") no-repeat rgba(0, 0, 0, 0.8);
            background-size: 100% 100%;
            display:none;
            position:absolute;
            left:0;
            bottom:0;
        }
    }
}


/**
 * 弹出框
 */
.layui-m-layer2 .layui-m-layercont i{
    background-color:rgba(0,0,0,0.8);
    width:px2rem(50px);
    height:px2rem(50px);
}
.layui-m-layer2 .layui-m-layercont p{
    @include font-dpr(16px);
    color:#333;
}
.layui-m-layer-msg .layui-m-layercont{
    padding:px2rem(30px) px2rem(40px);
    @include font-dpr(16px);
}

/**
 * 表单验证样式
 */

.field-invalid {
    border-color: #a94442;
}

.field-invalidmsg {
    color: #a94442;
}

.field-validmsg {
    color: #3c763d;
}

.field-tooltipWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999999999;
}

.field-tooltipInner {
    pointer-events: none;
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.field-tooltip {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.field-tooltip .field-invalidmsg,
.field-tooltip .field-validmsg {
    color: #fff;
}

.field-tooltip .zvalid-resultformat {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: px2rem(30px) px2rem(50px);
    @include font-dpr(18px);
    border-radius: px2rem(20px);
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    pointer-events: auto;
    animation-name: fieldTipBounceIn;
    -webkit-animation-name: fieldTipBounceIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .18s;
    animation-duration: .18s;
}

@-webkit-keyframes fieldTipBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.ct-dialog-shadow {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity:0;
    z-index:998;
    background-color: rgba(0, 0, 0, 0.6);
}

.ct-dialog-box {
   
    border-radius: px2rem(15px);
    background: #ffffff;
    position: absolute;
    z-index: 1;
    width: 80%;
    max-width: px2rem(700px);
    top:-100%;
    position: fixed;
    z-index: 9999;
    .line{
    	position:absolute;
    	width:2px;
    	left:50%;
    	margin-left: -1px;
    	z-index: -1;
    	background:#9396a0;
    }
    .ct-dia-hd {
        height: px2rem(96px);
        border-radius: px2rem(15px) px2rem(15px) 0 0;
        background: url("../images/ct_dialog_hd.jpg") no-repeat top center;
        background-size: 100% 100%;
    }
    .ct-dia-bd {
        padding: px2rem(25px) px2rem(30px) px2rem(25px);
    }
    .close {
        width: px2rem(60px);
        height: px2rem(60px);
        overflow: hidden;
        background: url("../images/dia_close_btn.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: px2rem(-44px/2);
        top: px2rem(-44px/2);
        z-index: 2;
    }
    .dia-form {
        .ipt-text {
            height: px2rem(80px);
            padding: px2rem(25px) px2rem(10px);
            border: 1px solid #cbcbcb;
            @include font-dpr(16px);
            width: 100%;
        }
        .item {
            margin-top: px2rem(20px);
        }
        .ipt-submit {
            margin-top: px2rem(40px);
            height: px2rem(80px);
            line-height: px2rem(80px);
            width: 100%;
            border: none;
            @include font-dpr(18px);
            color: #fff;
            background: #f33529;
            border-radius: px2rem(40px);
            cursor: pointer;
        }
        .yq-tip {
            @include font-dpr(14px);
            color: #666666;
            line-height: 1.5;
            margin-top: px2rem(25px);
        }
    }
    .decorate {
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: -27%;
        background: url("../images/dia_dz_bg.png") no-repeat top center;
        padding-bottom: 41.4%;
        background-size: 100% auto;
    }
}

/**
 * 开桌成功显示框
 */
.kz-success-box{
    background: #fff0dc;
    padding: px2rem(7px);
    position: relative;
    margin-top:px2rem(30px);
    .kz-success-inner{
        border: px2rem(3px) solid #f35f42;
        padding: px2rem(20px) px2rem(20px) px2rem(30px);
        .intro{
             @include font-dpr(16px);
             line-height:1.5;
             color:#a54c11;
             >span{
                color:#e3453d;
             }
        }
    }
    .arrow {
        position: absolute;
        width: px2rem(22px);
        height: px2rem(24px);
        overflow: hidden;
        background-image: url("../images/activity_arrow.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        &.arrow-tl {
            left: px2rem(7px);
            top: px2rem(7px);
            background-position: 0 0;
        }
        &.arrow-tr {
            right: px2rem(7px);
            top: px2rem(7px);
            background-position: 0 px2rem(-24px);
        }
        &.arrow-bl {
            left: px2rem(7px);
            bottom: px2rem(7px);
            background-position: 0 px2rem(-49px);
        }
        &.arrow-br {
            right: px2rem(7px);
            bottom: px2rem(6px);
            background-position: 0 px2rem(-73px);
        }
    }
    .handle{
        display: -webkit-flex;
        display: flex;
        margin-top:px2rem(30px);
        li{
            margin: 0 10px;
            flex:1;
            -webkit-flex: 1;
            text-align:center;
            height:px2rem(70px);
            line-height:px2rem(70px);
            @include font-dpr(15px);
            border-radius:px2rem(10px);
            color:#ffffff;
            &.score{
                
                background:#ff4a4a;
                
            }
            &.time{
                background:#55ae4c;
            }
        }
    }
}
.kz-kj-no{
    height:px2rem(90px);
    line-height:px2rem(90px);
    background:url("../images/nock_btn.png") no-repeat top center;
    background-size:100% 100%;
    text-align:center;
    color:#8f8e8e;
     @include font-dpr(18px);
     margin-top:px2rem(30px);
}
.kz-kj-listbox{
    position:relative;
    padding:0 px2rem(10px);
    margin-top:px2rem(30px);
    .line-top{
        height:px2rem(15px);
        width:100%;
        background:#eb0100;
        border-radius:px2rem(10px);
        position:absolute;
        left:0;
        top:px2rem(-15px/2);
        z-index: 1;
    }
}
.kz-kj-con{
    position:relative;
    background:#fff0dc;
    z-index: 2;
    border-radius:0 0 px2rem(15px) px2rem(15px);
    .soma-hd{
        text-align:center;
        border-bottom:1px dashed #dfb89e;
        padding:px2rem(25px) 0;
        .line-lf{
            display:inline-block;
            width:px2rem(70px);
            height:px2rem(3px);
            background:#ee231e;
            vertical-align:middle;
        }
        .tit{
            height:px2rem(70px);
            line-height:px2rem(70px);
            text-align:center;
            @include font-dpr(18px);
            background:#ee231e;
            display:inline-block;
            padding:0 px2rem(30px);
            border-radius:px2rem(30px);
            vertical-align:middle;
            margin:0 px2rem(15px);
            color:#fff;
        }
        .line-rt{
            display:inline-block;
            width:px2rem(70px);
            height:px2rem(3px);
            background:#ee231e;
            vertical-align:middle;
        }
    }
    .soma-bd{
    	position:relative;
    	height: px2rem(350px);
    	overflow: hidden;
    	ul{
	        @include font-dpr(15px);
	        li{
	            display: -webkit-flex;
	            display: flex;
	            padding:0 px2rem(15px);
	            height:px2rem(70px);
	            line-height:px2rem(70px);
	            overflow:hidden;
	            @include font-dpr(16px);
	            &:nth-child(even){
	                background:#ffe9cb;
	            }
	            .txt{
	                flex: 4;
	                -webkit-flex:4;
	                color:#a54c11;
	                @extend %text-overflow;
	                b{
	                    color:#e3453d;
	                    font-weight:normal;
	                }
	            }
	            .time{
	                font-weight:normal;
	                 flex:2;
	                -webkit-flex:2;
	                text-align:right;
	                color:#ba8659;
	            }
	           
	        }
	    }
	    .more{
	    	display: block;
	    	width: 100%;
	    	
	    	text-align: center;
	    	height: px2rem(80px);
	    	line-height:px2rem(80px); 
	    	@include font-dpr(14px);
	    	color:#d91d1d;
	    }
    }
}


/**
 * 开桌弹出框
 */
.kz-success-dia{
    padding:px2rem(10px);
    .tit{
        color:#f33529;
        @include font-dpr(28px);
        text-align:center;
         margin-top:px2rem(30px);
    }
    .desc{
        @include font-dpr(16px);
        color:#666666;
        line-height:1.5;
        text-align:center;
        margin-top:px2rem(30px);
        white-space:nowrap;
    }
    .btn-cofirm{
        height: px2rem(80px);
        line-height: px2rem(80px);
        width: 100%;
        border: none;
        @include font-dpr(18px);
        color: #fff;
        background: #f33529;
        border-radius: px2rem(40px);
        cursor: pointer;
        display:block;
        text-align:center;
        margin-top:px2rem(30px);
    }
}


.kz-share-handle{
    display: -webkit-flex;
    display: flex;
    margin-top: px2rem(20px);
    >li {
        -webkit-flex: 1;
        flex: 1;
       
        a {
            background-size: 100% 100%;
            display: block;
            height: px2rem(80px);
            line-height: px2rem(80px);
            text-align: center;
            color: #5d0d04;
            @include font-dpr(18px);
            text-decoration: none;
            background-position:top center;
            background-size:100% 100%;

            &.btn-help{
                margin-right:px2rem(20px);
                background-image: url("../images/pagedir_btn.png");
            }
            &.btn-open{
                color:#fff;
                margin-left:px2rem(20px);
                background-image: url("../images/kaizhuang_btn2.png");
            }
        }
    }
}


/**
 * 二维码弹出框
 */
.dia-qrcode-con{
    .pic{
        width:px2rem(270px);
        height:px2rem(270px);
        overflow:hidden;
        margin:px2rem(40px) auto 0;
        img{
            
            width:100%;
        }
    }
    .txt{
        text-align:center;
        line-height:1.5;
         @include font-dpr(16px);
         color:#666666;
         margin-top:px2rem(15px);
    }
    .btn-know{
        height: px2rem(80px);
        line-height: px2rem(80px);
        width: 100%;
        border: none;
        @include font-dpr(18px);
        color: #fff;
        background: #f33529;
        border-radius: px2rem(40px);
        cursor: pointer;
        display:block;
        text-align:center;
        margin-top:px2rem(30px);
    }
}

/**
 * 兑奖页面表单
 */
.cashcode-wrap{
    background: #fff0dc;
    padding: px2rem(7px);
    position: relative;
    margin-top: px2rem(30px);
    .arrow {
        position: absolute;
        width: px2rem(22px);
        height: px2rem(24px);
        overflow: hidden;
        background-image: url("../images/activity_arrow.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        &.arrow-tl {
            left: px2rem(7px);
            top: px2rem(7px);
            background-position: 0 0;
        }
        &.arrow-tr {
            right: px2rem(7px);
            top: px2rem(7px);
            background-position: 0 px2rem(-24px);
        }
        &.arrow-bl {
            left: px2rem(7px);
            bottom: px2rem(7px);
            background-position: 0 px2rem(-49px);
        }
        &.arrow-br {
            right: px2rem(7px);
            bottom: px2rem(6px);
            background-position: 0 px2rem(-73px);
        }
    }
}
.cashcode-inner{
    border: px2rem(3px) solid #f35f42;
    padding: px2rem(35px) px2rem(20px) px2rem(40px);
    .caption{
        @include font-dpr(22px);
        text-align:center;
        color:#f33529;
    }
    .form-tip{
        color:#a54c11;
        @include font-dpr(16px);
        margin-top:px2rem(40px);
        margin-bottom:px2rem(10px);
    }
    .forms{
        .item{
            margin-bottom:px2rem(20px);
        }
    }
    .ipt-text{
        height: px2rem(80px);
        padding: px2rem(25px) px2rem(10px);
        background:#fff;
        border: 1px solid #e8cca7;
        @include font-dpr(16px);
        width: 100%;
    }
    .ipt-submit{
        margin-top:px2rem(40px);
        height:px2rem(90px);
        line-height:px2rem(90px);
        display:block;
        width:100%;
        border:none;
        background:url("../images/kaizhuang_btn3.png") no-repeat top center;
        background-size:100% 100%;
         @include font-dpr(18px);
         color:#fff;
    }
}