@import "./scss/_funvar.scss";
.header1 .search-txt{
    margin: 0 !important;
}
.container {
    width: 1100px;
    margin: 0 auto;
}

.banner {
    height: 735px;
    background: url("../images/banner.jpg") no-repeat top center;
}

.mod-intro {
    height: 243px;
    background: url("../images/intro_bg.jpg") no-repeat top center;
    .tit {
        padding-top: 40px;
        color: #000000;
        font-size: 30px;
        text-align: center;
        font-weight: normal;
    }
    .detail {
        margin-top: 35px;
        color: #1a1a1a;
        font-size: 16px;
        padding: 0 30px;
        line-height: 30px;
    }
}

.mod-bm {

    height: 543px;
    padding: 37px;
    margin-top: 30px;
    background: url("../images/border_repeat.png") no-repeat top center;
    .form-box {
        float: left;
        width: 370px;
        background: #e53f37;
        height: 520px;
        .caption {
            font-size: 30px;
            text-align: center;
            color: #fff;
            padding: 25px 0;
        }
        .item {
            padding: 0 13px;
            position:relative;
            margin-bottom: 10px;
            .lab{
                position:absolute;
                padding:0 10px;
                left:13px;
                height:46px;
                line-height:46px;
                right:13px;
                top:0;
                bottom:0;
                color:#757575;
                cursor:text;
            }
        }
        .ipt-text {
            height: 24px;
            line-height: 24px;
            padding: 11px 10px;
            background: #fff;
            border: none;
            width: 324px;
        }
        .yjzx-time {
            position:relative;
            float: left;
            .ipt-text {
                width: 185px;
            }
            .lab{
                right:0;
                left:0;
            }
        }
        .cy-count {
            float: right;
            position:relative;
            .ipt-text {
                width: 110px;
            }
            .lab{
                right:0;
                left:0;
            }
        }
        .ipt-submit {
            height: 51px;
            line-height: 51px;
            width: 100%;
            display: block;
            cursor: pointer;
            margin-top: 15px;
            color: #8a3e00;
            text-align: center;
            background: #ffc600;
            border: none;
            border: none;
            &:hover {
                background-color: darken(#ffc600, 5%);
            }
        }
    }
    .zysx-box {
        width: 620px;
        float: right;
        .caption {
            color: #0e0b0a;
            font-size: 36px;
            padding: 25px 0;
            border-bottom: 1px dashed #cdcdcd;
            margin-bottom: 30px;
        }
        .detail-item {
            margin-bottom: 15px;
            .lab {
                color: #000000;
                float: left;
                font-weight: bold;
                width: 105px;
                overflow: hidden;
                i{
                    width:20px;
                    height:20px;
                    margin-right:5px;
                    display:inline-block;
                    vertical-align:middle;  
                    background-position:center;
                    background-repeat:no-repeat;    
                }
            }
            .intro-txt {
                color: #666666;
                float: left;
                width: 500px;
                overflow: hidden;
                font-size: 16px;
                .tip {
                    color: #e53f37;
                }
            }
            &.detail-item-1{
                .lab {
                    i{
                        background-image:url("../images/hd_icon_4.png"); 
                    }
                }
            }
            &.detail-item-2{
                .lab {
                    i{
                        background-image:url("../images/hd_icon_5.png"); 
                    }
                }
            }
            &.detail-item-3{
                .lab {
                    i{
                        background-image:url("../images/hd_icon_6.png"); 
                    }
                }
            }
            &.detail-item-4{
                .lab {
                    i{
                        background-image:url("../images/hd_icon_7.png"); 
                    }
                }
            }
            &.detail-item-5{
                .lab {
                    i{
                        background-image:url("../images/hd_icon_1.png"); 
                    }
                }
            }
            &.detail-item-6{
                .lab {
                    i{
                        background-image:url("../images/hd_icon_2.png"); 
                    }
                }
            }
            &.detail-item-7{
                .lab {
                    i{
                        background-image:url("../images/hd_icon_3.png"); 
                    }
                }
            }
        }
    }
}

.coms-tit-1 {
    text-align: center;
    padding-top: 40px;
    .tit {
        color: #323232;
        font-size: 38px;
        display: inline-block;
        vertical-align: middle;
    }
    .line {
        width: 123px;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        background: #313131;
    }
    .line-d {
        width: 60px;
        height: 5px;
        background: #323232;
        margin: 10px auto 0;
    }
}

.slider-box-1 {
    margin-top: 30px;
    .bx-wrapper {
        border: none;
        margin-bottom: 0;
    }
    .slider-gallery {
        width: 730px;
        height: 480px;
        overflow: hidden;
        position: relative;
        float:left;
        li{
            line-height:480px;
            img{
                max-width:100%;
                display:inline-block;
                vertical-align:middle;
            }
        }
        .pa-box {
            position: absolute;
            bottom: 0;
            z-index: 100;
            width: 100%;
            text-align: center;
            .bx-pager-item {

                display: inline-block;
                a {
                    text-indent: -9999px;
                    background: #fff;
                    opacity: 0.7;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
                    width: 16px;
                    height: 3px;
                    margin: 0 3px;
                    display: block;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
        .arrow-dir {
            position: absolute;
            top: 50%;
            width: 44px;
            height: 44px;
            margin-top: -22px;

            a {
                text-indent: -999999px;
                display: block;
                height: 100%;
                background-position:center;
                background-repeat: no-repeat;
            }
            &.arrow-l {
                left: 20px;
                a {
                    background:url("../images/arrow_dir_left.png"); 
                }
            }
            &.arrow-r {
                right: 20px;
                a {
                    background:url("../images/arrow_dir_right.png"); 
                }
            }
        }
    }
    .slider-intro {
        float: right;
        width: 320px;
        font-size: 14px;
        line-height: 24px;
        height: 430px;
        padding: 15px 10px 10px;
        border: 6px solid #323232;
        .tit01{
            font-size:18px;
            color:#323232; 
            text-align:center;
            font-weight:bold;  
            margin-bottom:10px;   
        }
        p {
            text-indent: 2em;
            margin-bottom: 20px;
        }
    }
}

.slider-box-2 {
    position: relative;
    margin-top:30px;
    .bx-wrapper {
        border: none;
        box-shadow: none;
        margin-bottom:0;
    }
     .arrow-dir {
            position: absolute;
            top: 50%;
            width: 44px;
            height: 44px;
            margin-top: -47px;

            a {
                text-indent: -999999px;
                display: block;
                height: 100%;
                background-position:center;
                background-repeat: no-repeat;
            }
            &.arrow-l {
                left: 20px;
                a {
                    background:url("../images/arrow_dir_left.png"); 
                }
            }
            &.arrow-r {
                right: 20px;
                a {
                    background:url("../images/arrow_dir_right.png"); 
                }
            }
        }
    .bxslider {
        li {
            .pic {
                width: 354px;
                height: 215px;
                line-height: 215px;
                overflow: hidden;
                img {
                    max-width: 100%;
                    
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            .txt {
                color: #333333;
                padding:0 10px;
                font-size: 16px;
                height: 54px;
                line-height: 54px;
                border-left: 1px solid #ececec;
                border-right: 1px solid #ececec;
                border-bottom: 1px solid #ececec;
                @extend %text-overflow;
            }
            a:hover{
                text-decoration:none;
                .txt{
                    color:#35a338;

                }
            }
        }
    }
}

.slider-box-3 {
    margin-top: 30px;
    .bx-wrapper {
        border: none;
        margin-bottom: 0;
    }
    .slider-gallery {
        width: 730px;
        height: 480px;
        overflow: hidden;
        position: relative;
        float:right;
         li{
            line-height:480px;
            img{
                max-width:100%;
                display:inline-block;
                vertical-align:middle;
            }
        }
        .pa-box {
            position: absolute;
            bottom: 0;
            z-index: 100;
            width: 100%;
            text-align: center;
            .bx-pager-item {

                display: inline-block;
                a {
                    text-indent: -9999px;
                    background: #fff;
                    opacity: 0.7;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
                    width: 16px;
                    height: 3px;
                    margin: 0 3px;
                    display: block;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
        .arrow-dir {
            position: absolute;
            top: 50%;
            width: 44px;
            height: 44px;
            margin-top: -22px;

            a {
                text-indent: -999999px;
                display: block;
                height: 100%;
                background-position:center;
                background-repeat: no-repeat;
            }
            &.arrow-l {
                left: 20px;
                a {
                    background:url("../images/arrow_dir_left.png"); 
                }
            }
            &.arrow-r {
                right: 20px;
                a {
                    background:url("../images/arrow_dir_right.png"); 
                }
            }
        }
    }
    .slider-intro {
        float:left;
        width: 320px;
        font-size: 14px;
        line-height: 24px;
        height: 430px;
        padding: 28px 10px 10px;
        border: 6px solid #323232;
        p {
            text-indent: 2em;
            margin-bottom: 20px;
        }
    }
}

.fwzxft-box {
    color: #333333;
    padding: 30px 0 55px;
    .guide-home {
        padding-left: 30px;
        margin-right: 30px;
        background: url("../images/fwzxft_1.png") no-repeat left center;
    }
    .phone {
        padding-left: 30px;
        margin-right: 30px;
        background: url("../images/fwzxft_2.png") no-repeat left center;
    }
    .address {
        padding-left: 30px;
        background: url("../images/fwzxft_3.png") no-repeat left center;
    }
}

   .dropdown-box{
        position:relative;
        z-index:10;
        
        .arrow{
            width:13px;
            height:9px;
            position:absolute;
            right:9px;
            top:50%;
            margin-top:-4.5px;
            background:url("../images/sel_arrow.png") no-repeat 0 0;
        }
        >cite{
            line-height:24px;
            padding: 11px 10px;
            color:#757575;
            width:324px;
            cursor:text;
            font-style:normal;
           
            display:block;
          
            position:relative;
            cursor:pointer;
            @extend %text-overflow;
            background:#fff; 
            &.active{
                color:#333;
            }
        }
        >ul{
            border:1px solid #dddddd;
            border-top:none;
            position:absolute;
            display:none;
            left:0;
            top:43px;
            width:342px;
            background:#fff;
            border-radius:0 0 4px 4px;
            &::-webkit-scrollbar {width: 6px;height:6px;}
            &::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
            &::-webkit-scrollbar-thumb{background: #aaa;min-height: 150px;min-width: 150px;border-radius: 10px;}
            &::-webkit-scrollbar-thumb:vertical:hover{background: #555555}
            &::-webkit-scrollbar-thumb:horizontal:hover{background: #555555}
            li{
                border-top:1px solid #dddddd;
                a{
                    padding-left:10px;
                    font-size:14px;
                    color:#1a1a1a; 
                    height:40px;
                    line-height:40px;
                    @extend %text-overflow;
                    overflow:hidden;
                    display:block;
                    &:hover{
                        background:#f5f5f5; 
                        text-decoration:none; 
                    }
                }
            }
        }
    }