

@-moz-keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@-ms-keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@-webkit-keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
.c-mfbj-forms {
    padding:20px 0 15px;
    .txt-1 {
        color: #33b371;
        font-size: 20px;
        text-align:center;
        margin-bottom: 5px;
    }
    .txt-2 {
        color: #666666;
        text-align:center;
        font-size: 14px;
        .num {
            color: #ff9600;
            padding:0 3px;
        }
    }
    .txt-3 {
        color: #777777;
        font-size: 14px;
        margin-top: 5px;
        .num {
            color: #33b371;
            font-size: 16px;
            padding: 0 3px;
        }
    }
   
    .form-box {
        .item-cell {
            position: relative;

            margin-top: 15px;
            .lab {
                color: #9a9a9a;
                font-size: 14px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                line-height: 40px;
                padding: 0 10px;
                cursor: text;
            }
            .ipt-text {
                border: 1px solid #f0f0f0;
                height: 20px;
                padding: 9px;
                width: 280px;
            }
        }
        .item-submit{
            position:relative;
            .icon-palm{
                position: absolute;
                right: 13px;
                bottom: -20px;
                width: 45px;
                height: 37px;
                -webkit-animation: fingerscale 500ms linear infinite alternate;
                animation: fingerscale 500ms linear infinite alternate;
                background:url("../img/sjybjdialog/shouzhang_1.png") no-repeat top center;
            }
        }
    }
    .ipt-submit {
        width: 100%;
        height: 40px;
        background: #fe5e3f;
        font-size: 16px;
        color: #fff;
        &:hover {
            background: darken(#fe5e3f, 5%);
        }
    }

    .c-mfbj-scroll{
        
        height:30px;
        line-height:30px;
        overflow:hidden;
        .list{
            position:relative;
            li{
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis; 
                color: #e8792f;
                font-size: 14px;
            }
        }
    }
}

.c-mfbj-success-wrap{
    display:none;
    background:#fff;
    width:336px;
    padding:0 20px 20px;
}

.c-mfbj-success-intro {
        border-bottom:1px solid #ededed;
        padding-bottom:15px;
        margin-bottom:15px; 
    .txt-1 {
        text-align: center;
        margin-top: 30px;
        span {
            color: #333333;
            font-size: 26px;
            display: inline-block;
            line-height: 31px;
            height: 31px;
            padding-left: 40px;
            background: url("../img/sjybjdialog/success_1.png") no-repeat left center;
        }
    }
    .txt-2 {
        color: #ed5959;
        text-align: center;
        font-size: 16px;
        margin-top: 5px;
    }
    .txt-3 {
        color: #888888;
        text-align: center;
        font-size: 14px;
        margin-top: 2px;
    }
    .pic-icon-1 {
        width: 89px;
        height: 89px;
        margin: 35px auto 0;
        background: url("../img/sjybjdialog/cicon_1.png") no-repeat left center;
    }
}

.c-mfbj-success-qrcode {
   
    
    
    .qrcode-pic {
        width: 206px;
        height: 206px;
        overflow: hidden;
        border: 1px solid #dbdbdb;
        margin: 16px auto 0;
        background: url("../img/sjybjdialog/qrcode_1.jpg") no-repeat top center;
    }
    .txt-1 {
        color: #333333;
        text-align: center;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    .txt-2 {
        color: #888888;
        font-size: 14px;
        margin-top: 15px;
        text-align: center;
    }
}





@keyframes scale-three2 {
    0% {
        transform: scale(1);
        opacity: .8
    }
    to {
        transform: scale(1.3);
        opacity: 0
    }
}

@-webkit-keyframes scale-three2 {
    0% {
        -webkit-transform: scale(1);
        opacity: .7
    }
    to {
        -webkit-transform: scale(1.3);
        opacity: 0
    }
}

.mfbj-count-form-wrap {
    padding: 40px 35px 15px;
    min-height:300px;
   
}

.mfbj-count-form-box {
    float: left;
    position:relative;
    .tit {
        color: #333333;
        font-size: 20px;
        height:32px;
        line-height:32px;
        margin-bottom: 15px;
    }
    .item-cell {
        margin-bottom: 10px;
        .lab {
            color: #333333;
            float: left;
            line-height: 40px;
            width: 80px;
            text-align: right;
            padding-right: 10px;
            font-size: 14px;
            i {
                color: #ff6d15;
                font-style: normal;
                vertical-align: middle;
                display: inline-block;
            }
        }
        .ipt-text {
            border: 1px solid #cccccc;
            height: 20px;
            font-size: 14px;
            padding: 9px;
            width: 196px; //76*3+14=242
        }
    }
    .para-val {
        float: left;
        width: 242px;
    }
    .para-mj {
        position: relative;
        .tag {
            position: absolute;
            right: 10px;
            color: #666666;
            font-size: 18px;
            top: 0;
            line-height: 40px;
            height: 40px;
        }
        .ipt-text {
            padding-right: 35px;
        }
    }
    .para-iphone {
        .ipt-text {
            width: 222px;
        }
    }
    .para-tip-1 {
        line-height: 35px;
        color: #666666;
        font-size: 14px;
    }
    .para-hx {
        .sel {
            border: 1px solid #cccccc;
            height: 40px;
            padding: 0 10px;
            width: 76px;
            float: left;
            margin-right: 7px;
            margin-bottom: 10px;
            &.sel-3 {
                margin-right: 0;
            }
            &.sel-4 {
                width: 118px;
                margin-bottom: 0;
            }
            &.sel-5 {
                margin-bottom: 0;
                width: 117px;
                margin-right: 0;
            }
        }
    }

    .validate-tip{
    	width:120px;
    	position:absolute;
    	left:50%;
    	top:50%;
    	margin-left:-60px;
    	margin-top:-20px;
    	height:40px;
    	opacity:0;
    	line-height:40px;
    	text-align:center;
    	background:#000;
    	color:#fff;
    	visibility:hidden;
    	border-radius:5px;
    	background-color:rgba(0,0,0,0.7);
    	transition:all 0.25s ease-out;
    	transform: scale3d(.3, .3, .3);
    	&.show{
    		visibility:visible;
			opacity:1;
			transform: scale3d(1, 1, 1);
    	}
    }
}

.mfbj-count-btn {
    display:block;
    margin:60px auto 0;
    width: 113px;
    height: 113px;
    position: relative;
    padding: 27px;
    span {
        width: 113px;
        height: 113px;
        display: block;
        background: #0cb46a;
        border-radius: 100%;
        float: left;
        position: relative;
        z-index: 13;
        overflow: hidden;
        transition:all 0.35s ease-out;
        b {
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            height: 36px;
            width: 40px;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -20px;
            margin-top: -18px;
            font-weight: normal;
        }
    }
    i {
        position: absolute;

        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: #ecf8f3;
        z-index: 12;
        -webkit-animation: scale-three2 1.5s ease infinite;
        animation: scale-three2 1.5s ease infinite;
        animation-fill-mode: both;
        left: 50%;
        top: 50%;
        margin-left: -65px;
        margin-top: -65px;
    }
    &:hover{
    	span{
    		background:darken(#0cb46a,5%);
    	}
    }
}



.mfbj-count-dynamics{
	float:right;
	width:340px;
	.soma-hd{
		color:#333333;
		font-size:20px;
		height:32px;
		line-height:32px;
		span{
			color:#0cb46a;
			font-size:26px;
			min-width:110px;
			padding:0 7px;
			display:inline-block;
			text-align:center; 
		}
	}
	.soma-bd{
		border:1px solid #e8e8e8;
		border-radius:10px;
		font-size:14px;
		color:#666666;
		text-align:center;
		padding:15px 0;
		margin-top:35px;
		p{
			padding:5px 0;
		}
	}
	.dynamics-num{
		width:50px;
		color:#ff6d15;
		display:inline-block;
		vertical-align:middle;
		text-align:center;
	}
}

.mfbj-count-result-wrap{
	padding: 40px 35px 15px;
	min-height:300px;
	display:none;
}


.mfbj-count-result-price{
	float:left;
	.soma-hd{
		color:#333333;
		font-size:20px;
		height:32px;
		line-height:32px;
		span{
			color:#0cb46a;
			font-size:26px;
		}
	}
	.soma-bd{
		border:1px solid #e8e8e8;
		border-radius:15px;
		width:280px;
		margin-top:30px;
		font-size:14px;
		p{
			padding:5px 0;
		}
		padding:15px 0 15px 60px;
		.price-current{
			display:inline-block;
			min-width: 60px;
			color:#ff6d15;
		}
		.price-origin{
			text-decoration:line-through;
			color:#888888;
			margin-left:20px;
		}
		
	}
}

.mfbj-count-houseinfo{
	float:right;
	margin-right:25px;
	padding-left:65px;

	background: url("../img/sjybjdialog/line_1.png") no-repeat left center;
	.soma-hd{
		.tit{
			color:#333333;
			font-size:20px;
			margin-right:10px;
		}
		b{
			color:#ff6d15;
			font-size:14px;
			font-weight:normal;
		}	
	}
	.house-form-box{
		position:relative;
		.para-lab{
			color:#888888;
			margin-top:15px;
		}
		.list-1{
			li{
				float:left;
				width:100px;
				margin-right:20px;

				.pic{
					width:65px;
					height:50px;
					background-position:center center;
					background-repeat:no-repeat;
				}
				.ipt-radio{
					display:inline-block;
					vertical-align:middle;
					margin-right:5px;
					margin-top:-2px;
				}
				&.item-1{
					.pic{
						background-image:url("../img/sjybjdialog/house_1.png");
					}
				}
				&.item-2{
					.pic{
						background-image:url("../img/sjybjdialog/house_2.png");
					}
				}
				&.item-3{
					.pic{
						background-image:url("../img/sjybjdialog/house_3.png");
					}
				}
			}
		}

		.list-2{
			margin-top:6px;
			li{
				float:left;
				margin-right:20px;
				.ipt-radio{
					display:inline-block;
					vertical-align:middle;
					margin-right:5px;
					margin-top:-2px;
				}
			}
		}

		.para-address{
			margin-top:15px;
			label{
				color:#888888;
				float:left;
				line-height:32px;
				margin-right:6px;
			}
			input{
				padding:5px 10px;
				height:20px;
				border:1px solid #e8e8e8;
			}
		}

		.ipt-submit{
			width:80px;
			height:32px;
			line-height:32px;
			text-align:center;
			background:#0cb46a;
			color:#fff;
			font-size:14px;
			margin:15px auto 0;
			display:block;
			&:hover{
				background:darken(#0cb46a,5%);
			}
		}
	}

	.validate-tip{
    	width:120px;
    	position:absolute;
    	left:50%;
    	top:50%;
    	margin-left:-60px;
    	margin-top:-20px;
    	height:40px;
    	opacity:0;
    	line-height:40px;
    	text-align:center;
    	background:#000;
    	color:#fff;
    	visibility:hidden;
    	border-radius:5px;
    	background-color:rgba(0,0,0,0.7);
    	transition:all 0.25s ease-out;
    	transform: scale3d(.3, .3, .3);
    	&.show{
    		visibility:visible;
			opacity:1;
			transform: scale3d(1, 1, 1);
    	}
    }
}




.jzhome-ft-bd .sjybj-mfbj-step1 {
    padding: 30px 40px;
}

.jzhome-ft-bd .sjybj-mfbj-step1 .area-lf {
    float: left;
    padding-left: 55px;
    min-height: 257px;
    margin-left: 107px;
    background: url("../img/sjybjdialog/line_1.png") no-repeat left center;
}

.jzhome-ft-bd .sjybj-mfbj-step1 .area-lf .pic {
    width: 354px;
    height: 293px;
    background: url("../img/sjybjdialog/img_1.png") no-repeat top center;
}

.jzhome-ft-bd .sjybj-mfbj-step2 {
    display: none;
    padding: 30px 40px;
}

.jzhome-ft-bd .c-mfbj-forms {
    padding: 0;
    float:left;
}

.jzhome-ft-bd .c-mfbj-success-intro {
    float: left;
    border-bottom:none; 
}
.jzhome-ft-bd .c-mfbj-scroll{
    max-width:300px;
    overflow: hidden; 
}

.jzhome-ft-bd .c-mfbj-success-qrcode{
    width: 475px;
    float: right;
    background: url("../img/sjybjdialog/line_1.png") no-repeat left center;
}
