@import "./styles/_.base.scss";
@import "./styles/_variables.scss";
/*
	重置头部的样式
*/

.header1 .wrap {
    width: 1098px;
    margin: 0 auto;
    background: url;
}

.wrap-container {
    border-left: 4px solid #f8f8f8;
    border-right: 4px solid #f8f8f8;
    width: 1192px;
    margin: 0 auto;
}

.wrap {
    width: 1098px;
    margin: 0 auto;
}

.header-banner {
    height: 592px;
    background: url("../images/upload/header_banner.jpg") no-repeat top center;
}

.tit-type-1 {
    height: 36px;
    padding: 10px 0;
    line-height: 36px;
    padding-left: 44px;
    border-bottom: 4px solid #efefef;
    background: url("../images/head_tit_icon.png") no-repeat left center;
    .more{
      float: right;
      font-size: 14px;
      line-height: 40px;
    }
    .txt {
        text-indent: -99999px;
        display: block;
        height: 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
        float: left;
        min-width: 200px;
    }

    .icon-zhjs {
        background-image: url("../images/icon_txt_zhjs.png");
    }

    .icon-zhzx {
        background-image: url("../images/icon_txt_zhzx.png");
    }

    .icon-zhcf {
        background-image: url("../images/icon_txt_zhcf.png");
    }

    .icon-tpsd {
        background-image: url("../images/icon_txt_tpsd.png");
    }

    .icon-zyhd {
        background-image: url("../images/icon_txt_zyhd.png");
    }

    .icon-zhdt {
        background-image: url("../images/icon_txt_zhdt.png");
    }
}

.zh-area-1 {
    margin-top: 20px;
}

.zh-intro {
    float: left;
    width: 758px;
    overflow: hidden;

    .con {
        font-size: 16px;
        color: #555555;
        line-height: 36px;
        margin-top: 9px;

        p {
            text-indent: 2em;
        }
    }
}

.zh-news {
    float: right;
    width: 321px;

    ul {
        background: #04afab;
        margin-top: 20px;

        li {
            &:last-child {
                a {
                    span {
                        border-bottom: none;
                    }
                }
            }

            &.sort {
                i {
                    background: #fff;
                    color: #0baca6;
                }

                a {
                    &:hover {
                        i {
                            background: #00625e;
                            color: #fff;
                        }
                    }
                }
            }

            a {
                padding: 0 10px;
                display: block;

                &:hover {
                    span {
                        color: #00635f;
                    }
                }
            }

            span {
                line-height: 58px;
                height: 58px;
                padding: 0 10px;
                display: block;
                @extend %text-overflow;
                border-bottom: 1px solid #48c5c2;
                color: #fff;
            }

            i {
                width: 15px;
                height: 15px;
                display: inline-block;
                margin-right: 13px;
                line-height: 15px;
                text-align: center;
                font-style: normal;
                font-size: 12px;
                color: #fff;
                position: relative;
                top: -1px;
                -webkit-transition: all 0.25s ease-in;
                transition: all 0.25s ease-in;
            }
        }
    }
}

.slide-gallery {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 379px;
    overflow: hidden;
    margin: 20px 0;
    .scroll-wrap{
      width: 100%;
      height: 379px;
    }
    .dir-btn {
        height: 68px;
        width: 42px;
        position: absolute;
        top: 155.5px;
        background-image: url("../images/banner_arrow.png");
        background-repeat: no-repeat;
    }

    .dir-l {
        left: 20px;
        background-position: 0 0;
        cursor: pointer;
    }

    .dir-l-area {
        width: 183px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url("../images/transparent_white_bg.png") repeat;
    }

    .dir-r-area {
        width: 183px;
        height: 100%;
        position: absolute;
        background: url("../images/transparent_white_bg.png") repeat;
        right: 0;
        top: 0;
    }




    .dir-r {
        right: 20px;
        background-position: 0 -100px;
        cursor: pointer;
    }

    .list {
        position: relative;
        height: 379px;
        position:relative;top:0px;left:0px;
        width: 1098px;
    }

    .list .item {
        width: 732px;

        position: absolute;
        height: 379px;
    }

    .list .item a {
        position: relative;
        width: 726px;
          padding: 0 3px;
        height: 379px;
        overflow: hidden;
        display: block;
        text-align: center;
    }

    .list .item .pic {
        vertical-align: top;
        display: block;
    }

    .list .item .txt {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 20px;
        height: 76px;
        line-height: 76px;
        background: url("../images/transparent_black_bg.png") repeat;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

    .list .item .txt i {
        padding-left: 16px;
        font-style: normal;
        color: #fff;
        // background: url("../img/arrow_r.png") no-repeat left center;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }
}

.zoomout-sign {
    width: 375px;
    height: 61px;
    overflow: hidden;
    background: url("../images/zoomout.png") no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -187.5px;
    margin-top: -30.5px;
    text-align: center;
    cursor: pointer;

    .icon-seach {
        margin-top: 15.5px;
        height: 30px;
        line-height: 30px;
        background: url("../images/zoomout_search.png") no-repeat left center;
        display: inline-block;
        padding-left: 42px;
        font-size: 26px;
        color: #fff;
    }
}

.zh-activity {
    float: left;
    width: 540px;

    .con-pic {
        margin-top: 20px;
        height: 376px;
        overflow: hidden;
        position: relative;

        .pic {
            display: block;
            text-align: center;
            font-size: 0;
            img{
              max-width: 100%;
            }
        }
    }
}

.zh-map {
    float: right;
    width: 540px;

    .con-pic {
        position: relative;
        margin-top: 20px;
        height: 376px;
        overflow: hidden;

        .pic {
            display: block;
            text-align: center;
            font-size: 0;
        }
    }
}

.zh-area-2 {
    margin-top: 10px;
}

.zh-delivery {
    margin-top: 10px;
}

.delivery-pics {
    position: relative;
    height: 239px;
    overflow: hidden;
    margin-top: 20px;
    .dir-btn {
        width: 42px;
        height: 68px;
        position: absolute;
        top: 50%;
        margin-top: -34px;
        background-image: url("../images/arrow_white.png");
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 10;

        &.dir-l {
            background-position: 0 0;
            left: 20px;
        }

        &.dir-r {
            background-position: 0 -68px;
            right: 20px;
        }
    }
    .list {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;

        li {
            width: 183px;
            height: 239px;
            overflow: hidden;



            a {
                display: block;
                width: 368px;
                height: 100%;
                position: absolute;
                left:50%;
                margin-left: -184px;
            }
        }
    }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


.zoom-img{

  z-index: 20;
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom: 0;
  overflow: hidden;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: zoomIn;
.mask{

  background-color: rgba(0,0,0,0.8);
  background-image: url("../images/maks_black_bg.png");
  background-repeat: repeat;
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom: 0;
}
  .pic{
      position: absolute;
      left:50px;
      top:50px;
      right: 50px;
      bottom: 50px;
      img{
        position: absolute;
      }
  }




}
