@import "./scss/_funvar.scss";
.image-gallery-wrap{
    width:400px; 
}

.lSSlideOuter .lSPager.lSGallery img{
    width:100%;
    height:100%; 
}

.slider-wrap{
    margin-top: 50px;
    background:#666;
    width:400px;
}