@import "./_funVar.scss";
/**
 * 页面公共
 */
body {
    background: #f52d44;
}

.relative {
    position: relative;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.container-main {
    background: #d90b24;
    width: 1020px;
    padding: 0 18px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .main-inner {
        background: #fff;
        position: relative;
        box-shadow: 0 3px 10px 0px #2a0e0c;
        padding: 0 20px;
    }
}

.btn-clrf52d44 {
    background: #f52d44;
    &:hover {
        background-color: darken(#f52d44, 8%);
    }
}

.btn-clrff5266 {
    background: #ff5266;
    &:hover {
        background-color: darken(#ff5266, 8%);
    }
}

.btn-clrffb500 {
    background: #ffb500;
    &:hover {
        background-color: darken(#ffb500, 4%);
    }
}

.btn-clr28b28b {
    background: #28b28b;
    &:hover {
        background-color: darken(#28b28b, 4%);
    }
}

.btn-clrffecee {
    background: #ffecee;
    &:hover {
        background-color: darken(#ffecee, 4%);
    }
}

.btn-clr59a9ec {
    background: #59a9ec;
    &:hover {
        background-color: darken(#59a9ec, 4%);
    }
}

.btn-coms {
    display: inline-block;
    padding: 6px 35px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    &:hover {
        text-decoration: none;
    }
    &.disabled {
        background: #cacaca;
        cursor: default;
        &:hover {
            background: #cacaca;
        }
    }
}
/**
 * 活动规则
 */
.rule-coms {
    color: #a87446;
    font-size: 14px;
    background: #fffaed;
    padding: 15px;
    border: 1px solid #f3e1b1;
    img {
        max-width: 100%;
    }
    ul {
        overflow:hidden;
        li {
            position: relative;
            padding-left: 33px;
            margin-bottom: 12px;
            .num {
                width: 18px;
                height: 18px;
                line-height: 18px;
                background: #f52d44;
                position: absolute;
                left: 0;
                top: 2px;
                color: #fff;
                text-align: center;
            }
            .txt {
                line-height: 23px;
                *float:left;
            }
        }
    }
}

.nodata-type-1{
    border:1px solid #e6e6e6;
    padding:0  0 40px 0;
    .pic{
        width:149px;
        height:139px;
        overflow:hidden;
        background:url("../images/nodata_icon_1.png") no-repeat top center;
        margin:0 auto;
        display:block;
    }
    .tip{
        color:#d6d6d6;
        font-size:18px;
        text-align:center;
        margin-top:20px;
    }
}
.tit-type-1 {
    width: 482px;
    height: 57px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/tit_type1_bg.png") no-repeat top center;
    .txt-zgm {
        width: 239px;
        height: 34px;
        overflow: hidden;
        margin: 11.5px auto 0;
        background: url("../images/tit_txt_zgm.png") no-repeat center center;
    }
    .txt-wzw {
        width: 276px;
        height: 35px;
        overflow: hidden;
        margin: 11px auto 0;
        background: url("../images/tit_txt_wzw.png") no-repeat center center;
    }
    .txt-vip {
        width: 109px;
        height: 28px;
        overflow: hidden;
        margin: 14.5px auto 0;
        background: url("../images/tit_txt_vip.png") no-repeat center center;
    }
    .txt-czw {
        width: 243px;
        height: 36px;
        overflow: hidden;
        margin: 10.5px auto 0;
        background: url("../images/tit_txt_bbkjczw.png") no-repeat center center;
    }
}

.tit-type-2 {
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    background: url("../images/tit-type-2.jpg") repeat-x;
    .tit {
        font-size: 20px;
        color: #fff;
    }
    .more {
        float: right;
        color: #fff;
    }
}
.tit-type-3 {
    text-align: center;
    height: 54px;
    line-height: 54px;
    background: #f52d44;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #efefef;
    .lab {
        font-weight: bold;
    }
}

.tit-type-4 {
    height: 53px;
    line-height: 53px;
    background: #ffde97;
    padding: 0 10px;
    .tit {
        color: #fd2f2c;
        font-size: 20px;
        height: 53px;
        float: left;
        padding-left: 40px;
        background: url("../images/hongbao_pic_2.png") no-repeat left center;
    }
    .sub-tit {
        color: #c0631e;
        margin-left: 15px;
    }
}

.tit-type-5 {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    .tit {
        border-left: 4px solid #f52d44;
        padding-left: 20px;
        color: #333333;
        font-size: 20px;
    }
    .more {
        float: right;
        color: #666666;
        text-decoration: none;
        &:hover {
            color: #fc583d;
        }
    }
}

/**
 * 内页
 */
.container-insidepage {
    padding-top: 76px;
}

.bread-navigation {
    color: #888888;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    a {
        color: #333333;
        &:hover {
            text-decoration: none;
            color: #f52d44;
        }
    }
    span {
        color: #888;
    }
}
.layui-layer-title{
    background:#f52d44 !important;
    color:#fff  !important;
}
.layui-layer-close{
    width:15px !important;
    height:15px !important;
    background:url("../images/layer_close.png") no-repeat top center !important;
}

