@import "./scss/_base.scss";
@import "./scss/_funvar.scss";
@import "./scss/_mDialogRem.scss";


.banner { 
    img {
        width: 100%;
    }
}

.tit-type {

    text-align: center;
    padding-top: px2rem(35px);
    position: relative;
    padding-bottom: px2rem(20px);
    .line-l {
        height: 1px;
        width: px2rem(123px);
        display: inline-block;
        vertical-align: middle;
    }
    .txt {
        font-size: px2rem(38px);
        padding: 0 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .line-r {
        height: 1px;
        width: px2rem(123px);
        display: inline-block;
        vertical-align: middle;
    }
    &.no-line {
        &:after {
            display: none;
        }
    }
    &:after {
        content: "";
        height: px2rem(4px);
        width: px2rem(60px);

        position: absolute;
        left: 50%;
        top: px2rem(120px);
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
    }
    &.type-1 {
        color: #313131;
        .line-l,
        .line-r {
            background: #313131;
        }
        &:after {
            background: #ffe33e;
        }
    }
    &.type-2 {
        .line-l,
        .line-r {
            background: #313131;
        }
        &:after {
            background: #282828;
        }
    }
}

.ckgwqd-btn {
    width: px2rem(203px);
    height: px2rem(58px);
    line-height: px2rem(58px);
    text-align: center;
    display: block;
    overflow: hidden;
    background: #ffe33e;
    font-size: px2rem(28px);
    color: #323232;
    border-radius: px2rem(8px);
    margin: 0 auto;
}

.list-type-1 {
    display: flex;
    padding: 0 px2rem(30px) px2rem(50px);
    margin-top: px2rem(40px);
    li {
        flex: 1;
        padding: 0 px2rem(10px);
        a {

            height: px2rem(81px);
            line-height: px2rem(72px);
            text-align: center;
            font-size: px2rem(30px);
            font-weight: bold;
            color: #323232;
            display: block;
            border-radius: px2rem(10px);
            border: px2rem(4px) solid #000000;
            background-color: #e5e2e2;
            /* Mozilla Firefox */
            background-image: -moz-linear-gradient(#ffffff, #e5e2e2);
            /* Opera */
            background-image: -o-linear-gradient(#ffffff, #e5e2e2);
            /* WebKit (Chrome 11+) */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e5e2e2));
            /* WebKit (Safari 5.1+, Chrome 10+) */
            background-image: -webkit-linear-gradient(#ffffff, #e5e2e2);
        }
    }
}

.list-type-2 {
    background: #ffe33e;
    .arrow_d {
        width: px2rem(168px);
        height: px2rem(30px);
        overflow: hidden;
        background: url("../images/arrow_1.jpg") no-repeat top center;
        background-size: 100% 100%;
        display: block;
        margin: px2rem(30px) auto 0;
    }
    .list-1 {
        text-align: center;
        padding: px2rem(20px) px2rem(35px) 0;
        li {
            display: inline-block;
            margin: px2rem(20px) px2rem(15px) 0;
            a {

                .pic {
                    display: block;
                    width: px2rem(90px);
                    height: px2rem(90px);
                    overflow: hidden;
                    background-position: top center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
                .txt {
                    color: #231815;
                    font-size: px2rem(22px);
                    text-align: center;
                    margin-top: px2rem(5px);
                }
            }
            &.active {
                .txt {
                    color: #eb5405;
                }
            }

            &:nth-child(1) {
                .pic {
                    background-image: url("../images/jd_qianqiguihua.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_qianqiguihua_h.png");
                    }
                }
            }
            &:nth-child(2) {
                .pic {
                    background-image: url("../images/jd_qiaodahuanjie.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_qiaodahuanjie_h.png");
                    }
                }
            }
            &:nth-child(3) {
                .pic {
                    background-image: url("../images/jd_shuidianshigong.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_shuidianshigong_h.png");
                    }
                }
            }
            &:nth-child(4) {
                .pic {
                    background-image: url("../images/jd_nishuishigong.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_nishuishigong_h.png");
                    }
                }
            }
            &:nth-child(5) {
                .pic {
                    background-image: url("../images/jd_muzhuoshigong.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_muzhuoshigong_h.png");
                    }
                }
            }
            &:nth-child(6) {
                .pic {
                    background-image: url("../images/jd_youqishigong.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_youqishigong_h.png");
                    }
                }
            }
            &:nth-child(7) {
                .pic {
                    background-image: url("../images/jd_anzhuangjieduan.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_anzhuangjieduan_h.png");
                    }
                }
            }
            &:nth-child(8) {
                .pic {
                    background-image: url("../images/jd_ruanzhuangdapei.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_ruanzhuangdapei_h.png");
                    }
                }
            }
            &:nth-child(9) {
                .pic {
                    background-image: url("../images/jd_wangongruzhu.png");
                }
                &.active {
                    .pic {
                        background-image: url("../images/jd_wangongruzhu_h.png");
                    }
                }
            }
        }
    }
}

.video-box-1 {
    width: px2rem(670px);
    height: px2rem(370px);
    border: px2rem(10px) solid #fff;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}

.swiper-wrapper-out {
    width: px2rem(670px);
    height: px2rem(370px);
    border: px2rem(10px) solid #fff;
    overflow: hidden;
    margin: px2rem(40px) auto 0;
    background: #fff;
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .button-dir {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
    }
    .swiper-slide {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .button-dir {
        width: px2rem(43px);
        height: px2rem(101px);
        overflow: hidden;

        z-index: 100;
        &.button-prev {
            background: url("../images/swiper_arrow_l.png") no-repeat top center;
            background-size: 100% 100%;
            left: px2rem(20px);
        }
        &.button-next {
            background: url("../images/swiper_arrow_r.png") no-repeat top center;
            background-size: 100% 100%;
            right: px2rem(20px);
        }
    }
}

.swiper-pagination-bullet {
    width: px2rem(16px) !important;
    height: px2rem(16px) !important;
    overflow: hidden !important;
    background: #000 !important;
    margin: 0 px2rem(8px) !important;

    &.swiper-pagination-bullet-active {
        background: #fff !important;
    }
}

.ft-zzs-list {
    padding: px2rem(20px) px2rem(13px) px2rem(50px);
    li {
        float: left;
        width: px2rem(215px);
        height: px2rem(92px);
        overflow: hidden;
        margin: px2rem(20px) px2rem(13px) 0;
        border: px2rem(4px) solid #ececec;
        a {
            display: block;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.footer-place-seat {
    height: px2rem(107px);
    overflow: hidden;
}

.footer-nav {
    display: flex;
    position: fixed;
    background: #0b0b0b;
    box-shadow: 0 0 px2rem(10px) #666;
    z-index: 100;
    left: 0;
    bottom: -1px;
    right: 0;
    overflow: hidden;
    border-top: 1px solid #e1dfdf;
    li {
        flex: 1;
        a {
            display: block;
            padding: px2rem(12px) 0;
            .pic {
                display: block;
                margin: 0 auto;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: top center;
            }
            .txt {
                color: #b5b5b5;
                text-align: center;
                font-size: px2rem(22px);
                margin-top: px2rem(7px);
            }
        }
        &.active {
            .txt {
                color: #0cb46a;
            }
        }
        &:nth-child(1) {
            .pic {
                width: px2rem(41px);
                height: px2rem(40px);
                background-image: url("../images/ft_1.png");
            }
            &.active {
                .pic {
                    background-image: url("../images/ft_1_h.png");
                }
            }
        }
        &:nth-child(2) {
            .pic {
                width: px2rem(45px);
                height: px2rem(40px);
                background-image: url("../images/ft_2.png");
            }
            &.active {
                .pic {
                    background-image: url("../images/ft_2_h.png");
                }
            }
        }
        &:nth-child(3) {
            .pic {
                width: px2rem(33px);
                height: px2rem(40px);
                background-image: url("../images/ft_3.png");
            }
            &.active {
                .pic {
                    background-image: url("../images/ft_3_h.png");
                }
            }
        }
        &:nth-child(4) {
            .pic {
                width: px2rem(39px);
                height: px2rem(39px);
                background-image: url("../images/ft_4.png");
            }
            &.active {
                .pic {
                    background-image: url("../images/ft_4_h.png");
                }
            }
        }
    }
}

.lmjs-box {
    position: absolute;
    right: px2rem(30px);
    top: px2rem(20px);
    border-radius: px2rem(30px);
    width: px2rem(153px);
    height: px2rem(42px);
    line-height: px2rem(20px);
    text-align: center;
    overflow: hidden;
    border: px2rem(3px) solid #ffffff;

    .txt {
        color: #fff;
        float:left;
        padding-left:px2rem(20px);
        padding-top:px2rem(7px);   
        font-size: px2rem(24px);
        position: relative;
        i {
            display: inline-block;
            vertical-align: middle;
            border-style: dashed dashed dashed solid;
            border-color: transparent transparent transparent #fff;
            border-width: px2rem(10px);
            width: 0;
            height: 0;
            margin-left: px2rem(8px);
            margin-top: px2rem(-3px);
        }
    }
}

.lmjs-dialog-mask {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.8);
}

.lmjs-dialog {
    position: fixed;
    left: 50%;
    width: 85%;
    margin-left: -42.5%;
    top: 12%;
    z-index: 99999;

    display: none;
    background: #fff;
    padding: px2rem(30px);
    border-radius: px2rem(15px);
    .close-btn {
        width: px2rem(50px);
        height: px2rem(50px);
        overflow: hidden;
        background: url("../images/close_01.png") no-repeat top center;
        background-size: 100% 100%;
        position: absolute;
        right: px2rem(-25px);
        top: px2rem(-60px);
    }
    .caption {
        color: #333333;
        font-size: px2rem(40px);
        text-align: center;
        position: relative;
        padding-bottom: px2rem(30px);
        &:after {
            content: "";
            height: px2rem(4px);
            width: px2rem(60px);
            background: #666666;
            position: absolute;
            left: 50%;
            top: px2rem(70px);
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
        }
    }
    .detail {
        margin-top: px2rem(15px);
        line-height: 1.6;
        p {
            text-indent: 2em;
            font-size: px2rem(28px);
            color: #999999;
        }
    }
}

.zxjd-tab-item {
    margin-top: px2rem(25px);
    display: none;
    &.active {
        display: block;
    }
}

.fwzxft-box {
    margin: 0 px2rem(30px) px2rem(30px);
    padding: px2rem(15px);
    font-size: px2rem(26px);
    line-height: 1.7;
    .guide-home {
        font-size: px2rem(24px);
        line-height:px2rem(24px);
        margin-bottom:px2rem(8px); 
        i{
            width:px2rem(25px);
            height:px2rem(24px);
            overflow:hidden;
            display:inline-block; 
            background: url("../images/link_icon_1.png") no-repeat top center; 
            background-size:100% 100%;
            margin-right:px2rem(12px);
            vertical-align:middle;     
        }
    }
    .phone{
        margin-bottom:px2rem(8px); 
        i{
            width:px2rem(24px); 
            height:px2rem(27px);
            overflow:hidden;
            display: inline-block;
            vertical-align:middle; 
            background: url("../images/link_icon_2.png") no-repeat top center; 
            background-size:100% 100%;
            margin-right:px2rem(13px);  
        }
    }
    .address {
        i{
            width:px2rem(29px); 
            height:px2rem(23px);
            overflow:hidden;
            display: inline-block;
            vertical-align:middle; 
            
           
            margin-right:px2rem(8px);
            &.address-icon{
                background: url("../images/link_icon_3.png") no-repeat top center; 
                 background-size:100% 100%;
            }

        }
        font-size: px2rem(26px) !important;
        color: #313131;
        display: block;
        
    }
}

//******************************************************************************************************* 
//
//
//
//
.rwjs-tab-hd {
    display: flex;
    li {
        flex: 1;
        a {
            display: block;
            height: px2rem(90px);
            line-height: px2rem(90px);
            overflow: hidden;
            border-bottom: 1px solid #dcdcdc;
            padding-bottom: px2rem(3px);
            text-align: center;
            color: #666666;
            font-size: px2rem(30px);
        }
        &.active {
            a {
                border-bottom: px2rem(4px) solid #0cb46a;
                color: #0cb46a;
            }
        }
    }
}


.rwjs-tab-bd {
    padding: px2rem(30px) px2rem(40px) 0;
    display: none;
    margin-bottom:px2rem(30px); 
    &.active {
        display: block;
    }
}

.rwjs-tab-bd-inner {
    border: 1px solid #ececec;
    background: #fafafa;
    padding: px2rem(35px);
    position: relative;
    .avatar {
        width: px2rem(126px);
        height: px2rem(126px);
        overflow: hidden;
        border-radius: 100%;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .name {
        text-align: center;
        color: #000000;
        font-size: px2rem(30px);
    }
    .job {
        text-align: center;
        color: #323232;
        font-size: px2rem(24px);
    }
    .caption {
        width: px2rem(213px);
        height: px2rem(65px);
        overflow: hidden;
        background: url("../images/caption_1.png") no-repeat top center;
        background-size: 100% 100%;
        position: absolute;
        left: px2rem(-13px);
        top: px2rem(35px);
        font-size: px2rem(28px);
        color: #fff;
        padding: px2rem(5px) 0 0 px2rem(18px);
    }
    .detail {
        margin-top: px2rem(25px);
        font-size: px2rem(24px);
        line-height: 1.6;
        color: #666666;
        p {
            text-indent: 2em;
        }
    }
}


.sggzqj-list {
    padding: 0 px2rem(18px) px2rem(30px);
    margin-bottom:px2rem(30px); 
    li {
        float: left;
        padding: 0 px2rem(13px);
        overflow: hidden;
        margin-top: px2rem(30px);
        .link-tag {
            width: px2rem(330px);
            display: block;
            overflow: hidden;
        }
        .pic {
            width: px2rem(330px);
            height: px2rem(257px);
            overflow: hidden;
            text-align: center;
        }
        .txt {
            text-align: center;
            color: #323232;
            font-size: px2rem(26px);
            line-height: 1.6;
            margin-top: px2rem(10px);
            @include text-overflow-1;
        }
    }
}

// ****************************************************
// 
// 
.tzhd-list {
    padding: 0 px2rem(30px) px2rem(30px);
    li {
        margin-top: px2rem(20px);
        position: relative;
        a {
            height: px2rem(130px);
            line-height: px2rem(130px);
            @include text-overflow-1;
            color: #fff;
            font-size: px2rem(32px);
            padding: 0 px2rem(75px) 0 px2rem(30px);
        }
        .arrow {
            position: absolute;
            right: px2rem(10px);
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            background: url("../images/arrow_2.png") no-repeat top center;
            background-size: 100% 100%;
            width: px2rem(18px);
            height: px2rem(33px);
            overflow: hidden;
        }
        &:nth-child(1) {
            a {
                background: #59b0ff;
            }
        }
        &:nth-child(2) {
            a {
                background: #fc6846;
            }
        }
        &:nth-child(3) {
            a {
                background: #51e09f;
            }
        }
    }
}


.ys-gz-detail {
    padding: 0 px2rem(20px);
    font-size: px2rem(28px);
    line-height: 1.5;
    color: #333;
    margin-bottom:px2rem(50px); 
    img {
        max-width: 100%;
    }
}

.pswp__counter {
    font-size: px2rem(32px);
    top: px2rem(30px) !important;
    right: px2rem(30px) !important;
}

.pswp__button--close {
    width: px2rem(80px) !important;
    height: px2rem(80px) !important;
    border-radius: 100%;
    overflow: hidden;
    top: px2rem(30px) !important;
    right: px2rem(30px) !important;
    background: url("../images/dialog_close_icon2.png") no-repeat top center !important;
    background-size: 100% 100% !important;
}

.pswp__bg {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.pswp__top-bar {
    background: none !important;
}