/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}





:focus {
    outline: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

fieldset,
img {
    border: none;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

html {
    overflow-y: scroll;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.relative {
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

%text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}



.header1{
	font-size:12px;
}

.container-w{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
}

.header{
	.logo{
		float:left;
		width: 440px;
		height:204px;
		overflow:hidden;
		background:url("../images/logo.jpg") no-repeat top center; 
	}
}

.banner-box{
	height:567px;
	position:relative;
	background:url("../images/banner_1.jpg") no-repeat top center;
	a{
		position:absolute;
		top:450px;
		left:50%;
		margin-left:-580px;
		width:310px;
		height:69px;
		overflow:hidden;
		background:url("../images/btn_1.png") no-repeat top center;
	}
}

.intro-detail{
	padding:20px 0;
	.tit{
		color:#d30c13;
		font-size:26px;
	}
	.detail{
		margin-top:10px; 
		padding:0 15px;
		color:#333333;
		font-size:16px;
		line-height: 25px;
	}
}

.section-2{
	height:630px;
	background:url("../images/img_2.jpg") no-repeat top center;
	.detail{
		height:630px;
	}
	.link-1{
		position:absolute;
		left:55px;top:450px;
		color:#fff;
		font-size:22px;
		a{
			color:#ffea00;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}

.zt-footer{
	height:372px;
	background:url("../images/ft.jpg") no-repeat top center #515151;
}