<div class="swiper-container coms-swiper-1">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="LvYouGongLue-XiangQing.html">
                <div class="pic-img"><img data-src="upload/pro11.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader"></div></div>
                <p class="tit">游海洋公园登太平山顶，澳门银河正宗葡澳...</p>
                <div class="clearfix info">
                    <div class="avatar">
                        <span class="pic"><img src="upload/banner11.jpg" class="swiper-lazy"></span>
                        <p class="name">淑淑~</p>
                    </div>
                    <span class="time"><i></i>218/01/05</span>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="LvYouGongLue-XiangQing.html">
                <div class="pic-img"><img data-src="upload/pro11.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader"></div></div>
                <p class="tit">游海洋公园登太平山顶，澳门银河正宗葡澳...</p>
                <div class="clearfix">
                    <div class="avatar">
                        <span class="pic"><img src="upload/banner11.jpg"/></span>
                        <p class="name">淑淑~</p>
                    </div>
                    <span class="time"><i></i>218/01/05</span>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="LvYouGongLue-XiangQing.html">
                <div class="pic-img"><img data-src="upload/pro11.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader"></div></div>
                <p class="tit">游海洋公园登太平山顶，澳门银河正宗葡澳...</p>
                <div class="clearfix">
                    <div class="avatar">
                        <span class="pic"><img src="upload/banner11.jpg"></span>
                        <p class="name">淑淑~</p>
                    </div>
                    <span class="time"><i></i>218/01/05</span>
                </div>
            </a>
        </div>
        
    </div>
</div>

<script type="text/javascript">
    var swiper = new Swiper('.coms-swiper-1', {  loop : true,slidesPerView: "auto", spaceBetween: 10,  pagination: { clickable: true, },lazy: {
                loadPrevNext: true,
            }});
</script>