<!-- 通用头部 start -->
<div class="coms-header-top">
        <div class="coms-container">
            <h1 class="logo"></h1>
            <div class="coms-header-seach">
                <div class="relative clearfix">
                    <div class="form-para">
                        <input type="text" class="ipt-text" placeholder="搜索" />
                        <i class="icon-s"></i>
                    </div>
                    <input type="submit" value="搜索" class="ipt-submit" />
                </div>
                <div class="hot-keys">
                    <a href="#">秦</a>
                    <a href="#">奥迪Q3</a>
                    <a href="#">英菲尼迪</a>
                    <a href="#">英菲尼迪</a>
                    <a href="#">英菲尼迪</a>
                </div>
            </div>
            <ul class="tips-list">
                <li class="item-1">
                    <i></i>
                    <p>诚信</p>
                </li>
                <li class="item-2">
                    <i></i>
                    <p>低价</p>
                </li>
                <li class="item-3">
                    <i></i>
                    <p>安全</p>
                </li>
                <li class="item-4">
                    <i></i>
                    <p>免费</p>
                </li>
            </ul>
        </div>
    </div>


<!-- 通用头部 end -->