<div class="clearfix mt20 pb30">
    <div class="carbrand-left">
        <div class="activity-intro">
            <div class="caption">品牌活动介绍</div>
            <div class="soma-tit"></div>
            <ul class="list clearfix">
                <li class="item-1">
                    <span class="pic"></span>
                    <div class="info">
                        <p class="tit">厂家让利</p>
                        <p class="txt">经销商冲量，报名团购价更优！</p>
                    </div>
                </li>
                <li class="item-2">
                    <span class="pic"></span>
                    <div class="info">
                        <p class="tit">报名优惠</p>
                        <p class="txt">专员及时回访解答，省时省钱省心！</p>
                    </div>
                </li>
                <li class="item-3">
                    <span class="pic"></span>
                    <div class="info">
                        <p class="tit">车源保障</p>
                        <p class="txt">优先提车，信誉可靠杜绝车财两空！</p>
                    </div>
                </li>
                <li class="item-4">
                    <span class="pic"></span>
                    <div class="info">
                        <p class="tit">现场看车</p>
                        <p class="txt">解答车牌、车险、车型、保养，VIP式购车体验！</p>
                    </div>
                </li>
                <li class="item-5">
                    <span class="pic"></span>
                    <div class="info">
                        <p class="tit">好车标准</p>
                        <p class="txt">车场直提；依法享受“三包”待遇；支持全国联保！</p>
                    </div>
                </li>
                <li class="item-6">
                    <span class="pic"></span>
                    <div class="info">
                        <p class="tit">分期购车</p>
                        <p class="txt">低首付、低月供，灵活还款，购车无负担！</p>
                    </div>
                </li>
            </ul>
            <p class="soma-ft-tip">保证：本活动承诺不收取任何其他费用，不泄露用户信息！</p>
        </div>
        <div class="huddle-join">
            <div class="caption">报名参团</div>
            <div class="form-box">
                <div class="item-cell">
                    <label class="lab">品牌：</label>
                    <div class="para-val">
                        <select class="sel">
                            <option>奥迪</option>
                        </select>
                    </div>
                </div>
                <div class="item-cell item-line">
                    <label class="lab">车型：</label>
                    <div class="para-val">
                        <select class="sel">
                            <option>选择车型</option>
                        </select>
                        <p class="tip-warning">已选择奥迪A6L，尽快报名，即刻了解最新优惠</p>
                    </div>
                </div>
                <div class="item-cell">
                    <label class="lab">姓名：</label>
                    <div class="para-val">
                        <input type="text" class="ipt-text">
                    </div>
                </div>
                <div class="item-cell">
                    <label class="lab">手机号：</label>
                    <div class="para-val">
                        <input type="text" class="ipt-text">
                    </div>
                </div>
                <div class="item-cell">
                    <label class="lab"></label>
                    <div class="para-val">
                        <input type="submit" class="ipt-submit" value="立即报名" />
                        <p class="tip-xy">
                            <input type="checkbox" />我已同意此<a href="#">服务协议</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carbrand-right">
        <div class="other-hot-brand">
            <div class="caption">其他热门品牌</div>
            <ul class="list clearfix">
                <li><a href="#">一汽大众</a></li>
                <li><a href="#">奥迪</a></li>
                <li><a href="#">一汽大众</a></li>
                <li><a href="#">一汽大众</a></li>
                <li><a href="#">一汽大众</a></li>
                <li><a href="#">一汽大众</a></li>
            </ul>
        </div>
        <div class="signed-user">
            <div class="caption">已报名用户</div>
            <ul class="list">
                <li class="clearfix">
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
                <li>
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
                <li class="clearfix">
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
                <li>
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
                <li class="clearfix">
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
                <li>
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
                <li class="clearfix">
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
                <li>
                    <span class="name">苏女士</span>
                    <span class="phone">138****9443</span>
                </li>
            </ul>
        </div>
        <div class="hot-cartype">
            <div class="caption">热门车型</div>
            <ul class="list clearfix">
                <li>
                    <a href="#">
                        <span class="pic"><img src="upload/demo_6.jpg" /></span>
                        <span class="txt-1"><i class="mask"></i><b>雷克萨斯宝马X斯宝马X斯宝马X斯宝马X5 2011款 xDrive35i 豪华型</b></span>
                        <span class="mask-1">
                            <i></i>
                            <b>去团购 <label>></label></b>
                        </span>
                    </a>
                    <p class="tip-1">买车就送行车记录仪，买一送一，优惠不断</p>
                    <p class="tip-2">送油卡送油卡送油卡</p>
                </li>
                <li>
                    <a href="#">
                        <span class="pic"><img src="upload/demo_6.jpg" /></span>
                        <span class="txt-1"><i class="mask"></i><b>雷克萨斯宝马X斯宝马X斯宝马X斯宝马X5 2011款 xDrive35i 豪华型</b></span>
                        <span class="mask-1">
                            <i></i>
                            <b>去团购 <label>></label></b>
                        </span>
                    </a>
                    <p class="tip-1">买车就送行车记录仪，买一送一，优惠不断</p>
                    <p class="tip-2">送油卡送油卡送油卡</p>
                </li>
                <li>
                    <a href="#">
                        <span class="pic"><img src="upload/demo_6.jpg" /></span>
                        <span class="txt-1"><i class="mask"></i><b>雷克萨斯宝马X斯宝马X斯宝马X斯宝马X5 2011款 xDrive35i 豪华型</b></span>
                        <span class="mask-1">
                            <i></i>
                            <b>去团购 <label>></label></b>
                        </span>
                    </a>
                    <p class="tip-1">买车就送行车记录仪，买一送一，优惠不断</p>
                    <p class="tip-2">送油卡送油卡送油卡</p>
                </li>
            </ul>
        </div>
    </div>
</div>