<div class="coms-xieyi-dialog" id="J_coms-xieyi-dialog">
    <div>参与活动前请详细阅读活动规则及相关条款。凡参与本次活动，则视为同意活动规则及免责声明条款：</div>
    <p>1.为保证活动的顺利进行，参与用户须确保已年满18周岁，具备完全民事行为能力。用户须妥善保管自己的用户名、密码等注册信息，因注册信息有误、遗忘遗失密码造成用户损失的，小鱼汽车不承担任何责任。</p>
    <p>2.小鱼汽车可以根据本活动的实际举办情况对活动规则进行变动或调整。小鱼汽车有权随时调整活动页面的车辆信息，并更新活动车辆，且无需承担任何责任。</p>
    <p>3.活动期间，因参与用户操作不当或参与用户所在区域网络故障、电信运营商故障等非小鱼汽车所能控制的原因导致的参与用户无法参与活动、或者参与失败，小鱼汽车不予负责。</p>
    <p>4.小鱼汽车依法运营此次购车行动，如遇不可抗力因素（不可抗力是指不能控制、不可预见或不能避免的事件）导致本次活动无法进行时或需要暂停举办的，包括但不限于（活动受恶劣天气影响需停办、活动受政府机关指令要求停办、活动遭受严重网络攻击出现宕机或系统故障需要暂停举办的），在法律允许的范围内，小鱼汽车有权决定取消、终止、修改或暂停本活动，小鱼汽车及活动参与经销商无需为此承担赔偿责任或进行任何形式的补偿。</p>
    <p>5.小鱼汽车不对用户的保险贷款申请提供任何担保，用户绑定的银行卡的账户安全风险及账户资金风险由用户自行承担。</p>
    <p>6.小鱼汽车仅作为提供商家汽车资源信息的第三方平台，不对商家的产品品质提供任何担保，请用户保持审慎进行购买。</p>
    <p>7.用户应按中国法律之规定，自行完成购车，期间产生的任何税费均由用户个人自行承担。</p>
    <p>8.用户与线下各厂商经销商因购车（含线下提车、异地购车、车辆置换、售后服务等相关事宜）而产生的纠纷，应由双方按照法律规定或购车合同约定解决，与小鱼汽车无关，小鱼汽车不参与解决此类纠纷，也不承担任何责任。</p>
    <p>9.用户因自身主观过错或恶意（如不按正常流程操作、填写信息不真实、不完整等类似情形）致使其不能领取活动奖品的，小鱼汽车免除提供相应优惠奖项的责任。</p>
    <p>10.由于第三方网站或第三人通过技术手段恶意攻击或篡改致使活动信息发生错误，小鱼汽车不负任何法律或经济责任，活动信息以小鱼汽车公布版本为准。</p>
    <p>11.活动奖品的质量、售后服务、退货、换货，获奖者可以自行与该奖品的提供商联系解决，与小鱼汽车无关。</p>
    <p>12.任何人或任何网站以小鱼汽车名义从事类似活动或恶意通知用户领奖，均为假冒，请用户谨慎辨别真假。如因相信前述非小鱼汽车提供的活动信息而造成用户损失的，由用户自行承担，与小鱼汽车无关。</p>
    <p>13.本次活动涉及的价格及优惠政策均为经销商、厂商、厂商代理提供，如价格或优惠政策有调整，请以活动现场实际价格或优惠政策为准。</p>
    <p>14.小鱼汽车有权通过电话等其他方式与参与用户本人核实购车详情，并保留对用户申请奖励的审核权、否决权。参与用户、申请人因奖励发放产生任何争议的，小鱼汽车不予负责；经小鱼汽车与参与用户电话或其他方式确认，对于奖励申请有异议的，小鱼汽车有权驳回申请人的申请，且无需承担任何责任。</p>
    <p>
        15.本声明所述的小鱼汽车为包含小鱼汽车品牌旗下全部关联公司的整体。</p>
</div>
<script type="text/javascript">
$(function() {
    $(".tip-xy a").on("click", function() {
        layer.open({
            type: 1,
            title:"服务协议",
            skin: 'layui-layer-rim', //加上边框
            area: ['820px', '600px'], //宽高
            content: $("#J_coms-xieyi-dialog")
        });
    })

})
</script>