@import "./scss/_funvar.scss";

.header1 .search-txt{
    margin: 0 !important;
}
.container-wrap{
    width:1000px;
    position:relative;
    z-index:1; 
    color:#555;
    
    margin: -75px auto 0; 
}

.container-box{
    width:1000px;
    margin:0 auto;
}

.banner-box{
    height: 650px;
    background: url("../images/banner.jpg") no-repeat top center;
    position: relative;
    
    .pic-1{
        height:49px;
        position:absolute;
        left:0;
        right:0;
        top:345px; 
        background:url("../images/banner_2.png") no-repeat top center;
    }
    .btn-1{
       position:absolute;
       left:0;
       right:0;
       top:445px;
       a{
        display: block;
        width:228px;
        height:54px;
        line-height:54px;
        overflow:hidden;
        text-align:center;  
        background:#b85059;
        border-radius: 5px;
        margin:0 auto;
        color:#fff;
        font-size:26px;
        &:hover{
            background:darken(#b85059,5%);
        } 
       } 
    }
}

.step-box{
    position:relative;
    height:76px;
    background:#fff;
    padding:40px 30px;
    border-radius:5px;
    box-shadow: 0 0 10px #daa6a6;
    .line{
        height:3px;
        background:#daa6a6;
        position:absolute;
        left:30px;
        right:30px;
        top:50%;
        margin-top: -1.5px;
    }
    .list{
        position:relative;
        z-index:1;
        li{
            float:left;
            width:20%;
            position:relative;
            // &:after{
            //     content:"";
            //     height:3px;
            //     position:absolute;
            //     left:0px;
            //     right:0px;
            //     top:50%;
            //     z-index:1;
            //     margin-top: -1.5px;
            // }
            .txt{
                background:#fff;
                width:70px;
                height:70px;
                text-align:center;
                line-height:70px;
                color:#b34040;
                font-size:16px;
                display:block;
                margin:0 auto;
                border:3px solid #daa6a6;
                border-radius:100%;
                z-index:10;
                position:relative;
            } 
            .circle{
                width:15px;
                height:15px;
                background:#fff;
                border:3px solid #daa6a6;
                border-radius:100%;
                position:absolute;
                right:-10.5px;
                top:50%;
                margin-top: -10.5px;
                z-index:10;
                
            }
        }
        &.step-1{
            .item-1{
                .txt{
                    background:#daa6a6;
                    color:#fff;
                }
                .circle{
                    border-color:#daa6a6; 
                }

            }
        }
        &.step-2{
            .item-1,.item-2{
                .txt{
                    background:#daa6a6;
                    color:#fff;
                }
                .circle{
                    border-color:#daa6a6; 
                }

            }
        }
         &.step-3{
            .item-1,.item-2,.item-3{
                .txt{
                    background:#daa6a6;
                    color:#fff;
                }
                .circle{
                    border-color:#daa6a6; 
                }

            }
        }
         &.step-4{
            .item-1,.item-2,.item-3,.item-4{
                .txt{
                    background:#daa6a6;
                    color:#fff;
                }
                .circle{
                    border-color:#daa6a6; 
                }

            }
        }

        &.step-5{
            .item-1,.item-2,.item-3,.item-4,.item-5{
                .txt{
                    background:#daa6a6;
                    color:#fff;
                }
                .circle{
                    border-color:#daa6a6; 
                }

            }
        }
    }
}

.tit-type{
    
    height:76px;
    &.type-1{
        margin-top:65px;
        background:url("../images/tit_1.png") no-repeat top center;
    }
    &.type-2{
        padding-top:76px; 
        background:url("../images/tit_2.png") no-repeat bottom center;
    }
}


.intro-area-1{
    position:relative;
    line-height:24px;
    padding:15px 30px;
    border:6px solid #f7ecec;
    text-indent:2em;
    padding-right: 410px;
    .clr{
        color:#ff0000;
    }
}

.intro-area-tit{
    color:#fff;
    font-size:16px;
    background:#be6565;
    border-radius:20px;
    height:28px;
    line-height:28px;
    padding:0 15px;
    float:left;
    clear:both;
    margin-left:30px;
    margin-top:25px; 
    
}

.intro-area-txt{
    clear:both;
    padding:15px 0;
    line-height:24px;
    margin-left:30px; 
    padding-right: 410px;
}

.intro-area-2{
    background:#f8ecec;
    border-radius:10px;
    margin-left:30px;
    padding:15px 20px;
    margin-right:410px;
    .soma-hd{
        text-align:center;
        color:#333333;
        font-size:26px;
        padding-bottom:10px; 
    }
    .soma-bd{
        .clr{
            color:#ff0000;
        }
    }
}
.hs-intro-box{
    position:relative;
    margin-top:40px;
}
.bm-form-wrap{
    width:362px;
    background:#be6565;
    position:absolute;
    right:0;
    top:45px;
    padding:25px 20px;
    .soma-hd{
        .cn{
            color:#ffffff;
            font-size:26px;
            text-align:center;
        }
        .en{
            color:#ffffff;
            font-size:16px;
            text-align:center;
        }

    }
}

.soma-bd-form{
     padding:20px 0 0;
    .item-cell{
        position:relative;
        margin-bottom:10px; 
        .lab{
            position:absolute;
            left:0;
            right:0;
            top:0;
            height:47px;
            line-height:47px;
            padding:0 10px;
            color:#666666;
            cursor:text; 
        }
        .ipt-text{
            padding:14px 10px;
            width:340px;
            border:none;
        }
    }
    .ipt-submit{
        height:57px;
        line-height:57px;
        border:none;
        width:100%;
        color:#c66f00;
        font-size:24px;
        margin-top:10px;
        background:#ffd65b;
        &:hover{
            background:darken(#ffd65b,5%);
        }
    }
    .txt-1{
        text-align:center;
        font-size:18px;
        color:#fff;
        padding:10px 0 0; 
    }
}
.adv-1{
    margin-top:30px;
    margin-bottom:20px;
    img{
        width:100%;
    }
}

.bg-f9f9f9{
    background:#f9f9f9;
}

.prize-list{
    width:1020px;
    margin-top:40px;
    padding-bottom:25px;
    li{
        background:#fff;
        float:left;
        width:323px;
        padding:10px 0 10px;
        margin-right:15px;
        margin-bottom:15px;
        box-shadow:0 5px 10px #e2e0e0;
        .rank{
            text-align:center;
            color:#333333;
            font-size:24px;
        }
        .pic{
            width:250px;
            height: 160px;
            line-height:160px;
            text-align:center;
            margin:0 auto;
            img{
                display:inline-block;
                vertical-align: middle;
                max-width: 100%;
                max-height:100%; 
            }
        }
        .name{
            text-align:center;
            white-space:nowrap;
            @extend %text-overflow;
        }
    }
}

.tab-hd-box{
    display:none;
    padding:0 0 50px 0;  
    &.active{
        display:block;
    }
}


.tab-hd-list{
    background:#be6565;
    margin:20px 0 0;

    li{
        float:left;
        width:25%;
        text-align:center;
        a{
            display:block;
            padding-bottom:4px;
            border-top:4px solid #be6565;
            height:71px;
            line-height:71px;
            color:#ffffff;
            font-size:24px;

        }
        &.active{
           a{
            
            background:#fff;
            color:#333333;
           } 
        }
    }
}

.rzds-list{
    width: 1010px;
    padding: 20px 0;
    li{
        float:left; 
        margin-right:10px; 
        a{
            display:block;
            border:1px solid #e4e4e4;
            padding:1px;
            overflow:hidden;
            width:188px;  
        }
        .pic{
            width:188px;
            height:218px;
            overflow: hidden;
            line-height:218px;
            font-size: 0;
            display:block; 
            img{
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                max-height: 100%;
            }  
        }
        .txt{
            padding:10px 0; 
            span{
                display:block;
                text-align:center;
                padding:0 5px; 
                @extend %text-overflow;
                &.cn{
                    color:#000000; 
                    font-size:18px;   
                }
                &.en{
                    color:#666666;
                    font-size:16px;  
                }
                
            }
        }
    }
}

.zbdw-list{
    li{
        padding:20px 0;
        border-bottom:1px dashed #c9c9c9; 
        min-height: 128px;
        .pic{
            width:128px;
            height:128px;
            overflow:hidden;
            font-size:0;
            line-height:128px;  
            border:1px solid #e6e6e6;
            float:left; 
            margin-right:20px; 
            text-align:center;    
            img{
                vertical-align:middle;
                display: inline-block;
                max-width: 100%;
                max-height: 100%; 
            }
        }
        .title{
            color:#333;
            font-size:18px;
            font-weight:bold;
            padding-bottom:5px;    
        }
        .intro{
            color:#444444;
            line-height:24px;
            max-height:96px;
            overflow: hidden;
        }
    }
}
.pptj-list-wrap,.wqhg-list-wrap{
    padding:20px 0;
    position: relative; 
    .bx-wrapper {
        position: relative;
        margin-bottom: 0px;
        padding: 0;
        box-shadow:none;
        border:none;
        background: #fff;
    }
    .dir{
        position: absolute;
        top:50%;
        margin-top:-19px;
        
        z-index: 10;

        a{
            display:block;
             
            width: 38px;
        height:38px;
        overflow: hidden;
        background-position: center;
        background-repeat:no-repeat;
        &.disabled{
            display:none; 
        }
        }
        &.prev{
            left:10px;
            a{
                background-image: url("../images/arrow_l.png");
            }
        }  
        &.next{
            right: 10px;
            a{
                background-image: url("../images/arrow_r.png");
            }
        }   
    }
}

.pptj-list{
    
    width:1000px; 
    li{
        float:left;
        width:192px; 
        margin-right:10px;  
        a{
            display:block;
            border:1px solid #ececec;
            width:190px;
            height:190px;
            line-height:190px; 
            overflow:hidden;
            font-size:0;  
            text-align:center;    
            img{
                vertical-align:middle;
                display: inline-block;
                max-width: 100%;
                max-height: 100%; 
            }
        }
    }
}

.wqhg-list{
    width: 1050px;
    li{
        float:left;
        margin-right:10px;  
        a{
            display: block;
            padding:20px;
            border:1px solid #ececec; 
        }
        .pic{
            width: 286px;
            height: 220px;
            font-size: 0;
            line-height: 220px;
            text-align:center;    
            img{
                vertical-align:middle;
                display: inline-block;
                max-width: 100%;
                max-height: 100%; 
            }
        }
        .txt{
            color: #333333;
            font-size: 16px;
            margin-top:10px; 
            @extend %text-overflow;
        }
    }
}

.side-fixed{
    position: fixed;
    left:50%;
    top:250px;
    border:1px solid #daa6a6;
    margin-left:550px; 
    background:#fff;
    border-radius:8px; 
    overflow:hidden;
    .list{
        li{
            border-bottom:1px solid #daa6a6;
            padding:8px 7px 5px; 
            cursor:pointer; 
            span{
                display:block;
                width:33px;
                height: 33px;
                margin:0 auto; 
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;  
            }
            p{
                color:#be6565; 
            }
            &.item-1{
                span{
                    background-image:url("../images/side_1.png"); 
                }
            }
            &.item-2{
                span{
                    background-image:url("../images/side_2.png"); 
                }
            }
            &.item-3{
                span{
                    background-image:url("../images/side_3.png"); 
                }
            }
            &.item-4{
                span{
                    background-image:url("../images/side_4.png"); 
                }
            }
            &.item-5{
                span{
                    background-image:url("../images/side_5.png"); 
                }
            }
            &.item-6{
                border-bottom:none; 
                span{
                    background-image:url("../images/side_6.png"); 
                }
            }
        }
    } 
    .gotop{
        display:none; 
        a{
            height: 25px;
            display:block; 
            background:#daa6a6 url("../images/gotop.png") no-repeat center; 
        }
    }
}