	<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/images/pw_core.css?101128">
	<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/data/bbscache/wind_wind.css">
	<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/template/xmfish/images/headernav201205/headernav2.css">
	<style>
.search-wrap{position:relative;height:110px;}
.home-logo{display:block;width:184px;height:40px;margin-top:38px;background:url('http://jiaju.xiaoyu.com/img/home/home-logo2.png') no-repeat;text-indent:-999em;overflow:hidden;}
.nav-panel{border-bottom:#28ab00 2px solid;}
.nav-list{}
.nav-list li{position:relative;}
.nav-list li a.nav-item{display:inline-block;height:40px;padding:0 35px;text-align:center;line-height:40px;font-size:18px;font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;white-space:nowrap;}
.nav-list li a.nav-item:hover,
.nav-list li.active a.nav-item{background-color:#28ab00;color:#fff;text-decoration:none;}
.nav-list li.nactive a.nav-item{background-color:#28ab00;color:#fff;text-decoration:none;}
.nav-list li .nav-redtip{display:inline-block;padding:0 2px;background-color:#f25618;line-height:15px;font-size:12px;color:#fff;vertical-align:2px;}
.nav-list li.nav-more a.nav-item{width:125px;height:40px;padding:0;line-height:40px;text-decoration:none;}
.nav-list li .nav-dropdown{display:none;position:absolute;top:40px;left:50%;width:123px;margin-left:-62px;background-color:#fff;border:#28ab00 1px solid;border-top:#28ab00 2px solid;z-index:10;}
.nav-list li .nav-dropdown a{display:block;padding:8px 15px;font-size:16px;font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;}
.nav-list li .nav-dropdown a:hover{background-color:#fafafa;text-decoration:none;color:#333;}
.nav-list li.nav-more.active a.nav-item{background-color:#28ab00;}
.nav-list li.nav-more.nactive a.nav-item{background-color:#28ab00;}
.nav-list li.active .nav-dropdown{display:block;color:#fff;}
.nav-list li .icon-navarrow{display:inline-block;margin-left:5px;border:5px dashed transparent;border-top:7px solid #999;font-size:0;line-height:0;vertical-align:-4px;}
.nav-list li.nav-more.active .icon-navarrow,.nav-list li.nav-more.nactive .icon-navarrow{border-top:7px solid #fff;}
.home-tip{display:block;width:180px;height:92px;margin-top:5px;background:url('/template/wind/images/forum-home/tip.png') no-repeat;text-indent:-999em;overflow:hidden;}
.home_subject_name{margin-top:47px;font-size:22px;color:#28ab00;font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;}
.icon-circular{display:inline-block;width:8px;height:8px;margin:0 12px;background-color:#28ab00;line-height:0;font-size:0;vertical-align:4px;-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;}
.con_bg { background-color:#fff;}
.crumbnav { padding:0 7px; background-color:#f6f6f6; border:#eee 1px solid; line-height:28px; color:#aaa;}
.crumbnav span { float:left;}
.crumbnav span a { color:#777;}
.crumbnav em { float:right;}
.crumbnav em a { color:#2288cc;}
/*.weixun-code{display:block;position:fixed;_position:absolute;top:50%;_top:374px;left:0;width:125px;height:192px;margin-top:-100px;_margin-top:expression(0 - parseInt(this.offsetHeight/ 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop ) + 'px' );background:url("http://www.xmfish.com/images/chanel/home/weixun-code.png") no-repeat;text-indent:-999rem;overflow:hidden;z-index:10;}*/
</style>

<script type="text/javascript" src="http://bbs.xmfish.com/apps/rt/www/js/jquery.xmfish.17.08.min.js?t=1.0"></script>
<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/apps/rt/www/header.css">