<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/apps/rt/www/header.css">
<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/images/fish_side.css">
<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/data/bbscache/wind_wind.css">
<link rel="stylesheet" type="text/css" href="http://www.xmfish.com/styles/chanel/www/headernav-1.css">
<link rel="stylesheet" type="text/css" href="http://bbs.xmfish.com/images/pw_core.css?v=151020">
<script type="text/javascript" src="http://bbs.xmfish.com/apps/rt/www/js/jquery.xmfish.17.08.min.js?t=1.0"></script>


<!--  <script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script> -->