<div class="aside-box">
    <div class="aside-avatar">
        <span class="pic"><img src="./upload/avatart_3.jpg" /></span>
        <p class="name">SWZ123</p>
    </div>
    <ul class="aside-list-2">
        <li class="active"><a href="WoDeBoBing.html"><span>我的博饼</span></a></li>
        <li><a href="XianXiaBoBingMenPiao.html"><span>线下博饼门票</span></a></li>
        <li><a href="DuiHuanJiLu.html"><span>兑换记录</span></a></li>
        <li><a href="DaPaiFuLiChouJia.html"><span>大牌福利抽奖</span></a></li>
        <li><a href="ZhongJiangDengJi.html"><span>中奖登记</span></a></li>
    </ul>
</div>
