.h-banner {
    position: relative;
    img {
        max-width: 100%;
        vertical-align: top;
    }
    .seach-box {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
        padding: px2rem(30px);
        .ipt-text {
            height: px2rem(66px);
            border: none;
            width: 100%;
            color: #000;
            background: rgba(255, 255, 255, 0.7);
            border-radius: px2rem(30px);
            padding: px2rem(23px) px2rem(30px) px2rem(23px) px2rem(65px);
            font-size: px2rem(28px);
        }
        .icon-s {
            width: px2rem(30px);
            height: px2rem(30px);
            position: absolute;
            left: px2rem(50px);
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            background: url("../images/home/search_icon.png") no-repeat left top;
            background-size: 100% 100%;
        }
    }
}

.h-tit-1 {
    line-height: px2rem(40px);
    padding: px2rem(15px) px2rem(30px);
    .txt-cn {
        color: #333333;
        float: left;
        font-size: px2rem(32px);
        margin-right: px2rem(10px);
    }
    .txt-en {
        color: #ff9812;
        float: left;
        font-size: px2rem(34px);
    }
    .more {
        float: right;
        color: #808080;
        font-size: px2rem(24px);
        position: relative;
        padding-right: px2rem(20px);
        .arrow {
            width: px2rem(14px);
            height: px2rem(22px);
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            background: url("../images/home/arrow_r.png") no-repeat top center;
            background-size: 100% 100%;
        }
    }
}


.pptg-list {
    padding: px2rem(10px) px2rem(22px) 0;
    li {
        width: 33.33%;
        float: left;
        margin-bottom: px2rem(20px);
        overflow: hidden;
        padding: 0 px2rem(8px);


        a {
            display: block;
            border-radius: px2rem(5px) px2rem(5px) 0 0;
        }
        .pic {
            display: block;
            height: px2rem(134px);
            position: relative;
            text-align: center;

            overflow: hidden;
            img {
                @include img-vhcenter;
            }
        }
        .txt {
            height: px2rem(46px);
            line-height: px2rem(46px);
            background: #ffaf46;
            text-align: center;
            color: #fff;
            font-size: px2rem(22px);
            font-weight: bold;
            border-radius: 0 0 px2rem(5px) px2rem(5px);
        }
        .count {
            text-align: center;
            color: #4c4c4c;
            font-size: px2rem(22px);
            line-height: 1.8;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            padding: 0 px2rem(5px);
            overflow: hidden;
            span {
                color: #ee3a3a;
                font-weight: bold;
            }
        }
    }
}

.pkhc-list {
    padding: px2rem(10px) px2rem(20px) px2rem(10px);
    li {
        float: left;
        width: 50%;
        padding: 0 px2rem(10px);
        margin-bottom: px2rem(20px);
        .pic {
            height: px2rem(181px);
            position: relative;
            overflow: hidden;
            img {
                @include img-vhcenter;
            }
        }
        .tit {
            height: px2rem(50px);
            line-height: px2rem(50px);
            text-align: center;
            @include text-overflow;
            color: #333333;
            font-size: px2rem(22px);
            margin: 0 px2rem(12px);
            border-bottom: 1px dashed #cccccc;
        }
        .txt {
            border: 1px solid #e6e6e6;
            border-top: none;
            padding: 0 px2rem(12px) px2rem(10px);
        }
        .txt-1 {
            height: px2rem(40px);
            line-height: px2rem(40px);
            text-align: center;
            font-size: px2rem(24px);
            font-weight: bold;
            color: #ef3a3a;
            margin: px2rem(5px) 0 0;
            @include text-overflow;
        }
        .txt-2 {
            height: px2rem(30px);
            line-height: px2rem(30px);
            text-align: center;

            font-size: px2rem(22px);
            @include text-overflow;
            color: #ef3a3a;
        }
    }
}

.h-list-1 {
    padding: px2rem(15px) px2rem(22px) 0;
    li {
        width: 50%;
        padding: 0 px2rem(8px);
        float: left;
        margin-bottom: px2rem(20px);
        a {
            display: block;
        }
        .pic {
            height: px2rem(181px);
            overflow: hidden;
            position: relative;
            img {
                @include img-vhcenter;
            }
        }
        .txt {
            border: 1px solid #e6e6e6;
            border-top: none;
            padding: 0 0 px2rem(20px) 0;
        }
        .name {
            color: #333333;
            font-size: px2rem(24px);
            text-align: center;
            height: px2rem(50px);
            line-height: px2rem(50px);
            @include text-overflow;
        }
        .price {
            text-align: center;
            line-height: 1.2;
            .current {
                color: #ef3a3a;
                font-size: px2rem(36px);
            }
            .origin {
                color: #999999;
                font-size: px2rem(20px);
                text-decoration: line-through;
            }
        }
        .checkbtn {
            width: px2rem(238px);
            height: px2rem(56px);
            line-height: px2rem(56px);
            display: block;
            text-align: center;
            color: #ffffff;
            font-size: px2rem(24px);
            background: #ff9812;
            border-radius: px2rem(30px);
            margin: px2rem(10px) auto 0;
        }
    }
}

.h-list-1-pagination {
    text-align: center;
    padding-bottom: px2rem(30px);
    .swiper-pagination-bullet {
        width: px2rem(34px);
        height: px2rem(8px);
        background: #ff9812;
        border-radius: 0;
    }
}


.bcg-form-box {
    width: px2rem(720px);
    margin: 0 auto;
    position: relative;
    padding-bottom: px2rem(30px);

    .soma-bd {

        padding: px2rem(30px) px2rem(50px) px2rem(110px);
        margin: px2rem(15px) px2rem(45px) 0;

        position: relative;
        background: url("../images/home/bt_icon.png") no-repeat bottom center;
        background-size: 100% 100%;
        .item-cell {
            margin-bottom: px2rem(20px);
            .lab {
                color: #4c4c4c;
                font-size: px2rem(22px);
                line-height: px2rem(24px);
                padding: px2rem(7px) 0;
                .plus {
                    width: px2rem(24px);
                    height: px2rem(24px);
                    overflow: hidden;
                    background: url("../images/home/plus_icon.png") no-repeat top center;
                    background-size: 100% 100%;
                    display: inline-block;
                    margin-left: px2rem(8px);
                    vertical-align: middle;
                }
            }
            .sel {
                border: 1px solid #dbdbdb;
                background: none;
                width: px2rem(250px);
                padding: px2rem(20px) px2rem(10px);
                appearance: none;
                -webkit-appearance: none;
                border-radius: 0;
                float: left;
                font-size: px2rem(22px);
                /* Safari 和 Chrome */
                background: #ffffff url("../images/home/arrow_sel.png") no-repeat 100% center;
                &:first-child {
                    margin-right: px2rem(20px);
                }
            }
            .ipt-text {

                width: 100%;
                appearance: none;
                border: 1px solid #dbdbdb;
                border-radius: 0;
                padding: px2rem(20px) px2rem(10px);
            }
            .ipt-submit {
                height: px2rem(72px);
                line-height: px2rem(72px);
                text-align: center;
                background: #ff9812;
                border-radius: px2rem(5px);
                appearance: none;
                border: none;
                width: 100%;
                color: #ffffff;
                font-size: px2rem(28px);
            }
            .tip-1 {
                text-align: center;
                color: #333333;
                padding: px2rem(5px) 0;
                b {
                    color: #ef3a3a;
                    font-weight: bold;
                }
            }

            .item-yx {
                margin-bottom: px2rem(20px);
            }
        }
    }

    .cart-type-box {
        position: relative;
        float: left;

        width: px2rem(250px);
        &.open {
            .sel-item-box {
                display: block;
            }
        }
    }
    .sel-field-el {
        border-radius: 0;
        border: 1px solid #dbdbdb;
        padding: px2rem(20px) px2rem(60px) px2rem(20px) px2rem(10px);
        width: 100%;
        color: #323232;
        margin-top:px2rem(4px); 
        font-size: px2rem(22px);
        background: #ffffff url(../images/home/arrow_sel.png) no-repeat 100% center;
        @include text-overflow;
        max-width: px2rem(300px);
    }
    .sel-item-box {
        position: absolute;
        right: 0;
        top: px2rem(100px);
        background: #fff;
        width: px2rem(630px);
        padding: px2rem(20px);
        z-index: 100;

        display: none;
        a {
            display: inline-block;
            height: px2rem(58px);
            line-height: px2rem(58px);
            overflow: hidden;
            padding: 0 px2rem(18px);
            font-size: px2rem(28px);
            background: #f0f0f0;
            color: #4c4c4c;
            margin-bottom: px2rem(10px);
            margin-right: px2rem(2px);
            border: 1px solid #f0f0f0;
            &.active {
                background: #ff4800;
                background: #fff;
                border: 1px solid #ff530f;
            }
        }
        .arrow-up {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #fff;
            position: absolute;
            right: px2rem(20px);
            top: px2rem(-15px);
        }
        .btncomfirm {
            padding: px2rem(15px) 0;
            width: px2rem(280px);
            margin: px2rem(10px) auto 0;
            font-size: px2rem(28px);
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border-radius: px2rem(50px);
            display: block;

            color: #fff;
            background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgb(166, 34, 226)), to(rgb(216, 34, 186)), to(rgb(51, 102, 0)));
        }
    }
}



.seach-dialog {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    display: none;

    visibility: hidden;
    .form-seach {
        position: relative;
        padding: px2rem(30px) px2rem(30px) px2rem(30px) px2rem(80px);
        border-bottom: 1px solid #e6e6e6;
        .goback {
            width: px2rem(60px);
            height: px2rem(46px);
            overflow: hidden;
            position: absolute;
            left: px2rem(10px);

            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            background: url("../images/home/search_arrow_1.png") no-repeat center center;
            background-size: auto 100%;
        }
        .form-item {
            position: relative;
            .ipt-seach {
                background: #f0f0f0;
                -webkit-appearance: none;
                border-radius: px2rem(40px);
                border: none;
                width: 100%;
                padding: px2rem(20px) px2rem(30px) px2rem(20px) px2rem(60px);
                font-size: px2rem(26px);
            }
            .sicon {
                width: px2rem(30px);
                height: px2rem(30px);
                position: absolute;
                left: px2rem(20px);
                top: 50%;
                transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                background: url("../images/home/search_icon.png") no-repeat top center;
                background-size: 100% 100%;
            }
        }
    }

    .seach-hot,
    .seach-record {
        padding: 0 px2rem(30px);
        margin-bottom: px2rem(50px);
        .tit {
            color: #333333;
            font-size: px2rem(30px);
            margin-top: px2rem(15px);
        }
        .tag {
            padding-top: px2rem(20px);
            a {
                margin-bottom: px2rem(20px);
                height: px2rem(48px);
                line-height: px2rem(48px);
                text-align: center;
                background: #f5f5f5;
                float: left;
                margin-right: px2rem(20px);
                border-radius: px2rem(30px);
                padding: 0 px2rem(25px);
                font-size: px2rem(28px);
                color: #4c4c4c;
                &:active {
                    background: #ffead0;
                }
            }
        }
    }
}




//**********
//