@import "./scss/_normalize.scss";
@import "./scss/_base.scss";
@import "./scss/_funvar.scss";

.container{
	width:px2rem(750px);
	margin: 0 auto; 
}
.banner{
	max-width: 100%;
	text-align: center;
	img{
		max-width: 100%;
	}
}

.tit-type{
	text-align: center;
	.tit{
		font-size:px2rem(40px);
		padding-top: px2rem(50px); 
	}
	.intro{
		font-size: px2rem(24px);
		
		margin-top:px2rem(10px); 
	}
	.line{
		height:px2rem(4px);
		width:px2rem(60px);
		background:#ffb70f;
		margin: px2rem(25px) auto 0;   
	}
	&.type-1{
		.tit{
			color:#152344; 
		}
		.intro{
			color:#9f9f9f; 
		}
	}
	&.type-2{
		.tit{
			color:#fff; 
		}
		.intro{
			color:#fff; 
		}
	}
}

.guide-btn-1{
	width:px2rem(703px);
	margin:px2rem(30px) auto px2rem(50px);
	height:px2rem(137px); 
	background:url("../images/btn_1.png") no-repeat top center; 
	background-size:100% 100%;
	display:block;   
}

.main-box{
	background: url("../images/bg_1.jpg") no-repeat top center #9143d1;
	background-size: 100% auto;
	padding-bottom:px2rem(170px); 
}


.pro-list-box{
	margin:px2rem(50px) px2rem(30px) 0;
	background:#fff;
	border-radius:px2rem(10px);
	padding:px2rem(20px);
	overflow:hidden; 
}
.pro-infor{

	.pic{
		img{
			width:100%;
			vertical-align: top;
			border-radius:px2rem(10px);
		}
	}
	.name{
		margin-top:px2rem(15px);
		a{
			color:#262626;
			font-size:px2rem(30px);
			display:block;
			line-height: 1.3;
		}
	}
	.count{
		color:#16c87f;
		font-size:px2rem(24px);
		margin-top:px2rem(10px);
	}
	.original{
		color:#b5b9c1;
		font-size:px2rem(24px);
		text-decoration: line-through;
		margin-top:px2rem(15px);
	}
	.present{
		color:#d44d44;
		font-size:px2rem(24px);
		span{
			color:#d44d44;
			font-size:px2rem(40px);
		}
	}
}
.pro-buy-btn{
	display:block;
	height:px2rem(88px);
	line-height:px2rem(88px);
	text-align:center;
	border-radius:px2rem(15px);
	color:#ffffff;
	font-size:px2rem(36px);
	margin-top:px2rem(20px);
	background-image:-webkit-gradient(linear,0% 0%, 100% 100%, from(#FF2361), to(#FF8055), color-stop(1.0,#FF8055));
}

.pro-step{
	margin-top:px2rem(15px);
	.caption{
		text-align:center;
		.line-l{
			display:inline-block;
			vertical-align:middle;
			width:px2rem(120px);
			height:px2rem(2px);
			background-image:-webkit-gradient(linear,100% 100%, 0% 0%, from(#C7C7C7), to(#FFFFFF), color-stop(1.0,#FFFFFF));
		}
		.line-r{
			display:inline-block;
			vertical-align:middle;
			width:px2rem(120px);
			height:px2rem(2px);
			background-image:-webkit-gradient(linear,0% 0%, 100% 100%, from(#C7C7C7), to(#FFFFFF), color-stop(1.0,#FFFFFF));
		}
		span{
			font-size:px2rem(28px);
			border:1px solid #c7c7c7;
			display:inline-block;
			vertical-align:middle;
			height:px2rem(40px);
			line-height:px2rem(40px);
			border-radius:px2rem(20px);
			padding:0 px2rem(10px);
			margin:0 px2rem(10px);
		}
	}
	.detail{
		padding:px2rem(20px) 0;
		img{
			max-width:100%;
		}
		font-size:px2rem(24px);
		color:#666666;
		line-height:1.5;
	}
}

.pro-shop-list{
	li{
		padding:px2rem(30px) 0;
		border-top:1px solid #d2d2d2;
		.pic{
			width:px2rem(139px);
			height:px2rem(139px);
			overflow:hidden;
			float:left;
			border-radius:px2rem(10px);
			margin-right:px2rem(20px);
			img{
				max-width:100%;
			} 
		}
		.tit{
			color:#262626;
			font-size:px2rem(30px);
			line-height:px2rem(30px);
			min-height: px2rem(60px);
			overflow:hidden;
			padding-top:px2rem(8px);
		}
		.address{
			margin-top:px2rem(10px);
			color:#888888;
			font-size:px2rem(26px);
		}
		.phone{
				margin-top:px2rem(7px);
				display:block;
				color:#888888;
				font-size:px2rem(26px);
			
		}
	}
}

.guide-btn-mfkf{
	margin: px2rem(30px) px2rem(30px) 0;
	height:px2rem(75px);
	line-height:px2rem(75px);
	text-align:center;
	background-color:rgba(255,255,255,0.17); 
	display:block;
	border:px2rem(4px) solid #fff;
	border-radius:px2rem(10px);
	font-size:px2rem(28px);
	color:#fff;
	b{
		width:px2rem(25px);
		height:px2rem(27px);
		display:inline-block;
		vertical-align:middle;
		margin-right:px2rem(10px);
		margin-top:px2rem(-2px);
		overflow:hidden;
		background:url("../images/icon_phone_1.png") no-repeat top center;
		background-size:100% 100%;
	}
}

.fg-line{
	height:px2rem(20px);
	background:#fff;
	margin-top:px2rem(50px);
}

.xmqmh-list{
	margin-top:px2rem(50px);
	li{
		margin:0 px2rem(20px);
		background:#fff;
		border-radius:px2rem(10px);
		padding:px2rem(20px);
		overflow:hidden; 

	}
}
.xmqmh-infor-box{
	.pic{
		img{
			max-width:100%;
			border-radius:px2rem(10px);
		}
	}
	.tit{
		color:#262626;
		font-size:px2rem(30px);
	}
	.original{
		margin-top:px2rem(15px);
		font-size:px2rem(24px);
		color:#b5b9c1;
		text-decoration:line-through;
	}
	.present{
		color:#d44d44;
		font-size:px2rem(24px);
		line-height:px2rem(30px);
		span{
			font-size:px2rem(40px);
		}
	}
	.tags{
		position:absolute;
		right: 0;
		top:0;
		span{
			height:px2rem(42px);
			line-height:px2rem(42px);
			overflow:hidden;
			text-align:center;
			float:left;
			color:#fff;
			font-size:px2rem(24px);
			padding:0 px2rem(10px);
			border-radius:px2rem(30px);
			&.t-1{
				background:#16c87f;
				margin-right:px2rem(10px);
			}
			&.t-2{
				background:#be534b;
			}
			b{
				width:px2rem(25px);
				height:px2rem(25px);
				display:inline-block;
				vertical-align:middle;
				margin-top:px2rem(-3px);
				overflow:hidden;
				background:url("../images/icon_arrow_1.png") no-repeat top center;
				background-size:100% 100%;
				margin-left:px2rem(10px); 
			}
		}
	}
}

.xmqmh-shop-list{
	margin-top:px2rem(40px);
	.caption{
			text-align:center;
			.line-l{
				display:inline-block;
				vertical-align:middle;
				width:px2rem(120px);
				height:px2rem(2px);
				background-image:-webkit-gradient(linear,100% 100%, 0% 0%, from(#C7C7C7), to(#FFFFFF), color-stop(1.0,#FFFFFF));
			}
			.line-r{
				display:inline-block;
				vertical-align:middle;
				width:px2rem(120px);
				height:px2rem(2px);
				background-image:-webkit-gradient(linear,0% 0%, 100% 100%, from(#C7C7C7), to(#FFFFFF), color-stop(1.0,#FFFFFF));
			}
			span{
				font-size:px2rem(28px);
				border:1px solid #c7c7c7;
				display:inline-block;
				vertical-align:middle;
				height:px2rem(40px);
				line-height:px2rem(40px);
				border-radius:px2rem(20px);
				padding:0 px2rem(10px);
				margin:0 px2rem(10px);
			}
		}

	.list{
			.item{
				position:relative;
				padding-left:px2rem(50px);
				margin-top:px2rem(30px); 
				.num{
					width:px2rem(33px);
					height:px2rem(33px);
					line-height:px2rem(33px);
					text-align:center;
					overflow:hidden;
					background:#484848;
					color:#fff;
					border-radius:100%;
					position:absolute;
					left:0;
					top:0;
					font-size:px2rem(26px);
				}
				.s-tit{
					color:#262626;
					font-size:px2rem(28px);

				}
				.s-address{
					color:#888888;
					font-size:px2rem(26px);
					margin-top:px2rem(15px);
				}
			}
		}
}

.ft-fixed{
	height:px2rem(107px);
	padding-top:px2rem(15px);
	background:#ffffff;
	position:fixed;
	left:0;
	bottom: 0;
	right:0;
	display:flex;
	li{
		flex:1;
		.pic{
			width:px2rem(41px);
			height:px2rem(42px);
			overflow:hidden;
			display:block;
			margin:0 auto;
			background-size:100% 100%;
			background-position: top center;
			background-repeat: no-repeat;
		}
		p{
			text-align:center;
			color:#b5b5b5;
			font-size:px2rem(24px);
			margin-top:px2rem(10px);
		}
		&.current{
			p{
				color:#7770ff;
			}
		}

		&.item-1{
			.pic{
				background-image:url("../images/icon_ft_1.png");
				
			}
			&.current{
				.pic{
					background-image:url("../images/icon_ft_1_h.png");
				}

			}
		}
		&.item-2{
			.pic{
				background-image:url("../images/icon_ft_2.png");
			}
			&.current{
				.pic{
					background-image:url("../images/icon_ft_2_h.png");
				}

			}
		}
		&.item-3{
			.pic{
				background-image:url("../images/icon_ft_3.png");
			}
			&.current{
				.pic{
					background-image:url("../images/icon_ft_2_h.png");
				}

			}
		}
	}
}