@keyframes dicedance1{
	0%{
		background-position:0 0;
	}
	3%{
		background-position:0 px2rem(-174px);
	}
	6%{
		background-position:0 px2rem(-348px);
	}
	9%{
		background-position:0 px2rem(-522px);
	}
	12%{
		background-position:0 px2rem(-696px);
	}
	15%{
		background-position:0 px2rem(-870px);
	}
	18%{
		background-position:0 px2rem(-696px);
	}
	21%{
		background-position:0 px2rem(-522px);
	}
	24%{
		background-position:0 px2rem(-348px);
	}
	27%{
		background-position:0 px2rem(-174px);
	}
	30%{
		background-position:0 0;
	}
	33%{
		background-position:0 px2rem(-174px);
	}
	36%{
		background-position:0 px2rem(-348px);
	}
	39%{
		background-position:0 px2rem(-522px);
	}
	42%{
		background-position:0 px2rem(-696px);
	}
	45%{
		background-position:0 px2rem(-870px);
	}
	48%{
		background-position:0 px2rem(-696px);
	}
	51%{
		background-position:0 px2rem(-522px);
	}
	54%{
		background-position:0 px2rem(-348px);
	}
	57%{
		background-position:0 px2rem(-174px);
	}
	60%{
		background-position:0 0;
	}
	63%{
		background-position:0 px2rem(-174px);
	}
	66%{
		background-position:0 px2rem(-348px);
	}
	69%{
		background-position:0 px2rem(-522px);
	}
	72%{
		background-position:0 px2rem(-696px);
	}
	75%{
		background-position:0 px2rem(-870px);
	}
	78%{
		background-position:0 px2rem(-696px);
	}
	81%{
		background-position:0 px2rem(-522px);
	}
	84%{
		background-position:0 px2rem(-348px);
	}
	87%{
		background-position:0 px2rem(-174px);
	}
	90%{
		background-position:0 0;
	}
	93%{
		background-position:0 px2rem(-174px);
	}
	96%{
		background-position:0 px2rem(-348px);
	}
	99%{
		background-position:0 px2rem(-522px);
	}
	100%{
		background-position:0 0;
	}		
}
@keyframes dicedance2{
	0%{
		background-position:0 0;
	}
	3%{
		background-position:0 px2rem(-174px);
	}
	6%{
		background-position:0 px2rem(-348px);
	}
	9%{
		background-position:0 px2rem(-522px);
	}
	12%{
		background-position:0 px2rem(-696px);
	}
	15%{
		background-position:0 px2rem(-870px);
	}
	18%{
		background-position:0 px2rem(-696px);
	}
	21%{
		background-position:0 px2rem(-522px);
	}
	24%{
		background-position:0 px2rem(-348px);
	}
	27%{
		background-position:0 px2rem(-174px);
	}
	30%{
		background-position:0 0;
	}
	33%{
		background-position:0 px2rem(-174px);
	}
	36%{
		background-position:0 px2rem(-348px);
	}
	39%{
		background-position:0 px2rem(-522px);
	}
	42%{
		background-position:0 px2rem(-696px);
	}
	45%{
		background-position:0 px2rem(-870px);
	}
	48%{
		background-position:0 px2rem(-696px);
	}
	51%{
		background-position:0 px2rem(-522px);
	}
	54%{
		background-position:0 px2rem(-348px);
	}
	57%{
		background-position:0 px2rem(-174px);
	}
	60%{
		background-position:0 0;
	}
	63%{
		background-position:0 px2rem(-174px);
	}
	66%{
		background-position:0 px2rem(-348px);
	}
	69%{
		background-position:0 px2rem(-522px);
	}
	72%{
		background-position:0 px2rem(-696px);
	}
	75%{
		background-position:0 px2rem(-870px);
	}
	78%{
		background-position:0 px2rem(-696px);
	}
	81%{
		background-position:0 px2rem(-522px);
	}
	84%{
		background-position:0 px2rem(-348px);
	}
	87%{
		background-position:0 px2rem(-174px);
	}
	90%{
		background-position:0 0;
	}
	93%{
		background-position:0 px2rem(-174px);
	}
	96%{
		background-position:0 px2rem(-348px);
	}
	99%{
		background-position:0 px2rem(-522px);
	}
	100%{
		background-position:0 px2rem(-174px);
	}		
}
@keyframes dicedance3{
	0%{
		background-position:0 0;
	}
	3%{
		background-position:0 px2rem(-174px);
	}
	6%{
		background-position:0 px2rem(-348px);
	}
	9%{
		background-position:0 px2rem(-522px);
	}
	12%{
		background-position:0 px2rem(-696px);
	}
	15%{
		background-position:0 px2rem(-870px);
	}
	18%{
		background-position:0 px2rem(-696px);
	}
	21%{
		background-position:0 px2rem(-522px);
	}
	24%{
		background-position:0 px2rem(-348px);
	}
	27%{
		background-position:0 px2rem(-174px);
	}
	30%{
		background-position:0 0;
	}
	33%{
		background-position:0 px2rem(-174px);
	}
	36%{
		background-position:0 px2rem(-348px);
	}
	39%{
		background-position:0 px2rem(-522px);
	}
	42%{
		background-position:0 px2rem(-696px);
	}
	45%{
		background-position:0 px2rem(-870px);
	}
	48%{
		background-position:0 px2rem(-696px);
	}
	51%{
		background-position:0 px2rem(-522px);
	}
	54%{
		background-position:0 px2rem(-348px);
	}
	57%{
		background-position:0 px2rem(-174px);
	}
	60%{
		background-position:0 0;
	}
	63%{
		background-position:0 px2rem(-174px);
	}
	66%{
		background-position:0 px2rem(-348px);
	}
	69%{
		background-position:0 px2rem(-522px);
	}
	72%{
		background-position:0 px2rem(-696px);
	}
	75%{
		background-position:0 px2rem(-870px);
	}
	78%{
		background-position:0 px2rem(-696px);
	}
	81%{
		background-position:0 px2rem(-522px);
	}
	84%{
		background-position:0 px2rem(-348px);
	}
	87%{
		background-position:0 px2rem(-174px);
	}
	90%{
		background-position:0 0;
	}
	93%{
		background-position:0 px2rem(-174px);
	}
	96%{
		background-position:0 px2rem(-348px);
	}
	99%{
		background-position:0 px2rem(-522px);
	}
	100%{
		background-position:0 px2rem(-348px);
	}		
}
@keyframes dicedance4{
	0%{
		background-position:0 0;
	}
	3%{
		background-position:0 px2rem(-174px);
	}
	6%{
		background-position:0 px2rem(-348px);
	}
	9%{
		background-position:0 px2rem(-522px);
	}
	12%{
		background-position:0 px2rem(-696px);
	}
	15%{
		background-position:0 px2rem(-870px);
	}
	18%{
		background-position:0 px2rem(-696px);
	}
	21%{
		background-position:0 px2rem(-522px);
	}
	24%{
		background-position:0 px2rem(-348px);
	}
	27%{
		background-position:0 px2rem(-174px);
	}
	30%{
		background-position:0 0;
	}
	33%{
		background-position:0 px2rem(-174px);
	}
	36%{
		background-position:0 px2rem(-348px);
	}
	39%{
		background-position:0 px2rem(-522px);
	}
	42%{
		background-position:0 px2rem(-696px);
	}
	45%{
		background-position:0 px2rem(-870px);
	}
	48%{
		background-position:0 px2rem(-696px);
	}
	51%{
		background-position:0 px2rem(-522px);
	}
	54%{
		background-position:0 px2rem(-348px);
	}
	57%{
		background-position:0 px2rem(-174px);
	}
	60%{
		background-position:0 0;
	}
	63%{
		background-position:0 px2rem(-174px);
	}
	66%{
		background-position:0 px2rem(-348px);
	}
	69%{
		background-position:0 px2rem(-522px);
	}
	72%{
		background-position:0 px2rem(-696px);
	}
	75%{
		background-position:0 px2rem(-870px);
	}
	78%{
		background-position:0 px2rem(-696px);
	}
	81%{
		background-position:0 px2rem(-522px);
	}
	84%{
		background-position:0 px2rem(-348px);
	}
	87%{
		background-position:0 px2rem(-174px);
	}
	90%{
		background-position:0 0;
	}
	93%{
		background-position:0 px2rem(-174px);
	}
	96%{
		background-position:0 px2rem(-348px);
	}
	99%{
		background-position:0 px2rem(-522px);
	}
	100%{
		background-position:0 px2rem(-522px);
	}		
}
@keyframes dicedance5{
	0%{
		background-position:0 0;
	}
	3%{
		background-position:0 px2rem(-174px);
	}
	6%{
		background-position:0 px2rem(-348px);
	}
	9%{
		background-position:0 px2rem(-522px);
	}
	12%{
		background-position:0 px2rem(-696px);
	}
	15%{
		background-position:0 px2rem(-870px);
	}
	18%{
		background-position:0 px2rem(-696px);
	}
	21%{
		background-position:0 px2rem(-522px);
	}
	24%{
		background-position:0 px2rem(-348px);
	}
	27%{
		background-position:0 px2rem(-174px);
	}
	30%{
		background-position:0 0;
	}
	33%{
		background-position:0 px2rem(-174px);
	}
	36%{
		background-position:0 px2rem(-348px);
	}
	39%{
		background-position:0 px2rem(-522px);
	}
	42%{
		background-position:0 px2rem(-696px);
	}
	45%{
		background-position:0 px2rem(-870px);
	}
	48%{
		background-position:0 px2rem(-696px);
	}
	51%{
		background-position:0 px2rem(-522px);
	}
	54%{
		background-position:0 px2rem(-348px);
	}
	57%{
		background-position:0 px2rem(-174px);
	}
	60%{
		background-position:0 0;
	}
	63%{
		background-position:0 px2rem(-174px);
	}
	66%{
		background-position:0 px2rem(-348px);
	}
	69%{
		background-position:0 px2rem(-522px);
	}
	72%{
		background-position:0 px2rem(-696px);
	}
	75%{
		background-position:0 px2rem(-870px);
	}
	78%{
		background-position:0 px2rem(-696px);
	}
	81%{
		background-position:0 px2rem(-522px);
	}
	84%{
		background-position:0 px2rem(-348px);
	}
	87%{
		background-position:0 px2rem(-174px);
	}
	90%{
		background-position:0 0;
	}
	93%{
		background-position:0 px2rem(-174px);
	}
	96%{
		background-position:0 px2rem(-348px);
	}
	99%{
		background-position:0 px2rem(-522px);
	}
	100%{
		background-position:0 px2rem(-696px);
	}		
}
@keyframes dicedance6{
	0%{
		background-position:0 0;
	}
	3%{
		background-position:0 px2rem(-174px);
	}
	6%{
		background-position:0 px2rem(-348px);
	}
	9%{
		background-position:0 px2rem(-522px);
	}
	12%{
		background-position:0 px2rem(-696px);
	}
	15%{
		background-position:0 px2rem(-870px);
	}
	18%{
		background-position:0 px2rem(-696px);
	}
	21%{
		background-position:0 px2rem(-522px);
	}
	24%{
		background-position:0 px2rem(-348px);
	}
	27%{
		background-position:0 px2rem(-174px);
	}
	30%{
		background-position:0 0;
	}
	33%{
		background-position:0 px2rem(-174px);
	}
	36%{
		background-position:0 px2rem(-348px);
	}
	39%{
		background-position:0 px2rem(-522px);
	}
	42%{
		background-position:0 px2rem(-696px);
	}
	45%{
		background-position:0 px2rem(-870px);
	}
	48%{
		background-position:0 px2rem(-696px);
	}
	51%{
		background-position:0 px2rem(-522px);
	}
	54%{
		background-position:0 px2rem(-348px);
	}
	57%{
		background-position:0 px2rem(-174px);
	}
	60%{
		background-position:0 0;
	}
	63%{
		background-position:0 px2rem(-174px);
	}
	66%{
		background-position:0 px2rem(-348px);
	}
	69%{
		background-position:0 px2rem(-522px);
	}
	72%{
		background-position:0 px2rem(-696px);
	}
	75%{
		background-position:0 px2rem(-870px);
	}
	78%{
		background-position:0 px2rem(-696px);
	}
	81%{
		background-position:0 px2rem(-522px);
	}
	84%{
		background-position:0 px2rem(-348px);
	}
	87%{
		background-position:0 px2rem(-174px);
	}
	90%{
		background-position:0 0;
	}
	93%{
		background-position:0 px2rem(-174px);
	}
	96%{
		background-position:0 px2rem(-348px);
	}
	99%{
		background-position:0 px2rem(-522px);
	}
	100%{
		background-position:0 px2rem(-870px);
	}		
}