.hide{
    display:none;
}
.bgfff{
    background:#fff;
}
.no-border-t{
    border-top:none !important;
}
.pl30{
    padding-left:px2rem(30px); 
}

.pr30{
    padding-right:px2rem(30px); 
}


.pl10{
    padding-left:px2rem(10px); 
}

.pr10{
    padding-right:px2rem(10px); 
}

.mt20{
    margin-top:px2rem(20px); 
}

html,body, button,select,input,textarea{
    font-size:px2rem(28px); 
}

.border-b-20{
    border-bottom:px2rem(20px) solid #f8f8f8; 
}
.border-t-20{
    border-top:px2rem(20px) solid #f8f8f8; 
}
.border-t-1{
     border-top:1px solid #eeeeee;
}
.border-b-1{
     border-bottom:1px solid #eeeeee;
}
.coms-checked-more{
    text-align:center;
    font-size:px2rem(30px);
    color:#02d289;
    padding:px2rem(25px) 0;
    font-weight:normal;
    span{
        width:px2rem(26px);
        height:px2rem(26px);
        overflow:hidden;
        vertical-align:middle;
        display:inline-block;
        margin-top:px2rem(-7px);
        margin-left:px2rem(5px);
        background:url("../images/h_more_1.png") no-repeat top center;
        background-size:100% 100%;
    }
}


/**
 * 
 */
.coms-fixed-guide {
    position: fixed;
    z-index: 100;
    right: px2rem(30px);
    bottom: px2rem(100px);
    li {
        width: px2rem(69px);
        height: px2rem(69px);
        overflow: hidden;
        border-radius: 100%;
        margin-bottom: px2rem(20px);
        a {

            display: block;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
        }
        &.gohome {
            a {
                background: url("../images/common/fixed_icon_1.png") no-repeat center center rgba(0, 0, 0, 0.2);
                 background-size: 100% 100%;
            }
        }
        &.goback {
            a {
                background: url("../images/common/fixed_icon_2.png") no-repeat center center rgba(0, 0, 0, 0.2);
                 background-size: 100% 100%;
            }
        }
        &.gotop {
            a {
                 display:none;
                background: url("../images/common/fixed_icon_3.png") no-repeat center center rgba(0, 0, 0, 0.2);
                 background-size: 100% 100%;
            }
            &.active{
                a{
                    display:block;
                }
            }
        }
    }
}


.coms-ft-qrcode{
    padding: px2rem(20px);
    border-top:1px solid #eee;
    .qrcode-pic {
        width: px2rem(192px);
        height: px2rem(192px);
        overflow: hidden;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .txt-1 {
        text-align: center;
        color: #02d289;
        font-size: px2rem(28px);
        font-weight: bold;
        margin-top: px2rem(8px);
    }
    .txt-2 {
        color: #333333;
        text-align: center;
        font-size: px2rem(28px);
        color: #333333;
        margin-top: px2rem(8px);
    }
}


/**
 * 
 */

.coms-swiper-1 {
    border-bottom:1px solid #eeeeee;
    .info{
        padding-bottom:px2rem(25px); 
    }
    .swiper-slide {
        width: px2rem(600px);
        a{
            display: block;
            transform:scale(0.9,0.9);
            opacity:0.6;
            transition:all 0.35s ease-out;
        }
        &.swiper-slide-active{
            a{
                transform:scale(1,1);
                opacity:1;
            }
        }
    }
    .pic-img {
        width: px2rem(600px);
        height: px2rem(339px);
        position:relative;
        line-height: px2rem(339px);
        overflow: hidden;
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
    .tit {
        color: #333333;
        font-size: px2rem(30px);
        @include text-overflow-1;
        margin-top:px2rem(10px);
        margin-bottom:px2rem(10px);
    }


    .avatar {
        line-height: px2rem(55px);
        .pic {
            width: px2rem(55px);
            height: px2rem(55px);
            overflow: hidden;
            display: block;
            border-radius: 100%;
            float: left;
            margin-right: px2rem(10px);
            img {
                width: 100%;
                height: 100%;
            }
        }
        .name {
            color: #bfbfbf;
            font-size: px2rem(24px);
            float: left;
        }
    }
    .time{
        line-height: px2rem(55px);
        float:right;
        color:#bfbfbf;
        font-size: px2rem(24px);
        i{
            width:px2rem(23px);
            height:px2rem(23px);
            display:inline-block;
            vertical-align:middle;
            margin-right:px2rem(5px);
            background:url("../images/h_time_1.png") no-repeat left center;
            background-size:100% 100%;
            margin-top:px2rem(-4px);
        }
    }
}

/**
 * 下拉加载更多************************************
 */
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size:px2rem(28px);
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height:px2rem(100px);
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height:px2rem(100px);
    line-height:px2rem(100px);
    text-align: center;
    color:#666; 
}
.dropload-load .loading{
    display: inline-block;
    height:px2rem(30px);
    width::px2rem(30px);
    border-radius: 100%;
    margin:0 px2rem(10px);
    border: px2rem(4px) solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dropload-container .dropload-noData{
    height: px2rem(100px);
    line-height:px2rem(100px);
    color:#666 !important;
   
}


/*************************/
.coms-tit-type{
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    padding:px2rem(24px) 0;
    min-height:px2rem(88px);    
    .tit{
        color:#333333;
        font-size:px2rem(30px);
        position: relative;
        float:left;
        padding-left:px2rem(27px);  
        &:after{
            content:"";
            position: absolute;
            left: 0;
            top: 50%;
            height:px2rem(40px);
            width:px2rem(8px);
            background:#02d289;    
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            -moz-transform: translate(0,-50%);
            transform: translate(0,-50%);
        }  
    }
}

/***********************/
.coms-header-top{
    height:px2rem(70px);
    background:#02d289;
    padding:0 px2rem(20px);
    .logo{
        width:px2rem(207px);
        height:px2rem(32px);
        margin-top:px2rem(19px); 
        float: left;
        background:url("../images/common/logo.png") no-repeat top center;
        background-size: 100% 100%;
        text-indent:-99999px;    
    }  
    .member{
        width:px2rem(33px);
        height:px2rem(37px);
        margin-top:px2rem(16.5px); 
        overflow:hidden;
        float: right;
        background:url("../images/common/member_icon.png") no-repeat top center;
        background-size: 100% 100%;    
    }
}

.coms-seach-wrap{
    position:relative;
    padding:px2rem(20px) 0; 
    .seach-btn{
        position:absolute;
        right:px2rem(-30px);
        top: 50%;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        background:none;
        border:none;
        opacity: 0;
        visibility: hidden;
        color:#02d289;
        font-weight:bold;      
    }
    &.active{
        .coms-seach-box{
            width:90%; 
        }
        .seach-btn{
                opacity:1;
                visibility: visible;    
        }
        
    } 
}

.coms-seach-box{
    background:#eeeeee;
    border-radius:px2rem(30px);
    position:relative;
    height:px2rem(60px);
    border:1px solid #eeeeee;
    
    width:100%; 
    padding:0 px2rem(20px) 0 px2rem(60px);
    transition: width 0.5s ease-out;
    
    .s-icon{
        width:px2rem(31px);
        height:px2rem(31px);
        overflow:hidden;
        background:url("../images/common/seach_icon.png") no-repeat top center;
        background-size: 100% 100%;
        position: absolute;
        left:px2rem(20px);
        top: 50%;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);   
    } 
    .ipt-seach{
        height:px2rem(58px);
        padding:px2rem(9px) 0; 
        border:none; 
        background:none;
        font-size:px2rem(26px);
        color:#666666;
        vertical-align: top;
        width:100%;  
    }
}


.coms-seach-list{
    padding:0 px2rem(25px) px2rem(30px);
    li{
        float: left;
        padding:0 px2rem(5px);
        width:25%; 
        a{
            display: block;
            height:px2rem(54px);
            line-height:px2rem(54px);
            border:1px solid #ededed;
            border-radius:px2rem(30px);
            color:#333333;
            font-size:px2rem(26px);
            padding:0 px2rem(25px);
            text-align: center;
            @include text-overflow-1;    
        }
    }
}