
.pwlist-tab-hd{
	display:flex;
	padding: 0 px2rem(30px);
	border-bottom:1px solid #eeeeee; 
	li{
		flex:1;
		a{
			font-size:px2rem(30px);
			color:#666666;
			text-align: center;
			display:block;
			height:px2rem(83px);
			line-height:px2rem(73px);
			padding:px2rem(5px) 0;    
		}
		&.active{
			a{
				border-bottom:px2rem(5px) solid #02d289;
				padding-bottom: 0;
				color:#02d289;
			}
		}
	} 
}
.pwlist-tab-bd-item{
	display:none;
	&.active{
		display:block;
	}
}
.pwlist-tab-bd-list{
	padding:0 px2rem(30px);
	li{
		border-bottom:1px solid #dcdcdc;
		padding:px2rem(30px) 0;
		.pic{
			width:px2rem(200px);
			height:px2rem(160px);
			line-height:px2rem(160px);
			overflow:hidden;
			float:left;
			margin-right:px2rem(20px);
			text-align:center;
			img{
				max-width:100%;
				max-height:100%;
				vertical-align:middle;
			} 
		}
		.tit{
			color:#000000;
			padding:px2rem(5px) 0;
			line-height:1.5;
			height:px2rem(95px);
			margin-bottom:px2rem(15px);
			font-size:px2rem(30px);
			@include text-overflow-2;
		}
        .tag{
            float:left;
            height:px2rem(36px);
            margin-top:px2rem(4px);   
            span{
                height:px2rem(36px);
                line-height:px2rem(32px);
                border:px2rem(2px) solid #02d289;
                font-size:px2rem(24px);
                color:#02d289;
                border-radius:px2rem(6px);
                text-align:center;
                font-size:px2rem(24px);
                padding:0 px2rem(5px);
                display: inline-block;
                vertical-align: top;
                margin-right:px2rem(5px);
                
            }
        }
		
		.price{
			color:#d44d44;
			font-size:px2rem(36px);
			float:right;

			b{
				font-weight: normal;
				font-size:px2rem(28px);
			}
		}	
	}
}

.pwdetail-photo{
	position:relative;
	img{
		width:100%;
	}
	.count{
		position:absolute;
		right:px2rem(50px);
		bottom:px2rem(30px);
		line-height:px2rem(36px);
		color:#fff;
		font-size:px2rem(30px);
		i{
			width:px2rem(44px);
			height:px2rem(36px);
			display:inline-block;
			vertical-align:middle;
			background:url("../images/icon_img_1.png") no-repeat top center;
			background-size:100% 100%;
			margin-right:px2rem(10px); 
		}
	}
}
.pwdetail-pro-name{
	color:#333333;
	font-size:px2rem(32px);
	padding:0 px2rem(30px);
}

.pwdetail-price{
	padding:0 px2rem(25px) px2rem(5px);
	line-height:px2rem(60px);
	margin-top:px2rem(20px);
	border-bottom:1px solid #eeeeee; 
	.price{
		float:left;
		color:#d44d44;
		b{
			font-size:px2rem(28px);
			font-weight:normal;
			color:#d44d44;
		}
	}
	.tip{
		float:right;
		color:#333333;

		font-size:px2rem(24px);
	}
}
.pwdetail-fxintro{
	position:relative;
	padding:0 px2rem(30px) px2rem(25px) px2rem(160px);
	border-bottom:1px solid #eeeeee;
	.tip{
		width:px2rem(109px);
		height:px2rem(36px);
		border:px2rem(2px) solid #02d289;
		border-radius:px2rem(5px);
		font-size:px2rem(22px);
		padding:px2rem(5px);
		color:#02d289;
		position:absolute;
		left:px2rem(30px);
		top:px2rem(30px);
		white-space:nowrap; 
	}
	.txt{
		color:#666666;
		font-size:px2rem(26px);
		padding-top:px2rem(28px);
		line-height:1.5; 
		span{
			color:#d44d44;
		}
	}
}
.pwdetail-address{
	color:#666666;
	position:relative;
	font-size:px2rem(26px);
	height:px2rem(85px);
	line-height:px2rem(85px);
	padding:0 px2rem(50px) 0 px2rem(110px);
	border-bottom:1px solid #eeeeee;
	.lab{
		position: absolute;
	    left:px2rem(30px);
	    top: 50%;
	    -webkit-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	    -moz-transform: translate(0,-50%);
	}
	.txt{
		@include text-overflow-1;
	}
	i{
		position: absolute;
	    right:px2rem(30px);
	    top: 50%;
	    -webkit-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	    -moz-transform: translate(0,-50%);
	    width:px2rem(18px);
	    height:px2rem(33px);
	    overflow:hidden;
	    background:url("../images/h_arrow_r_1.png") no-repeat top center;
	    background-size: 100% 100%; 
	}
}
.pwdetail-tab-hd{
	display:flex;
	border-bottom:1px solid #eeeeee;
	li{
		flex:1;
		a{
			color:#333333;
			font-size:px2rem(30px);
			height:px2rem(85px);
			padding:px2rem(5px) 0;
			line-height:px2rem(75px);
			display:block;
			text-align:center;
		}
		&.active{
			border-bottom:px2rem(5px) solid #02d289;
			padding-bottom:0;
			a{
				color:#02d289;
			}
		}
	}
}

.pwdetail-tab-cpjs,.pwdetail-tab-fysm{
	color:#666666;
	font-size:px2rem(24px);
	line-height:1.5;
	padding:0 px2rem(30px);
	*{
		max-width: 100%;
	}
}
.pwdetail-tab-fysm{
    padding-bottom:px2rem(30px); 
}

.pwdetail-yhpj-tags{
	padding:px2rem(20px) px2rem(25px) 0;
	li{
		float:left;
		margin:px2rem(8px) px2rem(5px);

		a{
			display:block;
			height:px2rem(62px);
			line-height:px2rem(62px);
			background:#f8f8f8;
			font-size:px2rem(22px);
			padding:0 px2rem(17px);
			color:#666666;
		}
        &.active{
            a{
                background:#b7f1dd;
            }
        }
	}
}

.pwdetail-tit-1{
    padding:px2rem(30px); 
    line-height:px2rem(33px);
    font-size:px2rem(30px); 
    display:block; 
    color:#333333; 
    i{
        width:px2rem(39px);
        height:px2rem(33px);
        overflow:hidden;
        float:left; 
        margin-right:px2rem(15px); 
        vertical-align:middle; 
        background-position: top center;
        background-size:100% 100%;
        background-repeat:no-repeat;    
    }

    &.cpjs-tit{
        i{
             background-image:url("../images/pwd_cpjs_icon.png");
        }
    }
    &.fysm-tit{
        i{
             background-image:url("../images/pwd_fysm_icon.png");
        }
    }
    &.yhpj-tit{
        border-bottom:1px solid #eeeeee;
        i{
             background-image:url("../images/pwd_yhpj_icon.png");
        }
    }
}

.pwdetail-yhpj-list-item{
    padding:px2rem(30px) 0;
    margin:0 px2rem(30px);
    border-bottom:1px solid #dcdcdc;
    position: relative;
    .avatar{
        .pic{
            width:px2rem(60px);
            height:px2rem(60px);
            border-radius: 100%;
            float:left;
            overflow:hidden;
            margin-right:px2rem(10px); 
            img{
                width: 100%;
                height:100%; 
            }    
        }
        .name{
            color:#666666;
            padding-top:px2rem(5px);
            font-size:px2rem(24px);
            @include text-overflow-1;  
        }
        .time{
            color:#9c9c9c;
            font-size:px2rem(20px);
            margin-top:px2rem(5px);  
        }
    }
    .say-intro{
        margin-top:px2rem(15px); 
        color:#333333;
        line-height:1.45; 
        font-size:px2rem(24px);  
    }
    .img-list{
        margin-top:px2rem(10px); 
        li{
            float:left;
            margin-right:px2rem(10px); 
            margin-top:px2rem(10px); 
        }
        .pic{
            width:px2rem(147px);
            height:px2rem(147px);
            overflow:hidden;
            position: relative;
            img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                   
            }   
        }
    }
    .comment{
        position: absolute;
        color:#02d289;
        right:0;
        top:px2rem(48px);
        font-size:px2rem(24px); 

    }
}

.pwdetail-qrcode-seat{
	height:px2rem(110px);
}

.pwdetail-ft-nav{
	display:flex;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background:#ffffff;
	height:px2rem(87px);
	overflow:hidden;
    &:after{
        content:"";
        width:100%;
        height:px2rem(2px);
        background:#f3f3f3;
        position: absolute;
        left:0;
        top:0;   
    }
	li{
		flex:1;
		a{
			display:block;
			height:px2rem(87px);
		}
		.pic{
			display:block;
			margin:px2rem(8px) auto 0; 
		}
		.txt{
			font-size:px2rem(26px);
			color:#666666;
			text-align:center;
			margin-top:px2rem(7px);
		}
		&.dp{
			.pic{
				width:px2rem(34px);
				height:px2rem(33px);
				background:url("../images/dianpu_icon.png") no-repeat center center;
				background-size:100% auto;
			}
		}
		&.sc{
			.pic{
				width:px2rem(33px);
				height:px2rem(33px);
				background:url("../images/shouchang.png") no-repeat center center;
				background-size:100% auto;
			}
		}
		&.ljgm-btn{
			flex:2;
			position:relative;
			a{
				background:#ff8844;
                color:#fff;
                height:px2rem(87px);
                line-height:px2rem(87px); 
                font-size:px2rem(30px);
                text-align:center;  

			}
		}
	}
}



.pwdetail-jxtj-list{
    padding:0 px2rem(30px);
    li{
        border-bottom:1px solid #dcdcdc;
        padding:px2rem(30px) 0;
        .pic{
            width:px2rem(200px);
            height:px2rem(160px);
            overflow:hidden;
            float:left;
            margin-right:px2rem(20px);
            img{
                width:100%;
                height:100%;
            } 
        }
        .tit{
            color:#000000;
            padding:px2rem(5px) 0;
            line-height:1.5;
            margin-bottom:px2rem(15px);
            font-size:px2rem(30px);
            @include text-overflow-2;
        }
        .tag {
            margin-top:px2rem(5px); 
            float:left; 
            span {
                
                height: px2rem(36px);
                line-height: px2rem(32px);
                border: px2rem(2px) solid #02d289;
                border-radius: px2rem(4px);
                font-size: px2rem(22px);
                padding: 0 px2rem(10px);
                margin-right: px2rem(10px);
                float:left; 
                &:nth-child(3n+1) {
                    color: #02d289;
                    border-color: #02d289;
                }
                &:nth-child(3n+2) {
                    color: #e9ad0d;
                    border-color: #e9ad0d;
                }
                &:nth-child(3n+3) {
                    color: #31afc2;
                    border-color: #31afc2;
                }
            }
        }
        .price{
            color:#d44d44;
            font-size:px2rem(36px);
            float:right;

            b{
                font-weight: normal;
                font-size:px2rem(28px);
            }
        }   
    }
}
