<div class="mt10 footer">
    <div class="wrap">
        <div class="clear pt20 pb20">
            <dl class="fl ft-weixincode-dl clear">
                <dt class="fl"><img src="img/weixin-code5.jpg" width="72" height="72" alt="小鱼APP"></dt>
                <dd>
                    <div class="font-16">小鱼APP</div>
                    <div class="mt5 font-14 color-666">家居APP全新上线</div>
                    <div class="font-14 color-666">更丰富齐全的装修攻略</div>
                </dd>
            </dl>
            <dl class="fl ft-weixincode-dl clear">
                <dt class="fl"><img src="img/weixin-code3.jpg" width="72" height="72" alt="小鱼家居"></dt>
                <dd>
                    <div class="font-16">小鱼家装</div>
                    <div class="mt5 font-14 color-666">扫微信公众号</div>
                    <div class="font-14 color-666">看案例 获取省钱秘籍</div>
                </dd>
            </dl>
            <dl class="fl ft-weixincode-dl clear">
                <dt class="fl"><img src="img/weixin-code4.jpg" width="72" height="72" alt="微信小号"></dt>
                <dd>
                    <div class="font-16">微信客服号</div>
                    <div class="mt5 font-14 color-666">关注客服微信</div>
                    <div class="font-14 color-666">24小时在线一对一咨询</div>
                </dd>
            </dl>
            <dl class="mt5 fr">
                <dt class="font-16">商务合作</dt>
                <dd class="mt5 font-14 color-666">147-0006-5583（小邱）</dd>
            </dl>
        </div>
        <div class="bts pt20 pb20 text-center color-999">Copyright © 2003-2016 小鱼网 版权所有，并保留所有权利。 闽公网安备35020302000108号 闽ICP备12013448号-2</div>
    </div>
</div>