<div class="mt10 footer">
        <div class="wrap">
            <div class="clear pt20 pb20">
                <dl class="fl ft-weixincode-dl clear">
                    <dt class="fl"><img src="img/weixin-code.jpg" width="72" height="72" alt="小鱼家居" /></dt>
                    <dd>
                        <div class="font-16">小鱼家居</div>
                        <div class="mt5 font-14 color-666">扫码关注，获取省钱秘籍</div>
                        <div class="font-14 color-666">48小时内回复您的装修问题</div>
                    </dd>
                </dl>
                <dl class="fl ft-weixincode-dl clear">
                    <dt class="fl"><img src="img/weixin-code2.jpg" width="80" height="80" alt="居家地带" /></dt>
                    <dd>
                        <div class="font-16">居家地带</div>
                        <div class="mt5 font-14 color-666">扫码关注，</div>
                        <div class="font-14 color-666">轻松打理日常居家生活</div>
                    </dd>
                </dl>
                <dl class="fl mt5 ft-qqservice">
                    <dt class="font-16">QQ咨询</dt>
                    <dd class="mt5">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2452614649&amp;site=qq&amp;menu=yes" target="_blank">
                            <i class="icon icon-qq"></i>
                            <span class="font-14 color-666">小编玫子</span>
                        </a>
                        <a class="ml30" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1768983798&amp;site=qq&amp;menu=yes" target="_blank">
                            <i class="icon icon-qq"></i>
                            <span class="font-14 color-666">小编麦芽</span>
                        </a>
                    </dd>
                </dl>
                <dl class="mt5 fr">
                    <dt class="font-16">商务合作</dt>
                    <dd class="mt5 font-14 color-666">139 5000 4249（卢先生）</dd>
                </dl>
            </div>
            <div class="bts pt20 pb20 text-center color-999">Copyright © 2003-2016 小鱼网 版权所有，并保留所有权利。 闽公网安备35020302000108号 闽ICP备12013448号-2</div>
        </div>
    </div>