<div class="jzhome-ft-bm" id="J_jzhome-ft-bm">
    <div class="jzhome-ft-main">
        <div class="jzhome-ft-hd"><span class="pic"></span><span class="jzhome-ft-arrow" id="J_jzhome-ft-arrow"><b></b></span></div>
        <div class="jzhome-ft-bd">
            <!-- ********************************************** -->
            <div class="mfbj-count-form-wrap clear">
                <div class="mfbj-count-form-box">
                    <p class="tit">免费获取装修报价</p>
                    <div class="item-cell clear">
                        <label class="lab">房屋面积：<i>*</i></label>
                        <div class="para-val para-mj">
                            <input type="text" value="1111" name="mianji" class="ipt-text J_fwmj-input" placeholder="请输入您的房屋面积" />
                            <span class="tag">㎡</span>
                        </div>
                    </div>
                    <div class="item-cell clear">
                        <label class="lab">房屋户型：<i>*</i></label>
                        <div class="para-val para-hx">
                            <select class="sel sel-1" name="selshi">
                                <option value="1">1室</option>
                                <option value="2">2室</option>
                                <option value="3">3室</option>
                            </select>
                            <select class="sel sel-2" name="selting">
                                <option value="1">1厅</option>
                                <option value="2">2厅</option>
                            </select>
                            <select class="sel sel-3" name="selchu">
                                <option value="1">1厨</option>
                                <option value="2">2厨</option>
                                <option value="3">3厨</option>
                            </select>
                            <select class="sel sel-4" name="selwei">
                                <option value="1">1卫</option>
                                <option value="2">2卫</option>
                                <option value="3">3卫</option>
                                <option value="4">4卫</option>
                                <option value="5">5卫</option>
                                <option value="6">6卫</option>
                            </select>
                            <select class="sel sel-5" name="selyang">
                                <option value="1">1阳台</option>
                                <option value="2">2阳台</option>
                                <option value="3">3阳台</option>
                                <option value="4">4阳台</option>
                                <option value="5">5阳台</option>
                                <option value="6">6阳台</option>
                            </select>
                        </div>
                    </div>
                    <div class="item-cell clear">
                        <label class="lab">手机号码：<i>*</i></label>
                        <div class="para-val para-iphone">
                            <input type="text" value="18559160494" name="mjphone" class="ipt-text" placeholder="我们将发送预算明细到您的手机" />
                        </div>
                    </div>
                    <div class="item-cell clear">
                        <label class="lab"><i>*</i></label>
                        <div class="para-val para-tip-1">
                            为了您的权益，您的隐私将被严格保密
                        </div>
                    </div>
                    <div class="validate-tip"></div>
                </div>
                <div class="mfbj-count-dynamics">
                    <div class="soma-hd">您的装修预算<span class="J_dynamics-zxys">?</span>元</div>
                    <div class="soma-bd">
                        <p>材料费：<span class="dynamics-num J_dynamics-clf">?</span>元</p>
                        <p>人工费：<span class="dynamics-num J_dynamics-rgf">?</span>元 </p>
                        <p>设计费：<span class="dynamics-num J_dynamics-sjf">?</span>元 </p>
                        <p>质检费：<span class="dynamics-num J_dynamics-zjf">?</span>元 </p>
                    </div>
                </div>
                <a href="#" class="mfbj-count-btn">
                    <span><b>开始计算</b></span>
                    <i></i>
                </a>
            </div>
            <div class="mfbj-count-result-wrap clear">
                <div class="mfbj-count-result-price">
                    <p class="soma-hd">您家的装修预算约 <span class="J_totalprice">7.17</span>万元</p>
                    <div class="soma-bd">
                        <p>材料费：<span class="price-current J_clprice">56186 </span>元</p>
                        <p>人工费：<span class="price-current J_rgprice">56186 </span>元</p>
                        <p>设计费：<span class="price-current">0</span>元<span class="price-origin">10000元</span></p>
                        <p>质检费：<span class="price-current">0</span>元<span class="price-origin">3800元</span></p>
                    </div>
                </div>
                <div class="mfbj-count-houseinfo">
                    <div class="soma-hd">
                        <span class="tit">完善一下信息</span>
                        <b>让我们更了解您的需求优先为您服务</b>
                    </div>
                    <div class="house-form-box">
                        <p class="para-lab">1、您家费房屋现状是:</p>
                        <ul class="list-1 clear">
                            <li class="item-1">
                                <div class="pic"></div>
                                <p>
                                    <label>
                                        <input type="radio" class="ipt-radio" name="housestatus">毛坯房</label>
                                </p>
                            </li>
                            <li class="item-2">
                                <div class="pic"></div>
                                <p>
                                    <label>
                                        <input type="radio" class="ipt-radio" name="housestatus">旧房翻新</label>
                                </p>
                            </li>
                            <li class="item-3">
                                <div class="pic"></div>
                                <p>
                                    <label>
                                        <input type="radio" class="ipt-radio" name="housestatus">局部改造</label>
                                </p>
                            </li>
                        </ul>
                        <p class="para-lab">2、您家准备什么时候开始装修:</p>
                        <ul class="list-2 clear">
                            <li>
                                <label>
                                    <input type="radio" class="ipt-radio" name="months">一个月内</label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" class="ipt-radio" name="months">两个月内</label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" class="ipt-radio" name="months">两个月以上</label>
                            </li>
                        </ul>
                        <div class="para-address">
                            <label>3、您家小区名称：</label>
                            <input type="text" class="ipt-address">
                        </div>
                        <input type="submit" class="ipt-submit">
                        <div class="validate-tip"></div>
                    </div>
                </div>
            </div>
            <!--20180417***************************************************-->
            <div class="sjybj-mfbj-step1 clear">
                <div class="c-mfbj-forms J_sth">
                    <p class="txt-1">免费抢4套设计方案与报价 </p>
                    <p class="txt-2">今天仅剩<span class="num">88</span>个名额</p>
                    <div class="form-box">
                        <div class="item-cell">
                            <label class="lab">您的姓名</label>
                            <input type="ipt-text" class="ipt-text">
                        </div>
                        <div class="item-cell">
                            <label class="lab">请输入手机号码</label>
                            <input type="text" class="ipt-text">
                        </div>
                        <div class="item-cell">
                            <input type="submit" class="ipt-submit" value="获取方案">
                        </div>
                    </div>
                    <p class="txt-3">已为<span class="num">25864</span>位业主提供专业设计方案</p>
                    <div class="c-mfbj-scroll">
                        <ul class="list">
                            <li>张小姐 1分钟前免费获取4套专业专业设专业设专业设专业设设计方案</li>
                            <li>张小姐 2分钟前免费获取4套专业设计方案</li>
                            <li>张小姐 3分钟前免费获取4套专业设计方案</li>
                            <li>张小姐 4分钟前免费获取4套专业设计方案</li>
                        <li>张小姐 1分钟前免费获取4套专业专业设专业设专业设专业设设计方案</li>
                            <li>张小姐 2分钟前免费获取4套专业设计方案</li>
                            <li>张小姐 3分钟前免费获取4套专业设计方案</li>
                            <li>张小姐 4分钟前免费获取4套专业设计方案</li></ul>
                    </div>
                    <script type="text/javascript">
                    $(function() {
                        $(".c-mfbj-forms .item-cell .lab").on("click", function() {
                            var $this = $(this);
                            $this.hide();
                            $this.siblings(".ipt-text").focus();
                        });
                        $(".c-mfbj-forms .item-cell .ipt-text").on("blur", function() {
                            var $this = $(this);
                            if (!$.trim($this.val())) {
                                $this.siblings(".lab").show();
                            }
                        });
                        $(".c-mfbj-forms.J_sth .ipt-submit").on("click", function() {

                            $(this).parents(".sjybj-mfbj-step1").hide().siblings(".sjybj-mfbj-step2").show();
                        })
                    })
                    </script>
                </div>
                <div class="area-lf">
                    <div class="pic"></div>
                </div>
            </div>
            <!-- ****************************************************** -->
        </div>
    </div>
</div>
<script type="text/javascript">
(function($) {

    $(function() {
        var isClose = true,
            $container = $("#J_jzhome-ft-bm"),
            $arrow = $("#J_jzhome-ft-arrow");

        function supportCss3(style) {
            var prefix = ['webkit', 'Moz', 'ms', 'o'],
                i,
                humpString = [],
                htmlStyle = document.documentElement.style,
                _toHumb = function(string) {
                    return string.replace(/-(\w)/g, function($0, $1) {
                        return $1.toUpperCase();
                    });
                };
            for (i in prefix)
                humpString.push(_toHumb(prefix[i] + '-' + style));
            humpString.push(_toHumb(style));
            for (i in humpString)
                if (humpString[i] in htmlStyle) return true;
            return false;
        }

        if (isClose) {
            $container.on("click", function() {
                if (!!isClose) {
                    if (supportCss3("transform")) {
                        $container.addClass("curr");
                    } else {
                        $container.addClass("hackcurr");
                    }
                    isClose = false;
                    countRandObj.start($container);

                }
            })
        }
        $arrow.on("click", function(event) {
            event.stopPropagation();
            if (!isClose) {
                if (supportCss3("transform")) {
                    $container.removeClass('curr');
                } else {
                    $container.removeClass("hackcurr");
                }
                isClose = true;
                countRandObj.stop();
            } else {
                if (supportCss3("transform")) {
                    $container.addClass('curr');
                } else {
                    $container.addClass("hackcurr");
                }

                isClose = false;
                countRandObj.start($container);

            }
        })
    });



    //add 20180417--基数显示表单 偶数显示计算器
    $(function() {
         var myDate = new Date();
            var day = myDate.getDate();
            if (day % 2) {
                //基数
                $("#J_jzhome-ft-bm .jzhome-ft-hd").addClass('form1');
                $("#J_jzhome-ft-bm .sjybj-mfbj-step1").show();
                $("#J_jzhome-ft-bm .mfbj-count-form-wrap").hide();
                
            } else {
                //偶数
                $("#J_jzhome-ft-bm .jzhome-ft-hd").removeClass('form1');
                $("#J_jzhome-ft-bm .sjybj-mfbj-step1").hide();
                $("#J_jzhome-ft-bm .mfbj-count-form-wrap").show();
            }
        $(window).on("load",function(){
            $("#J_jzhome-ft-bm .jzhome-ft-bd").show();
        })
    })
})(jQuery);
</script>