<!-- 通用表单  网站多个地方公用  start*************************************** -->
<div class="c-mfbj-success-wrap">
    <div class="c-mfbj-success-intro">
        <div class="txt-1"><span>申请成功!</span></div>
        <p class="pic-icon-1"></p>
        <p class="txt-2">您同时还获得1项增值服务</p>
        <p class="txt-3">稍后装修管家将致电您，为您提供免费装修咨询服务。</p>
    </div>
    <div class="c-mfbj-success-qrcode">
        <div class="txt-1">添加装修管家微信</div>
        <div class="qrcode-pic"></div>
        <p class="txt-2">扫码添加小鱼装修管家客服微信，一对一专业服务</p>
    </div>
</div>
<!-- 通用表单  网站多个地方公用  end *************************************** -->