<!-- 通用表单  网站多个地方公用  start*************************************** -->
<div class="c-mfbj-forms">
    <p class="txt-1">免费抢4套设计方案与报价 </p>
    <p class="txt-2">今天仅剩<span class="num">88</span>个名额</p>
    <div class="form-box">
        <div class="item-cell">
            <label class="lab">您的姓名</label>
            <input type="ipt-text" class="ipt-text" />
        </div>
        <div class="item-cell">
            <label class="lab">请输入手机号码</label>
            <input type="text" class="ipt-text" />
        </div>
        <div class="item-cell">
            <input type="submit" class="ipt-submit">
        </div>
    </div>
    <p class="txt-3">已为<span class="num">25864</span>位业主提供专业设计方案</p>
    <p class="txt-4">张小姐 1分钟前免费获取4套专业设计方案</p>
    <script type="text/javascript">
    $(function() {
        $(".c-mfbj-forms .item-cell .lab").on("click", function() {
            var $this = $(this);
            $this.hide();
            $this.siblings(".ipt-text").focus();
        });
        $(".c-mfbj-forms .item-cell .ipt-text").on("blur", function() {
            var $this = $(this);
            if (!$.trim($this.val())) {
                $this.siblings(".lab").show();
            }
        });
        //判处弹出框那个提交按钮
        $(".c-mfbj-forms").not(".J_sth").find(".ipt-submit").on("click", function() {
                layer.open({
                    type:1,
                    title:false,
                    shadeClose:true,
                    area:["376px"],
                    content:$(".c-mfbj-success-wrap")
                })
        })
    })
    </script>
</div>

<!-- 通用表单  网站多个地方公用  end *************************************** -->