<div style="height: 44px">
<div class="nav-panel">
        <div class="wrap">
            <ul class="nav-list clear">
                <li class="fl active"><a class="nav-item" href="javascript:">首页</a></li>
                <li class="fl"><a class="nav-item" href="javascript:">设计与报价<span class="nav-redtip">免费</span></a></li>
                <li class="fl"><a class="nav-item" href="javascript:">装修图库</a></li>
                <li class="fl"><a class="nav-item" href="javascript:">家装日记</a></li>
                <!-- <li class="fl active"><a class="nav-item" href="javascript:">找设计师</a></li> -->
                <li class="fl nav-more">
                    <a class="nav-item" href="javascript:">装修公司<i class="icon-navarrow"></i></a>
                    <div class="nav-dropdown">
                        <a href="#" target="_blank">认证商家</a>
                        <a href="#" target="_blank">设计论坛</a>
                        <a href="#" target="_blank">优惠活动</a>
                    </div>
                </li>
                <li class="fl nav-more">
                    <a class="nav-item" href="javascript:">建材商家<i class="icon-navarrow"></i></a>
                    <div class="nav-dropdown">
                        <a href="#" target="_blank">认证商家</a>
                        <a href="#" target="_blank">建材论坛</a>
                        <a href="#" target="_blank">优惠活动</a>
                        <a href="#" target="_blank">建材超市</a>
                    </div>
                </li>
                <li class="fl nav-more">
                    <a class="nav-item" href="javascript:">装修论坛<i class="icon-navarrow"></i></a>
                    <div class="nav-dropdown">
                        <a href="#" target="_blank">家装日记</a>
                        <a href="#" target="_blank">装修讨论</a>
                        <a href="#" target="_blank">家装互助</a>
                        <a href="#" target="_blank">装修论坛</a>
                        <a href="#" target="_blank">建材论坛</a>
                        <a href="#" target="_blank">居家生活</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <style type="text/css">
    .nav-panel.fixed{
        position:fixed;
        left:0;
        top:0;
        width:100%;
        background:#fff;
        z-index: 100;
        box-shadow:0 0 15px #666;    
    }
</style>

<script type="text/javascript">
    $(function(){
        var offsetT=$(".nav-panel").offset().top;
        $(window).on("scroll",function(){
            var t=$(this).scrollTop();
            if(t>=offsetT){
                $(".nav-panel").addClass('fixed');
            }else{
                $(".nav-panel").removeClass('fixed');
            }
        })
    })
</script> -->