<div class="wrap search-wrap clear">
        <a class="fl home-logo" href="/" target="_parent">小鱼家居</a>
        <div class="fl sc-panel clear">
            <div class="fl sc-con clear">
                <div class="fl sc-select relative">
                    <a class="sc-sort text-center" href="javascript:void(0)"><span class="color-666">装修日记</span><i class="icon-scarrow"></i></a>
                    <ul class="sc-sort-list">
                        <li><a href="javascript:void(0)">装修日记</a></li>
                        <li><a href="javascript:void(0)">装修讨论</a></li>
                        <li><a href="javascript:void(0)">家装图库</a></li>
                        <li><a href="javascript:void(0)">设计公司</a></li>
                        <li><a href="javascript:void(0)">家装建材</a></li>
                    </ul>
                </div>
                <div class="fl relative">
                    <input class="sc-inp yahei" type="text" /><span class="inp-note">请输入...</span></div>
            </div>
            <button class="fl sc-btn yahei">搜索</button>
        </div>
         <a class="jz_qa_entry" href="/home/yuncle"></a>
</div>