content
<div class="header-banner"></div>
<div class="wrap-container">
    <div class="wrap">
        <div class="zh-area-1 clearfix">
            <div class="zh-intro">
                <div class="tit-type-1"><span class="txt icon-zhjs">展会介绍</span></div>
                <div class="con">
                    <p>海峡旅游博览会（简称“海峡旅博会”）由中国国家旅游局、福建省人民政府联合主办，福建省旅游局、厦门市人民政府共同承办。经过十二届的培育发 展，海峡旅博会已成为落地厦门，立足两地四地，辐射东南亚、海丝沿线国家和地区的重要品牌展会，是目前大陆唯一面向两岸旅游业界的品牌展会也 是推进“海上丝绸之路旅游核心区”建设的重要载体，对厦门正在推进的打造千亿产业链和国际会展名城建设亦有着重要的推动作用。</p>
                    <p>中国（厦门）国际休闲旅游博览会简称休闲旅博会，是由厦门建发国旅集团主办，福建省旅游局指导，厦门市旅游局、厦门市人民政府外事侨务办公室、厦门市会议展览事 务局共同支持，以休闲旅游为主题的国际性博览会，已成功举办二届。展会以国际性港口风景旅游城市厦门为举办地，主动衔接和融入福建自贸试验区和 “一带一路”发展大机遇，的有效平台。展会以国际性港口风景旅游城市厦门为举办地，主动衔接和融入福建自贸试验区和 “一带一路”发展大机遇，的有效平台。</p>
                </div>
            </div>
            <div class="zh-news">
                <div class="tit-type-1"><span class="txt icon-zhzx">展会资讯</span><a href="#" class="more">更多资讯>></a></div>
                <ul>
                    <li class="sort"><a href="#"><span><i>1</i>斯里兰卡确认参展SWTF2017斯里兰卡确认参展SWTF2017</span></a></li>
                    <li class="sort"><a href="#"><span><i>2</i>斯里兰卡确认参展SWTF2017斯里兰卡确认参展SWTF2017</span></a></li>
                    <li class="sort"><a href="#"><span><i>3</i>斯里兰卡确认参展SWTF2017斯里兰卡确认参展SWTF2017</span></a></li>
                    <li><a href="#"><span><i>4</i>斯里兰卡确认参展SWTF2017斯里兰卡确认参展SWTF2017</span></a></li>
                    <li><a href="#"><span><i>5</i>斯里兰卡确认参展SWTF2017斯里兰卡确认参展SWTF2017</span></a></li>
                    <li><a href="#"><span><i>6</i>斯里兰卡确认参展SWTF2017斯里兰卡确认参展SWTF2017</span></a></li>
                </ul>
            </div>
        </div>
        <!-- 展会采访 -->
        <div class="zh-interview">
            <div class="tit-type-1"><span class="txt icon-zhcf">展会采访</span></div>
            <div class="slide-gallery">
                <div class="scroll-wrap clearfix" id="J_scroll-wrap" style="position:relative;margin:0 auto;top:0px;left:0px;width:1098px;height:380px;overflow:hidden;visibility:hidden;">
                    <div class="list clearfix" data-u="slides">
                        <div class="item">
                            <a href="#" target="_blank">
                                <span class="pic"><img data-u="image" src="./images/upload/gallery_11.jpg"></span>
                                <span class="txt">新郎新娘要这样穿才美新郎新娘要这样穿才美 新郎新娘要这样穿才美新郎新娘要这样穿才美</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <span class="pic"><img data-u="image" src="./images/upload/gallery_12.jpg"></span>
                                <span class="txt">新郎新娘要这样穿才美新郎新娘要这样穿才美 新郎新娘要这样穿才美新郎新娘要这样穿才美</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <span class="pic"><img data-u="image" src="./images/upload/gallery_13.jpg"></span>
                                <span class="txt">新郎新娘要这样穿才美新郎新娘要这样穿才美 新郎新娘要这样穿才美新郎新娘要这样穿才</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <span class="pic"><img data-u="image" src="./images/upload/gallery_14.jpg"></span>
                                <span class="txt">新郎新娘要这样穿才美新郎新娘要这样穿才美 新郎新娘要这样穿才美新郎新娘要这样穿才</span>
                            </a>
                        </div>
                          <div class="item">
                            <a href="#" target="_blank">
                                <span class="pic"><img src="./images/upload/gallery_14.jpg"></span>
                                <span class="txt">新郎新娘要这样穿才美新郎新娘要这样穿才美 新郎新娘要这样穿才美新郎新娘要这样穿才</span>
                            </a>
                        </div>

                    </div>
                    <div class="dir-l-area">
                        <span class="dir-btn dir-l" data-u="arrowleft" data-autocenter="2"></span>
                    </div>
                    <div class="dir-r-area">
                        <span class="dir-btn dir-r" data-u="arrowright" data-autocenter="2"></span>
                    </div>
                </div>

            </div>
        </div>
        <!-- 图片速递 -->
        <div class="zh-delivery">
            <div class="tit-type-1"><span class="txt icon-tpsd">图片速递</span></div>
            <div class="delivery-pics clearfix" id="J_delivery-pics">

                <ul class="list" id="J_delivery-list">
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_1.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_2.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_3.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_4.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_5.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_6.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_1.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_2.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_3.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_4.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_5.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_6.jpg') no-repeat center"></a>
                    </li>
                    <li>
                        <a href="#" style="background:url('./images/upload/sfq_1.jpg') no-repeat center"></a>
                    </li>

                </ul>
                <span class="dir-btn dir-l"></span>
                <span class="dir-btn dir-r"></span>
            </div>

        </div>
        <!--  -->
        <div class="zh-area-2 clearfix">
            <div class="zh-activity">
                <div class="tit-type-1"><span class="txt icon-zyhd">主要活动</span></div>
                <div class="con-pic">
                    <span class="pic"><img src="./images/upload/pic_zyhd.jpg"  id="activity-pic" /></span>
                    <div class="zoomout-sign" data-rela="#activity-pic">
                        <span class="icon-seach">点击放大</span>
                    </div>
                </div>
            </div>
            <div class="zh-map">
                <div class="tit-type-1"><span class="txt icon-zhdt">展会地图</span></div>
                <div class="con-pic">
                    <span class="pic"><img src="./images/upload/pic_map.jpg" id="map-pic" /></span>
                    <div class="zoomout-sign" data-rela="#map-pic">
                        <span class="icon-seach">点击放大</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




</div>


