a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin:0;
    padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display:block
}
ol, ul {
    list-style:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
body, button, input, select, textare {
    font:14px/1.5 Tahoma, Helvetica, Arial, "\5FAE\8F6F\96C5\9ED1", sans-serif
}
button, input, select, textarea {
    font-size:100%
}
blockquote, q {
    quotes:none
}
blockquote:after, blockquote:before, q:after, q:before {
    content:'';
    content:none
}
.clearfix:after, .swiper-lazy-preloader:after {
    content:""
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
fieldset, img {
    border:none
}
address, cite, dfn, em, var {
    font-style:normal
}
code, kbd, pre, samp, tt {
    font-family:"Courier New", Courier, monospace
}
small {
    font-size:12px
}
.clearfix:after {
    display:table;
    clear:both
}
html {
    color:#000;
    background:#fff;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
html * {
    outline:0;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent
}
body, html {
    overflow:hidden;
     width:100%;
    height:100%;
}






.container{
	width:750px;
	margin: 0 auto;
	position: relative; 
}



@-webkit-keyframes rotating {
    from {
        -webkit-transform:rotate(0)
    }
    to {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes rotating {
    from {
        transform:rotate(0)
    }
    to {
        transform:rotate(360deg)
    }
}
.rotating {
    -webkit-animation:rotating 1.2s linear infinite;
    -moz-animation:rotating 1.2s linear infinite;
    -o-animation:rotating 1.2s linear infinite;
    animation:rotating 1.2s linear infinite
}


.rotating {
    -webkit-animation: rotating 1.2s linear infinite;
    -moz-animation: rotating 1.2s linear infinite;
    -o-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}
.auto-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 20;
    width: .86667rem;
    height: .86667rem;
    cursor: pointer;
    &.off {
    	background: url(https://img4.99.com/www/images/uedc/xz2017/normalmusic.png);
    	background-size: 100% 100%;
	}
}

