a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin:0;
    padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display:block
}
ol, ul {
    list-style:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
body, button, input, select, textare {
    font:14px/1.5 Tahoma, Helvetica, Arial, "\5FAE\8F6F\96C5\9ED1", sans-serif
}
button, input, select, textarea {
    font-size:100%
}
blockquote, q {
    quotes:none
}
blockquote:after, blockquote:before, q:after, q:before {
    content:'';
    content:none
}
.clearfix:after, .swiper-lazy-preloader:after {
    content:""
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
fieldset, img {
    border:none
}
address, cite, dfn, em, var {
    font-style:normal
}
code, kbd, pre, samp, tt {
    font-family:"Courier New", Courier, monospace
}
small {
    font-size:12px
}
.clearfix:after {
    display:table;
    clear:both
}
html {
    color:#000;
    background:#fff;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
html * {
    outline:0;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent
}
body, html {
    overflow:hidden;
     width:100%;
    height:100%;
}

.container{
	max-width:750px;
	margin: 0 auto;
	position: relative; 
}



@-webkit-keyframes rotating {
    from {
        -webkit-transform:rotate(0)
    }
    to {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes rotating {
    from {
        transform:rotate(0)
    }
    to {
        transform:rotate(360deg)
    }
}
.rotating {
    -webkit-animation:rotating 1.2s linear infinite;
    -moz-animation:rotating 1.2s linear infinite;
    -o-animation:rotating 1.2s linear infinite;
    animation:rotating 1.2s linear infinite
}


.rotating {
    -webkit-animation: rotating 1.2s linear infinite;
    -moz-animation: rotating 1.2s linear infinite;
    -o-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}
.auto-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 20;
    width: 0.86667rem;
    height: 0.86667rem;
    cursor: pointer;
    z-index:1000;
    background: url("../images/normalmusic.png");
    background-size: 100% 100%;
    &.off {
    	
	}
}
@function px2rem($px, $base-font-size:75px) {
    @if (unitless($px)) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
        @return px2rem($px + 0px); // That may fail.
    }
    @else if (unit($px)==rem) {
        @return $px;
    }
    @return ($px / $base-font-size) * 1rem;
}


@import "./scss/_page1.scss";

@import "./scss/_page2.scss";


.item-form-cell{
    color:#666666;
    font-size:0;
    .labfor{
        font-size:px2rem(28px);
    }

}

.item-cell-next{
    .next-btn{
        display:block;
        width:px2rem(460px);
        height:px2rem(81px);
        overflow: hidden;
        background:url("../images/next_btn_1.png") no-repeat center center;
        background-size:100% 100%;
    }
}
.com-ipt-radio{
    -webkit-appearance: none;
    width: px2rem(30px);
    height: px2rem(30px);
    border: 1px solid #9a8680;
    text-align: center;
    vertical-align: middle;
    margin-top:-0.5px; 
    outline: 0;
    border-radius:100%;
    position:relative;
    &:checked{
        background:#ff7b5b;
        border-color:#ff7b5b; 
        &:before{
            position:absolute;
            content:"";
            left:0;
            top:0;
            width: px2rem(30px);
            height: px2rem(30px);
            background:url("../images/raido_checkbox.png") no-repeat -1px top;
            background-size:100% 100%;
        }
    }

}