.swhz-top-tip{
        background:#fffaed;
        border-bottom: 1px solid #f3e1b1;
        padding:px2rem(30px);
        position:relative;
        .txt-1{
            @include font-dpr(16px);
            color:#b76d04;
            
        }
}
.swhz-form-box{
	 @include font-dpr(16px);
	 color:#666666;
	padding:px2rem(30px) px2rem(30px) 0;
	.item{
		margin-bottom: px2rem(30px);
	}
	.item-checkbox{
		position:relative;
		padding-left: px2rem(260px);
		.para-tit{
			position:absolute;
			left:0;
			top:0;
		}
		.para-val{
			position:relative;
			z-index:10;
			label{
				display:block;
				padding-bottom:px2rem(15px);
			}
		}
	}
}


.swhz-success-tip{
	padding-top: px2rem(100px);
	.pic{
		width: px2rem(355px);
		height: px2rem(351px);
		overflow:hidden;
		background:url("../images/swhz_success_icon.jpg") no-repeat;
		background-size: 100% 100%;
		margin:0 auto;
	}
	.txt-1{
		color:#333333;
		@include font-dpr(20px);
		text-align:center;
		margin-top: px2rem(50px);
	}
	.txt-2{
		color:#888888;
		@include font-dpr(16px);
		text-align:center;
		margin-top: px2rem(25px);
	}
}



